@charset "UTF-8";
@import "func";
// 动画
.animated {
    animation-duration: 0.6s;
    animation-fill-mode: both;
}

@-webkit-keyframes rotating {
    from {
        opacity: 1;
        -webkit-transform: rotateZ(0deg);
        transform: rotateZ(0deg);
    }
    to {
        opacity: 1;
        -webkit-transform: rotateZ(360deg);
        transform: rotateZ(360deg);
    }
}

@keyframes rotating {
    from {
        opacity: 1;
        -webkit-transform: rotateZ(0deg);
        transform: rotateZ(0deg);
    }
    to {
        opacity: 1;
        -webkit-transform: rotateZ(360deg);
        transform: rotateZ(360deg);
    }
}



@-webkit-keyframes zoomIn {
    0% {
        opacity: 1;
        -webkit-transform: scale3d(0.0, 0.0, 0.0);
        transform: scale3d(0.0, 0.0, 0.0);
    }
    100% {
        -webkit-transform: scale3d(1.0, 1.0, 1.0);
        transform: scale3d(1.0, 1.0, 1.0);
        opacity: 1;
    }
}

@keyframes zoomIn {
    0% {
        opacity: 1;
         -webkit-transform: scale3d(0.0, 0.0, 0.0);
        transform: scale3d(0.0, 0.0, 0.0);
    }
    100% {
        -webkit-transform: scale3d(1.0, 1.0, 1.0);
        transform: scale3d(1.0, 1.0, 1.0);
        opacity: 1;
    }
}

.zoomIn {
    @extend .animated;
    animation-duration: 0.8s;
    -webkit-animation-name: zoomIn;
    animation-name: zoomIn;
}