@charset "UTF-8";
@import "../../../sass/func";
.icon-block {
    display: block;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.icon-inline-block {
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.icon-btn {
	@extend .icon-block;
	@include icon-background('../images/btn.png', 546px, 128px);
}

.icon-pop0 {
	@extend .icon-block;
	@include icon-background('../images/pop0.png', 269px, 241px);
}
.icon-pop1 {
	@extend .icon-block;
	@include icon-background('../images/pop1.png', 269px, 207px);
}
.icon-pop2 {
	@extend .icon-block;
	@include icon-background('../images/pop2.png', 269px, 210px);
}
.icon-masker-txt {
	@extend .icon-block;
	@include icon-background('../images/masker_txt.png', 610px, 96px);
}

// .label-bg {
// 	@include icon-background('../images/index_timeline_title_bg.png', 296px, 62px);
// 	@extend .icon-block;
// }

.index-icon1 {
    @include icon-background('../images/index_icon_1.png', 30px, 30px);
    @extend .icon-inline-block;
}

.index-icon2 {
    @include icon-background('../images/index_icon_2.png', 30px, 30px);
    @extend .icon-inline-block;
}

.index-icon3 {
    @include icon-background('../images/index_icon_3.png', 30px, 30px);
    @extend .icon-inline-block;
}


.icon-bracket {
    @extend .icon-inline-block;
    @include icon-background('../images/bracket.png', 34px, 30px);
}

.icon-go {
    @extend .icon-inline-block;
    @include icon-background('../images/btn-go.png', 160px, 160px);
}
