@charset "UTF-8";
@import "variables";
@import "sprite";
@import "../../../sass/func";
@import "../../../sass/reset";
html,
body {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
    font-family: "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    background-color: $bg-orange;
}

.scroll-active {
    -webkit-overflow-scrolling: touch !important;
}

a {
    text-decoration: none;
}

.scroll {
    max-width: 414px;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    overflow: scroll;
    position: relative;
    background-color: $bg-orange;
    .content {
        padding-bottom: pxToRem(98px);
        width: 100%;
    }
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    // left: 50%;
    // max-width: 414px;
    // transform: translate(-50%, 0);
    background-color: $bg-orange-light;
    height: pxToRem(98px);
    line-height: pxToRem(98px);
    font-size: 0;
    z-index: 999;
    a {
        display: inline-block;
        width: 25%;
        height: 100%;
        text-align: center;
        font-size: pxToRem(30px);
        color: #fffbe8;
        &.active {
            background-color: #ef8406;
        }
    }
}

.masker {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .7);
    z-index: 999;
}

//btn
.btn-orange {
    @extend .icon-btn;
    color: #fff;
    line-height: pxToRem(110px);
    font-size: pxToRem(34px);
    margin: 0 auto;
}

//font
.font-orange {
    color: #ff5500 !important;
}

// popup
.popup {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    $top: 15%;
    .popup-wrapper {
        position: absolute;
        top: $top;
        left: 50%;
        width: pxToRem(610px);
        margin-left: pxToRem(-610px /2);
        max-height: 70%;
        // background-color: #fff;
        z-index: 1000;
        border-radius: pxToRem(30px);
        background-color: #fffcf0;
        // overflow: hidden;
        &.more {
            height: pxToRem(970px);
            .popup-content {
                position: absolute;
                top: pxToRem(100px);
                bottom: 0;
                left: 0;
                right: 0;
                padding-bottom: pxToRem(56px);
            }
            &:after {
                content: '';
                @extend .icon-masker-txt;
                position: absolute;
                bottom: 0;
                left: 0;
                border-bottom-left-radius: pxToRem(30px);
                border-bottom-right-radius: pxToRem(30px);
                z-index: 1111;
            }
            &:before {
                content: "";
                @include icon-background('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAATBAMAAAC0B+rjAAAAJFBMVEUAAAD8eDT8eDT8eDT8eDT8eDT8eDT8eDT8eDT8eDT8eDT8eDS9xPZPAAAADHRSTlMA/RXUkEla5nNHJxeUcVZ0AAAAMElEQVQI12PgZgCD5Q5gaqIImGIVhHADieGyCTaAKGVhBSDJZGhEDIch0QiiF8wBABkUB6BnlrRMAAAAAElFTkSuQmCC', 20px, 40px);
                @extend .icon-block;
                position: absolute;
                bottom: pxToRem(20px);
                left: 50%;
                margin-left: pxToRem(-6px);
                z-index: 1112;
                transform: rotate(90deg);
            }
        }
        .icon {
            position: absolute;
            left: 50%;
            bottom: pxToRem(-118px);
            margin-left: pxToRem(-269px/2);
        }
    }
    .popup-close {
        position: absolute;
        right: 0;
        height: 100%;
        width: pxToRem(100px);
        border-top-right-radius: pxToRem(30px);
        .close {
            position: absolute;
            width: pxToRem(52px);
            height: pxToRem(52px);
            top: 50%;
            left: 50%;
            margin-left: pxToRem(-52px /2);
            margin-top: pxToRem(-52px /2);
            border-radius: pxToRem(52px);
            background-color: #fffcf0;
            &:before {
                content: '';
                position: absolute;
                top: 50%;
                left: 50%;
                margin-left: pxToRem(-14px);
                margin-top: pxToRem(-2px);
                display: block;
                width: pxToRem(28px);
                height: pxToRem(4px);
                border-radius: pxToRem(4px);
                transform: rotate(45deg);
                background-color: #fc7734;
            }
            &:after {
                content: '';
                position: absolute;
                top: 50%;
                left: 50%;
                margin-top: pxToRem(-14px);
                margin-left: pxToRem(-2px);
                display: block;
                height: pxToRem(28px);
                width: pxToRem(4px);
                border-radius: pxToRem(4px);
                transform: rotate(45deg);
                background-color: #fc7734;
            }
        }
    }
    .popup-header {
        position: relative;
        // top: $top;
        // left: 50%;
        width: pxToRem(610px);
        // margin-left: pxToRem(-610px /2);
        background: url(../images/pop_header.png) no-repeat center;
        background-size: 100% 100%;
        background-color: #fc7734;
        height: pxToRem(100px);
        line-height: pxToRem(100px);
        border-top-left-radius: pxToRem(30px);
        border-top-right-radius: pxToRem(30px);
        text-align: center;
        color: #fff;
        font-size: pxToRem(34px);
        z-index: 1000;
        &:after {
            content: attr(data-title);
        }
    }
    .popup-content {
        // position: absolute;
        // top: $top;
        // left: 50%;
        // width: pxToRem(610px);
        // margin-left: pxToRem(-610px /2);
        // margin-top: pxToRem(100px);
        // max-height: 70%;
        // height: 100%;
        width: 100%;
        margin-top: pxToRem(30px);
        padding: pxToRem(30px) pxToRem(48px);
        padding-top: 0;
        // bottom: 0;
        box-sizing: border-box;
        border-bottom-left-radius: pxToRem(30px);
        border-bottom-right-radius: pxToRem(30px);
        background-color: #fffcf0;
        overflow: auto;
        z-index: 1000;
        text-align: justify;
        // box-shadow: 0 pxToRem(-78px) pxToRem(78px) black inset;
        // .popup-content {
        //  width: 100%;
        //  height: 100%;
        //  overflow: scroll;
        //  z-index: 1000;
        // }
        // &.more {
        // 
        // }
        p {
            font-size: pxToRem(26px);
            line-height: pxToRem(48px);
            color: #424242;
            margin-bottom: pxToRem(20px);
        }
        .icon-block {
            margin: 0 auto;
            margin-bottom: pxToRem(20px);
        }
    }
}

.popup-icon {
    .popup-content {
        padding: pxToRem(110px) pxToRem(32px) pxToRem(22px);
        text-align: center;
        p {
            font-size: pxToRem(34px);
            line-height: initial;
            &.percent {
                font-size: pxToRem(86px);
                color: #ff5500;
                &:after {
                    content: '%';
                    color: #ff5500;
                    font-size: pxToRem(44px);
                }
            }
        }
        .btn-orange {
            margin-top: pxToRem(20px);
            margin-bottom: 0;
        }
    }
}

.title-heart {
    position: relative;
    &:before {
        content: "";
        @include icon-background('../images/txt-heart.png', 40px, 44px);
        @extend .icon-block;
        position: absolute;
        right: pxToRem(-50px);
        top: 50%;
        margin-top: pxToRem(-20px);
    }
    &:after {
        content: "";
        @include icon-background('../images/txt-heart.png', 40px, 44px);
        @extend .icon-block;
        position: absolute;
        left: pxToRem(-50px);
        top: 50%;
        margin-top: pxToRem(-20px);
        transform: rotateY(180deg);
    }
}

.to-start {
    color: #fd7a33;
    text-align: center;
    width: 100%;
    font-weight: bold;
    span {
        position: relative;
        &:before {
            content: "";
            @extend .icon-bracket;
            // @extend .icon-block;
            // @include icon-background('../images/bracket.png', 33px, 29px);
            position: absolute;
            top: pxToRem(-20px);
            left: pxToRem(-50px);
        }
        &:after {
            content: "";
            @extend .icon-bracket;
            // @extend .icon-block;
            // @include icon-background('../images/bracket.png', 33px, 29px);
            position: absolute;
            top: pxToRem(-20px);
            right: pxToRem(-50px);
            transform: rotate(180deg);
        }
    }
}

.no-pro {
    @include background('../images/presale_bg1.png', 674px, 758px);
    // @extend .icon-block;
    display: none;
    margin: auto;
    // position: relative;
    &:before {
        width: pxToRem(225px);
        height: pxToRem(236px);
        margin-left: pxToRem(-113px);
        top: 30%;
    }
    .to-start {
        font-size: pxToRem(40px);
    }
}

.ts-cont {
    position: relative;
    &:before {
        content: "";
        // @include background('../images/icon_chair.png', 225px, 236px);
        background: url('../images/icon_chair.png') no-repeat;
        background-size: contain;
        position: absolute;
        left: 50%;
        // top: 30%;
        // margin-left: pxToRem(-113px);
    }
    .to-start {
        // font-size: pxToRem(40px);
        position: absolute;
        left: 0;
        top: 68%;
    }
}

.act-time {
    // width: pxToRem(356px);
    // height: pxToRem(40px);
    // line-height: pxToRem(40px);
    // border-radius: pxToRem(40px);
    // background-color: #fffbe8;
    // color: #fc7934;
    font-size: pxToRem(24px);
    color: #fffbe8;
    text-align: center;
    display: block;
    margin-top: pxToRem(26px);
}

.md {
    font-size: 0;
    margin-bottom: pxToRem(38px);
    text-align: center;
    .act-time {
        display: inline-block;
        // line-height: pxToRem(36px);
        vertical-align: middle;
        // height: pxToRem(36px);
        margin-top: 0;
    }
    .check-rule {
        color: #f16c26;
        font-size: 0;
        display: inline-block;
        vertical-align: middle;
        line-height: pxToRem(36px);
        height: pxToRem(36px);
        margin-left: pxToRem(36px);
        border-radius: pxToRem(18px);
        background-color: #fee13d;
        width: pxToRem(142px);
        text-align: center;
        .rule-text {
            font-size: pxToRem(22px);
            display: inline-block;
            vertical-align: middle;
        }
        .icon-arrow {
            vertical-align: middle;
            margin-left: pxToRem(10px);
        }
    }
}

.icon-arrow {
    @include icon-background('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAATBAMAAAC0B+rjAAAAJFBMVEUAAAD8eDT8eDT8eDT8eDT8eDT8eDT8eDT8eDT8eDT8eDT8eDS9xPZPAAAADHRSTlMA/RXUkEla5nNHJxeUcVZ0AAAAMElEQVQI12PgZgCD5Q5gaqIImGIVhHADieGyCTaAKGVhBSDJZGhEDIch0QiiF8wBABkUB6BnlrRMAAAAAElFTkSuQmCC',
    11px,
    19px);
    @extend .icon-inline-block;
}

.btn-share {
    background-image: url("../images/icon-share.png");
    width: pxToRem(74px);
    height: pxToRem(114px);
    position: absolute;
    right: pxToRem(-2px);
    // top: 50%;
    // transform: translateY(-44%);
    // background-position: 100% 50% ;
}
