@charset "UTF-8";
@import "variables";
// @import "sprite";
// @import "../../../sass/reset";
@import "../../../sass/func";
.pre-cont {
    padding-top: pxToRem(56px);
    * {
        box-sizing: border-box;
    }
    span,
    ul,
    li {
        display: inline-block;
    }
}

.icon-pre-txt {
    @include background('../images/presale-txt.png', 610px, 54px);
    // @extend .icon-block;
    margin: auto;
    margin-bottom: pxToRem(24px);
}


/* .act-time {
    width: pxToRem(356px);
    height: pxToRem(40px);
    line-height: pxToRem(40px);
    border-radius: pxToRem(40px);
    background-color: #fffbe8;
    font-size: pxToRem(22px);
    color: #fc7934;
    text-align: center;
    margin: auto;
    display: block;
    margin-top: pxToRem(26px);
} */

.pre-desc {
    width: 100%;
    margin-top: pxToRem(40px);
    padding: 0 pxToRem(36px);
    color: #fffbe8;
    // font-size: pxToRem(24px);
    text-align: justify;
    // line-height: 1.5;
    font-size: 0;
    span {
        width: 100%;
        font-size: pxToRem(24px);
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .txt-g {
        color: #deff27;
        text-align: center;
        margin-top: pxToRem(20px);
    }
}

.pro-cont {
    width: 100%;
    margin-top: pxToRem(40px);
    // .no-pro {
    //     @include background('../images/presale_bg1.png', 674px, 758px);
    //     // @extend .icon-block;
    //     display: none;
    //     margin: auto;
    //     // position: relative;
    //     &:before {
    //         width: pxToRem(225px);
    //         height: pxToRem(236px);
    //         margin-left: pxToRem(-113px);
    //         top: 30%;
    //     }
    //     .to-start {
    //         font-size: pxToRem(40px);
    //     }
    // }
}

// .ts-cont {
//     position: relative;
//     &:before {
//         content: "";
//         // @include background('../images/icon_chair.png', 225px, 236px);
//         background: url('../images/icon_chair.png') no-repeat;
//         background-size: contain;
//         position: absolute;
//         left: 50%;
//         // top: 30%;
//         // margin-left: pxToRem(-113px);
//     }
//     .to-start {
//         // font-size: pxToRem(40px);
//         position: absolute;
//         left: 0;
//         top: 68%;
//     }
// }

.pro-wrapper {
    // display: none;
}

.pro-list {
    width: 100%;
    padding: 0 pxToRem(40px);
    font-size: 0;
    // display: none;
    &>li:nth-child(2n-1) {
        margin-right: pxToRem(30px);
    }
    &>li:nth-child(n+3) {
        margin-top: pxToRem(30px);
    }
}

.pro-item {
    @include background('../images/item-bg.png',
    317px,
    349px);
    display: inline-block;
    text-align: center;
    padding-top: pxToRem(30px);
    font-size: 0;
    // margin-top: pxToRem(30px);
    vertical-align: bottom;
    // span {
    //     width: 100%;
    // }
    .pro-title {
        font-size: pxToRem(30px);
        color: #333;
        width: 100%;
    }
    .pro-benefit {
        font-size: pxToRem(40px);
        color: #fd7a33;
        margin-top: pxToRem(40px);
        width: 100%;
    }
    .pro-txt {
        font-size: pxToRem(22px);
        color: #b2b2b2;
        width: 100%;
        font {
            color: #333;
            margin-left: pxToRem(10px);
        }
    }
    .pro-txt1 {
        margin-top: pxToRem(20px);
    }
    .pro-txt2 {
        margin-top: pxToRem(40px);
    }
    .btn-item-active {
        line-height: pxToRem(80px);
        // font-size: pxToRem(30px);
        color: #ffffff;
        text-align: center;
        margin: auto;
        @include background('../images/btn-item.png', 256px, 98px);
    }
    .btn-get {
        font-size: pxToRem(30px);
    }
    .btn-countdown {
        font-size: pxToRem(26px);
    }
    .btn-disable {
        width: pxToRem(220px);
        height: pxToRem(60px);
        line-height: pxToRem(60px);
        border-radius: pxToRem(60px);
        text-align: center;
        font-size: pxToRem(30px);
        color: #b2b2b2;
        background-color: #ebebeb;
        margin: auto;
        margin-top: pxToRem(20px);
    }
    .item-ts {
        width: 100%;
        height: 100%;
        &:before {
            width: pxToRem(134px);
            height: pxToRem(141px);
            margin-left: pxToRem(-67px);
            top: 20%;
        }
        .to-start {
        	font-size: pxToRem(28px);
        	top: 76% !important;
        }
        
    }
}

.icon-list {
	@include background('../images/icon-list.png?v=2016121201', 150px, 140px);
	position: absolute;
	right: pxToRem(10px);
	bottom: pxToRem(124px);
    animation: breath 2s linear infinite;
	// display: none;
}