@charset "UTF-8";
@import "variables";
@import "sprite";
@import "../../../sass/reset";
@import "../../../sass/func";
html,
body {
    position: relative;
    // height: 100%;
    // width: 100%;
    // overflow: hidden;
    font-family: "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-overflow-scrolling: touch !important;
}

a {
    text-decoration: none;
}

.scroll .content.page-content {
    padding-top: pxToRem(56px);
    margin: auto;
    .title {
        width: pxToRem(610px);
        height: pxToRem(54px);
        background-image: url("../images/share-title.png");
        margin: auto;
        margin-bottom: pxToRem(24px);
    }
    .md {
        font-size: 0;
        margin-bottom: pxToRem(78px);
        text-align: center;
        position: relative;
        .act-time {
            display: inline-block;
            line-height: pxToRem(36px);
            vertical-align: middle;
            height: pxToRem(36px);
            margin-top: 0;
        }
        .check-rule {
            color: #f16c26;
            font-size: 0;
            display: inline-block;
            vertical-align: middle;
            line-height: pxToRem(36px);
            height: pxToRem(36px);
            margin-left: pxToRem(36px);
            border-radius: pxToRem(18px);
            background-color: #fee13d;
            width: pxToRem(142px);
            text-align: center;
            .rule-text {
                font-size: pxToRem(22px);
                display: inline-block;
                vertical-align: middle;
            }
            .icon-arrow {
                vertical-align: middle;
                margin-left: pxToRem(10px);
            }
        }
        .btn-share {
            background-image: url("../images/icon-share.png");
            width: pxToRem(74px);
            height: pxToRem(114px);
            position: absolute;
            right: pxToRem(-2px);
            top: 50%;
            transform: translateY(-44%);
            // background-position: 100% 50% ;
        }
    }
    .lottery-num {
        font-size: pxToRem(24px);
        color: #fff;
        width: pxToRem(372px);
        height: pxToRem(62px);
        line-height: pxToRem(62px);
        margin: auto;
        text-align: center;
        background-image: url("../images/hexagon.png");
        margin-bottom: pxToRem(48px);
        font {
            margin: 0 pxToRem(8px);
            color: #ddff25;
        }
    }
    .scratch-item {
        width: pxToRem(696px);
        height: pxToRem(272px);
        background-image: url("../images/bg-scratch.png");
        margin: auto;
        margin-top: pxToRem(20px);
        position: relative;
        font-size: 0;
        vertical-align: middle;
        .icon-lottery {
            background-image: url("../images/icon-lottery.png");
            width: pxToRem(140px);
            height: pxToRem(80px);
            z-index: 99;
            position: absolute;
            top: pxToRem(14px);
            left: pxToRem(10px);
        }
        .icon-flag {
            
            width: pxToRem(140px);
            height: pxToRem(80px);
            z-index: 99;
            position: absolute;
            top: pxToRem(14px);
            left: pxToRem(10px);
            // display: none;
            &.icon-get {
                background-image: url("../images/icon-get.png");
            }
            &.icon-renren {
                background-image: url("../images/icon-renren.png");
            }
        }
        .scratch-wrapper {
            position: relative;
            top: pxToRem(12px);
            left: pxToRem(12px);
            width: pxToRem(460px);
            height: pxToRem(246px);
            padding: pxToRem(20px) pxToRem(30px);
            box-sizing: border-box;
            z-index: 9;
            display: inline-block;
            .scratch-cover {
                background-image: url("../images/bg-interest-ticket-cover.png");
                width: pxToRem(404px);
                height: pxToRem(206px);
                position: absolute;
                top: pxToRem(20px);
                left: pxToRem(30px);
                z-index: 9999;
            }
            .scratch-area {
                // background-image: url("../images/bg-interest-ticket-cover.png");
                width: pxToRem(404px);
                height: pxToRem(206px);
                position: absolute;
                top: pxToRem(20px);
                left: pxToRem(30px);
                z-index: 999;
                // display: none;
                // background-color: #fff;
                .scratch-area-cover {
                    height: 100%;
                    width: 100%;
                    z-index: 99;
                }
            }
            .ticket-get {
                background-image: url("../images/bg-interest-ticket-get.png");
                width: pxToRem(404px);
                height: pxToRem(206px);
                text-align: center;
                .award-init {
                    font-size: pxToRem(60px);
                    color: #fff55b;
                    text-align: center;
                    font-weight: bold;
                    line-height: pxToRem(206px);
                }
                .award {
                    color: #fff55b;
                    font-size: 0;
                    line-height: pxToRem(206px);
                    text-align: center;
                    font-weight: bold;
                    font {
                        font-size: pxToRem(72px);
                        display: inline-block;
                        vertical-align: middle;
                    }
                    &:after {
                        content: "";
                        background-image: url("../images/icon-privilege.png");
                        width: pxToRem(102px);
                        height: pxToRem(76px);
                        display: inline-block;
                        background-size: contain;
                        background-repeat: no-repeat;
                        vertical-align: middle;
                        margin-left: pxToRem(16px);
                    }
                }
            }
        }
        .scratch-right {
            display: inline-block;
            width: pxToRem(208px);
            height: pxToRem(246px);
            vertical-align: middle;
            padding-top: pxToRem(32px);
            position: relative;
            float: right;
            right: pxToRem(12px);
            top: pxToRem(12px);
            box-sizing: border-box;
            text-align: center;
            .right-wrapper {
                display: inline-block;
                .text {
                    font-size: pxToRem(28px);
                    color: #f86b29;
                    font-weight: bold;
                    text-align: center;
                }
            }
        }
    }
    .tip {
        font-size: pxToRem(24px);
        line-height: pxToRem(40px);
        width: pxToRem(684px);
        margin: auto;
        color: #fff;
        margin-bottom: pxToRem(30px);
        margin-top: pxToRem(42px);
    }
}

.sharecont {
    z-index: 9999;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    display: none;
    .smask {
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        z-index: 999;
        transform: translateZ(0);
        display: none;
    }
    .icon-share {
        @include background('../images/share.png',
        628px,
        488px);
        position: absolute;
        top: pxToRem(30px);
        right: pxToRem(30px);
    }
    .share-popup {
        width: 100%;
        height: 100%;
        background-color: #F6F7F8;
        font-size: pxToRem(24px);
        position: relative;
        /* left: 0;
        right: 0;
        bottom: 0; */
        color: #212121;
        padding-top: pxToRem(70px);
        text-align: center;
        .stxt {
            width: 100%;
            height: pxToRem(100px);
            line-height: pxToRem(100px);
            padding: 0 pxToRem(100px);
            box-sizing: border-box;
            b {
                background: #d1d1d1;
                width: 25%;
                height: 1px;
                margin-top: pxToRem(50px);
            }
            &>b:first-child {
                float: left;
            }
            &>b:last-child {
                float: right;
            }
        }
        .iconcont {
            width: 100%;
            height: pxToRem(200px);
            display: flex;
            display: -webkit-box;
            margin-top: pxToRem(50px);
            &>div {
                width: pxToRem(250px);
                text-align: center;
            }
            span {
                width: 100%;
                margin-top: pxToRem(30px);
                display: inline-block;
            }
        }
        .social-share-icon {
            position: relative;
            width: pxToRem(100px);
            height: pxToRem(100px);
            border-radius: pxToRem(100px);
            border: 1px solid #e6e6e6;
            background-color: #fff;
            margin: auto;
            display: block;
            i {
                position: absolute;
                left: 50%;
                top: 50%;
            }
        }
        .icon-sina {
            @include background('../images/icon-sina.png',
            59px,
            46px);
            margin-left: pxToRem(-30px);
            margin-top: pxToRem(-23px);
        }
        .icon-tenc {
            @include background('../images/icon-qq.png',
            48px,
            54px);
            margin-left: pxToRem(-24px);
            margin-top: pxToRem(-27px);
        }
        .icon-zone {
            @include background('../images/icon-zone.png',
            56px,
            54px);
            margin-left: pxToRem(-28px);
            margin-top: pxToRem(-27px);
        }
        .cancle-share {
            margin-top: pxToRem(30px);
            .icon-close {
                @include background('../images/icon-close.png',
                28px,
                28px);
                margin-left: pxToRem(-14px);
                margin-top: pxToRem(-14px);
            }
        }
    }
}
