node_modules/
.tmp/
dist/
.DS_Store
activity/cashRedPack20170417/images/bg-got.png
activity/cashRedPack20170417/images/bg-redface.png
activity/cashRedPack20170417/images/bg-result.jpg
activity/cashRedPack20170417/images/btn-download.png
activity/cashRedPack20170417/images/close-b.png
activity/cashRedPack20170417/images/images-land/circular.png
activity/cashRedPack20170417/images/images-land/download.png
activity/cashRedPack20170417/images/images-land/icon1.png
activity/cashRedPack20170417/images/images-land/icon2.png
activity/cashRedPack20170417/images/images-land/icon3.png
activity/cashRedPack20170417/images/images-land/line.png
