@charset "UTF-8";
@import "variables";
@import "../../../sass/func";
@import "func";
.m-content {
    // background-image: url('../images/icon1.png'), url('../images/icon2.png'), url('../images/icon3.png'), url('../images/bg.png');
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAH4AAAAlBAMAAAB2RECPAAAAJFBMVEUAAADXzrHXzrHXzrHXzrHXzrHXzrHXzrHXzrHXzrHXzrHXzrEE/vAOAAAADHRSTlMAQBAvIEpkPFhXUHQ3H2pwAAABRUlEQVRIx52Uz0rDQBCHv03Sip624slT4oZW8FJCCx4jLbXeCnvwWooP4EW8FnwEQa/6FL6ebU1a6IbIzHcKZGa+3+bP0EhkOSZDggsmDhEQljtkOIxSXzccWshxSHG4YJbEH9l9k1Po+xiyWp8MsVL/Eout9FPmSLlJDabSl/EaMSssttKPkdPdBqj0C9AEOMfWelWAODW5Wg9PFHimvKDjdBjnk7w8eaYV02vgAsDjR55XgLumIks7ndHDvR+064Oh3/VFCT/Fp/uA5HD38qj6H/8sfxssQH/+nmesPX9n9/zVrx9PwSNTblGx0afx1eb7S9ZoeKegwDFhjoJuGacm3S0/VYAVBbbafjPl31dv32ip1kOG4xoh/dT86QEbyfdvgt33GDLEGAw1VqQPe2KMXH92NE5CWG+k+i36AF/hxJQmfgGQli11x2n/wgAAAABJRU5ErkJggg=='), url('../images/icon2.png'), url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAukAAAEnBAMAAADm4MBhAAAAFVBMVEUAAADXzrHXzrHXzrHXzrHXzrHXzrH6TOfGAAAAB3RSTlMAQCAQMFRwYV2UUwAAAktJREFUeNrswYEAAAAAgKD9qRepAgAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAADg9u0mSW0YCMPw1x6SddtOZQ0+Aa7SAUjIAZL7XybFT0YgeWwUjVnMvM9SCxaf2lJbMgAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAPO6lneTCin4JT7fZC09nwvMdhedz3du0nZBYOfWm7dXQv6wu3IXe6cSIfWWmG50u7CCs6eUm4J3+GYUCP4pfK3d7XTVbvWKNKXm730uyrniiekkaFBkvTw/7prOmV5FY6hR7uVFXm4PKDbPvrLSTb2hi1mPdtpoX+062FSb8VNRXH8gM6eozCAunh1Z9IGPpFDQU++K67BULTP4LzgZ7kfblzTYv1bE96fQAm5tF41D4YkxTsIna9fInJTJSz3gSapbwseyeyOfWHKeHj3VnczdxJlndRZ6TemJIl3LLS7Wk1k25IZ2SoE/O0+JzpbykOMPcTBh3rLcNyzDT+Mmksb3T600+t+oEUj+zNAar/ObC5wadI7GzkAYblPOSZ4fUc8t51KVuIvV3Sj3Upm7xiaKJSfa5OJCwd0rd+FBspqerSD2QenXq5cuwk/qykPYex1VT5wPgghOSutTjsHOHTep11k89aEI75aBJf9qT3+nAsg952Zenzj8C1pNvasN1UyX11eV3a/z75f817WO+69XXOJD70mb8L0UoIr8XI5i5AAAAAElFTkSuQmCC'),url('../images/halo-purple.png'), url('../images/bg.png');
    background-size: pxToRem(126px) pxToRem(37px), pxToRem(707px) pxToRem(326px), pxToRem(745px) pxToRem(295px), contain, pxToRem(72px) pxToRem(37px);
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, repeat;
    background-position: 95% 15%, right 67%, right 74%, 0 0, 0 0;
    width: 100%;
    height: 100%;
    position: relative;
    padding-top: pxToRem(120px);
}

.icon-logo {
    @include background('../images/icon-logo.png',
    189px,
    62px);
    position: absolute;
    left: pxToRem(30px);
    top: pxToRem(20px);
}

.anit {
    .icon-walk {
        animation: walk 1.5s steps(9) both infinite;
    }
    .icon-moon {
        animation: rotate 8s linear both infinite;
    }
}

.moon-container {
    width: 100%;
    height: percent(660);
    background-image: url('../images/halo.png');
    // background-size: pxToRem(588px) pxToRem(587px), pxToRem(657px) pxToRem(658px);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    // &:before {
    //     content: "";
    //     position: absolute;
    //     left: 50%;
    //     top: 50%;
    //     @include adapBackground('../images/halo-purple.png', 621px, 631px);
    //     height: percent(631, 660);
    //     transform: translate(-50%, -50%);
    // }
    .icon-circle {
        @include adapBackground('../images/circle.png',
        588px,
        587px);
        height: percent(587, 660);
        transform: translate(-50%, -50%);
        position: absolute;
        left: 50%;
        top: 50%;
        &:before {
            content: "";
            @include adapBackground('../images/moon-light.png',
            750px,
            478px);
            height: percent(478, 587);
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-52%, -50%);
        }
    }
    // &:before {
    //     content: "";
    //     @include adapBackground('../images/circle.png',
    //     588px,
    //     587px);
    //     height: percent(587, 660);
    //     transform: translate(-50%, -50%);
    //     position: absolute;
    //     left: 50%;
    //     top: 50%;
    // }
    // &:after {
    //     content: "";
    //     @include adapBackground('../images/moon-light.png', 201px, 298px);
    //     height: percent(298, 660);
    //     position: absolute;
    //     left: 49%;
    //     top: 16%;
    // }
    .icon-moon {
        @include adapBackground('../images/moon.png',
        558px,
        559px);
        height: percent(559, 660);
        position: absolute;
        left: 50%;
        top: 50%;
        // margin-left: pxToRem(-279px);
        // margin-top: pxToRem(-279px);
        transform: translate(-50%, -50%);
        // animation: rotate 8s linear both infinite;
    }
    .icon-walk {
        // width: pxToRem(200px);
        // top: pxToRem(-120px);
        // margin-left: pxToRem(-100px);
        @include adapBackground('../images/people1.png',
        136px,
        250px);
        height: percent(100, 559);
        position: absolute;
        left: 50%;
        transform: translate(-50%, -20%);
        // animation: walk 1.5s steps(9) both infinite;
    }
}

.icon-txt1 {
    @include adapBackground('../images/m-text.png',
    531px,
    320px);
    height: percent(320);
    margin: auto;
    margin-top: pxToRem(50px);
}

.s-content {
    background-image: url('../images/icon2.png'), url('../images/bg.png');
    background-size: pxToRem(707px) pxToRem(326px), pxToRem(72px) pxToRem(37px);
    background-repeat: no-repeat, repeat;
    background-position: right 90%, 0 0;
    width: 100%;
    height: 100%;
    position: relative;
}

.st-container {
    @include adapBackground('../images/moon-part.png',
    750px,
    1019px);
    height: percent(1019);
    background-size: 100% 100%;
    position: relative;
    .s-txt1 {
        @include adapBackground('../images/txt3.png',
        609px,
        588px);
        height: percent(588, 962);
        position: absolute;
        left: 50%;
        top: pxToRem(30px);
        transform: translate(-50%, 0);
    }
}

.s-btn {
    @include background('../images/icon-btn.png',
    390px,
    77px);
    margin: auto;
    margin-top: pxToRem(50px);
    position: relative;
    .icon-people {
        @include adapBackground('../images/people1.png',
        87px,
        160px);
        height: percent(160, 77);
        position: absolute;
        left: 50%;
        transform: translate(-50%, -100%);
        // height: percent(160)
         animation: walk 1.5s steps(9) both infinite;
    }
}

@keyframes walk {
    0%,
    23%,
    100% {
        background-image: url('../images/people1.png');
    }
    25%,
    48%,
    75%,
    98% {
        background-image: url('../images/people2.png');
    }
    50%,
    73% {
        background-image: url('../images/people3.png');
    }
}

@-webkit-keyframes walk {
    0%,
    23%,
    100% {
        background-image: url('../images/people1.png');
    }
    25%,
    48%,
    75%,
    98% {
        background-image: url('../images/people2.png');
    }
    50%,
    73% {
        background-image: url('../images/people3.png');
    }
}

@keyframes rotate {
    from {
        transform: translate(-50%, -50%) rotate(0);
        -webkit-transform: translate(-50%, -50%) rotate(0);
    }
    to {
        transform: translate(-50%, -50%) rotate(-360deg);
        -webkit-transform: translate(-50%, -50%) rotate(-360deg);
    }
}

@-webkit-keyframes rotate {
    from {
        transform: translate(-50%, -50%) rotate(0);
        -webkit-transform: translate(-50%, -50%) rotate(0);
    }
    to {
        transform: translate(-50%, -50%) rotate(-360deg);
        -webkit-transform: translate(-50%, -50%) rotate(-360deg);
    }
}

@keyframes up {
    from {
        transform: translate(0, 0);
        -webkit-transform: translate(0, 0);
        opacity: 1;
    }
    to {
        transform: translate(0, -100%);
        -webkit-transform: translate(0, -100%);
        opacity: 0;
    }
}

@-webkit-keyframes up {
    from {
        transform: translate(0, 0);
        -webkit-transform: translate(0, 0);
        opacity: 1;
    }
    to {
        transform: translate(0, -100%);
        -webkit-transform: translate(0, -100%);
        opacity: 0;
    }
}
