@charset "UTF-8";
@import "variables";
@import "sprite";
@import "../../../sass/reset";
@import "../../../sass/func";
@import "./animation.scss";
html,
body {
    position: relative;
    // height: 100%;
    // width: 100%;
    // overflow: hidden;
    font-family: "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a {
    text-decoration: none;
}

div {
    box-sizing: border-box;
}

i,
span {
    display: inline-block;
}

i {
    background-size: 100% 100%;
}

@mixin mborder($pos, $color) {
    position: relative;
    @if $pos=='top' {
        &:before {
            content: "";
            position: absolute;
            #{$pos}: 0px;
            left: 0px;
            right: 0px;
            border-#{$pos}: 1px solid $color;
            transform: scaleY(.5);
            transform-origin: 0 0;
        }
    }
    @else if $pos=='bottom' {
        &:after {
            content: "";
            position: absolute;
            #{$pos}: 0px;
            left: 0px;
            right: 0px;
            border-#{$pos}: 1px solid $color;
            transform: scaleY(.5);
            transform-origin: 0 0;
        }
    }
    @else if $pos=='left' {
        &:before {
            content: "";
            position: absolute;
            top: 0px;
            bottom: 0px;
            #{$pos}: 0px;
            border-#{$pos}: 1px solid $color;
            transform: scaleX(.5);
            transform-origin: 0 0;
        }
    }
    @else {
        &:after {
            content: "";
            position: absolute;
            top: 0px;
            bottom: 0px;
            #{$pos}: 0px;
            border-#{$pos}: 1px solid $color;
            transform: scaleX(.5);
            transform-origin: 0 0;
        }
    }
}

.content {
    background-color: $background-color-red;
    width: 100%;
    overflow: hidden;
}

.headcont {
    // @include background('../images/bg1.png',750px,696px);
    background-image: url('../images/bg1.png');
    width: 100%;
    height: pxToRem(699px);
    background-size: cover;
    background-color: $background-color-red;
}

.icon-title-big {
    position: absolute;
    left: 50%;
    top: pxToRem(84px);
    margin-left: pxToRem(-290px);
    @include background('../images/big_title.png',
    581px,
    310px);
}

.iconscont {
    width: 100%;
    min-height: pxToRem(400px);
    position: absolute;
    top: pxToRem(386px);
    // left: pxToRem(36px); 
    i {
        position: absolute;
    }
}

.icon-tuandai {
    @include background('../images/soldier.png',
    313px,
    350px);
    left: pxToRem(36px);
    top: 0;
}

.icon-redpag1 {
    @include background('../images/redpacker1.png',
    63px,
    107px);
    left: pxToRem(282px);
    top: pxToRem(210px);
}

.icon-computer1 {
    @include background('../images/computer1.png',
    115px,
    88px);
    right: pxToRem(144px);
    top: pxToRem(228px);
}

.icon-phone1 {
    @include background('../images/iphone1.png',
    80px,
    96px);
    left: pxToRem(368px);
    top: pxToRem(210px);
}

.icon-robot1 {
    @include background('../images/robot1.png',
    53px,
    135px);
    right: pxToRem(54px);
    top: pxToRem(200px);
}

.icon-subtitle {
    @include background('../images/sub_title.png',
    351px,
    91px);
    right: pxToRem(54px);
    top: pxToRem(12px);
}

.bodycont {
    width: 100%;
    background-color: $background-color-red;
    min-height: pxToRem(200px);
    padding: pxToRem(100px) 0 pxToRem(50px) 0;
}

.xrcont {
    width: 100%;
    .icon-title1 {
        @include background('../images/title1.png',
        608px,
        116px);
        margin: auto;
    }
    .icon-xrtitle {
        @include background('../images/sub_title2.png',
        696px,
        38px);
        margin: auto;
        margin-top: pxToRem(50px);
    }
}

.lotcont {
    width: pxToRem(711px);
    height: pxToRem(448px);
    background-color: #af1611;
    border-radius: 5px;
    margin: auto;
    margin-top: pxToRem(70px);
    position: relative;
    padding: pxToRem(12px) 0;
    &>li {
        width: 100%;
        display: flex;
        display: -webkit-box;
        margin-top: pxToRem(16px);
    }
    .lotitem {
        width: pxToRem(161px);
        height: pxToRem(131px);
        margin-left: pxToRem(13px);
        // background-image: url('../images/block_blue.png');
        background-size: cover;
        position: relative;
        font-size: pxToRem(20px);
        i {
            position: absolute;
            left: 50%;
            top: 50%;
        }
        span {
            width: 100%;
            text-align: center;
            position: absolute;
            left: 0;
            right: 0;
            bottom: pxToRem(10px);
        }
    }
    .lotbtn {
        width: pxToRem(335px);
        height: pxToRem(131px);
        margin-left: pxToRem(13px);
        background-color: #d1403b;
        border-radius: 5px;
        position: relative;
    }
    .active {
        background-image: url('../images/hover.png') !important;
        color: #ffde50 !important;
    }
    .icon-yellow {
        background-image: url('../images/block_yellow.png');
        color: #ad710a;
    }
    .icon-green {
        background-image: url('../images/block_green.png');
        color: #156f36;
    }
    .icon-blue {
        background-image: url('../images/block_blue.png');
        color: #1273b1;
    }
    .icon-redpacket8 {
        @include background('../images/redpacket8.png',
        48px,
        61px);
        margin-left: pxToRem(-24px);
        margin-top: pxToRem(-40px);
    }
    .icon-lamb {
        @include background('../images/lamb.png',
        96px,
        49px);
        margin-left: pxToRem(-48px);
        margin-top: pxToRem(-35px);
    }
    .icon-globe {
        @include background('../images/globe.png',
        63px,
        76px);
        margin-left: pxToRem(-32px);
        margin-top: pxToRem(-48px);
    }
    .icon-clock {
        @include background('../images/clock.png',
        141px,
        45px);
        margin-left: pxToRem(-70px);
        margin-top: pxToRem(-33px);
    }
    .icon-iphone2 {
        @include background('../images/iphone2.png',
        56px,
        73px);
        margin-left: pxToRem(-28px);
        margin-top: pxToRem(-47px);
    }
    .icon-machine {
        @include background('../images/bread_machine.png',
        76px,
        69px);
        margin-left: pxToRem(-38px);
        margin-top: pxToRem(-45px);
    }
    .icon-robot2 {
        @include background('../images/robot2.png',
        52px,
        79px);
        margin-left: pxToRem(-26px);
        margin-top: pxToRem(-50px);
    }
    .icon-cleaner {
        @include background('../images/water_cleaner.png',
        40px,
        80px);
        margin-left: pxToRem(-20px);
        margin-top: pxToRem(-50px);
    }
    .icon-printer {
        @include background('../images/printer.png',
        91px,
        56px);
        margin-left: pxToRem(-45px);
        margin-top: pxToRem(-38px);
    }
    .icon-heater {
        @include background('../images/water_heater.png',
        44px,
        79px);
        margin-left: pxToRem(-22px);
        margin-top: pxToRem(-50px);
    }
    .icon-lotterybtn {
        @include background('../images/lottery_btn.png',
        241px,
        74px);
        margin-left: pxToRem(-120px);
        margin-top: pxToRem(-37px);
        position: absolute;
        left: 50%;
        top: 50%;
    }
}

.billboardcont {
    @include background('../images/list.png',
    695px,
    514px);
    margin: auto;
    margin-top: pxToRem(34px);
    padding: 0 pxToRem(50px);
    padding-top: pxToRem(140px);
    text-align: center;
    position: relative;
    .icon-bname1 {
        @include background('../images/list_title.png',
        186px,
        43px);
    }
    .bname {
        position: absolute;
        left: 50%;
        top: pxToRem(36px);
        margin-left: pxToRem(-105px);
    }
    .icon-bname2 {
        @include background('../images/list_title2.png',
        186px,
        42px);
        // position: absolute;
        // left: 50%;
        // top: pxToRem(36px);
        // margin-left: pxToRem(-105px);
    }
    .btitle {
        font-weight: bold;
    }
    .bitem {
        font-size: pxToRem(24px);
        color: #b92b26;
        display: flex;
        display: -webkit-box;
        height: pxToRem(60px);
        line-height: pxToRem(60px);
        &>div:not(:nth-child(2)) {
            width: pxToRem(148px);
            
        }
        &>div:nth-child(2) {
            width: pxToRem(299px);
        }
        
    }
    .citem {
        &>div {
             @include ellipsis();
             text-align: center !important;
        }
    }
    .listcont {
        width: 100%;
        height: pxToRem(300px);
        overflow: hidden;
    }
    .listbody {
        width: 100%;
        // height: pxToRem(300px);
        // overflow: hidden;
        &>li {
            // @extend .border-top;
            @include mborder('top',
            #b92b26);
        }
    }
}

.rulecont {
    font-size: pxToRem(20px);
    color: #fff2d7;
    padding: 0 pxToRem(36px);
    margin-top: pxToRem(30px);
    line-height: pxToRem(30px);
    span {
        font-weight: bold;
    }
    .ritem {
        width: 100%;
        display: flex;
        display: -webkit-box;
        text-align: justify;
        &>div:first-child {
            width: 5%;
        }
        &>div:last-child {
            width: 95%;
        }
    }
}

.qmcont {
    margin-top: pxToRem(70px);
    width: 100%;
    .icon-title2 {
        @include background('../images/sub_title3.png',
        696px,
        38px);
        margin: auto;
    }
}

.turntablecont {
    @include background('../images/dial_bottom.png',
    659px,
    720px);
    margin: auto;
    margin-top: pxToRem(60px);
    position: relative;
    z-index: 1;
    .turntable {
        @include background('../images/dial.png',
        613px,
        608px);
        position: absolute;
        left: 50%;
        top: pxToRem(24px);
        margin-left: pxToRem(-306px);
        z-index: 2;
    }
    .startbtn {
        @include background('../images/dial_center.png',
        257px,
        173px);
        position: absolute;
        left: 37%;
        top: 33.6%;
        // margin-left: pxToRem(-128px);
        z-index: 3;
    }
}

.qmtips {
    width: pxToRem(360px);
    height: pxToRem(60px);
    line-height: pxToRem(60px);
    font-size: pxToRem(20px);
    text-align: center;
    border: 1px solid #ffe6b1;
    border-radius: pxToRem(30px);
    color: #ffe6b1;
    margin: auto;
    margin-top: pxToRem(30px);
}

$table-border-color: #fff2d7;
.tcont {
    width: pxToRem(510px);
    height: pxToRem(120px);
    font-size: pxToRem(16px);
    color: $table-border-color;
    text-align: center;
    line-height: pxToRem(30px);
    margin: pxToRem(20px) auto;
    @include mborder('top',
    $table-border-color);
    @include mborder('bottom',
    $table-border-color);
    li {
        width: 100%;
        height: pxToRem(30px);
        display: flex;
        display: -webkit-box;
        &>div:first-child {
            width: pxToRem(270px);
            @include mborder('right',
            $table-border-color);
            @include mborder('left',
            $table-border-color);
        }
        &>div:last-child {
            width: pxToRem(240px);
            @include mborder('right',
            $table-border-color);
        }
    }
    &>li:not(:last-child) {
        @include mborder('bottom',
        $table-border-color);
    }
}

.icon-bg2 {
    @include background('../images/bg2.png',
    750px,
    47px);
}

.bottomcont {
    width: 100%;
    min-height: pxToRem(100px);
    background-color: #feedd0;
    padding: pxToRem(30px) 0 pxToRem(150px) 0;
    .icon-title3 {
        @include background('../images/title2.png',
        608px,
        116px);
        margin: auto;
    }
}

.detcont {
    display: flex;
    display: -webkit-box;
    padding: pxToRem(30px);
    text-align: center;
    .icon-redpag-tuandai {
        @include background('../images/redpacket2.png',
        387px,
        280px);
    }
    &>div:first-child {
        width: pxToRem(400px);
    }
    &>div:last-child {
        width: pxToRem(290px);
    }
    // span {
    // 	width: 100%;
    // 	text-align: center;
    // }
    .txt1 {
        font-size: pxToRem(36px);
        color: #f4423c;
        font-weight: bold;
        height: pxToRem(40px);
        line-height: pxToRem(60px);
    }
    .txt2 {
        font-size: pxToRem(18px);
        color: #e36b00;
        height: pxToRem(26px);
        .num {
            color: #ff0b16;
        }
    }
    .sharebtn {
        @include background('../images/btn.png',
        270px,
        61px);
        margin: pxToRem(20px) auto;
    }
}

$share-color: #ba1f1a;
.sharerule {
    color: $share-color !important;
    .stcont {
        width: pxToRem(510px);
        height: pxToRem(120px);
        font-size: pxToRem(16px);
        color: $share-color;
        text-align: center;
        line-height: pxToRem(30px);
        margin: pxToRem(20px) auto;
        @include mborder('top',
        $share-color);
        @include mborder('bottom',
        $share-color);
        li {
            width: 100%;
            height: pxToRem(30px);
            display: flex;
            display: -webkit-box;
            &>div:first-child {
                width: pxToRem(270px);
                @include mborder('right',
                $share-color);
                @include mborder('left',
                $share-color);
            }
            &>div:last-child {
                width: pxToRem(240px);
                @include mborder('right',
                $share-color);
            }
        }
        &>li:not(:last-child) {
            @include mborder('bottom',
            $share-color);
        }
    }
}

.float-bottom {
    width: pxToRem(750px);
    height: pxToRem(100px);
    background-color: #ffde00;
    color: #f4322b;
    font-size: pxToRem(34px);
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    display: -webkit-box;
    text-align: center;
    // line-height: pxToRem(60px);
    font-weight: bold;
    padding: pxToRem(30px) 0;
    z-index: 10;
    &>div {
        width: pxToRem(250px);
        height: 100%;
    }
    &>div:not(:last-child) {
        @include mborder('right',
        #f4322b);
    }
    a {
        color: #f4322b !important;
    }
}

.mask {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 20;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 999;
    transform: translateZ(0);
    display: none;
}

.masker {
    width: 100%;
    height: 100%;
    z-index: 99;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.popup {
	position: absolute;
	left: 50%;
	top: 20%;
	margin-left: pxToRem(-301px);
	font-size: pxToRem(34px);
	color: #f5e4c8;
	text-align: center;
	line-height: pxToRem(46px);
	padding: 0 pxToRem(55px);
	z-index: 1000;
}
.redpag-popup {
	@include background('../images/popup3.png', 602px, 490px);
	padding: 0 !important;
	color: #fff15a;
	span {
		font-size: pxToRem(28px);
		color: #f5e4c8;
		width: 100%;
		height: pxToRem(90px);
		line-height: pxToRem(100px);
		font-weight: bold;
	}
	.pag-bg {
		width: pxToRem(160px);
		height: pxToRem(181px);
		position: absolute;
		bottom: pxToRem(130px);
		border-radius: 5px;
	}
	.selected {
		background-color: #ffc435;
	}
	.cont-left {
		left: pxToRem(30px);
	}
	.cont-right {
		right: pxToRem(30px);
	}
	.cont-center {
		left: 50%;
		margin-left: pxToRem(-80px);
	}
	.icon-redpackage {
		@include background('../images/redpacket_bg.png', 140px, 161px);
		position: absolute;
		left: 50%;
		top: 50%;
		margin-left: pxToRem(-70px);
		margin-top: pxToRem(-80px);
		font-size: pxToRem(38px);
		line-height: pxToRem(200px);
	}
	.dot {
		width: pxToRem(50px);
		height: pxToRem(50px);
		border-radius: pxToRem(50px);
		background-color: #ff0800;
		line-height: pxToRem(50px);
		color: #fff15a;
		font-size: pxToRem(36px);
		position: absolute;
		top: pxToRem(-14px);
		right: pxToRem(-8px);
	}

}
.spopup {
    padding-top: pxToRem(60px) !important;
}

.tips-popup {
    @include background('../images/popup1.png',
    602px,
    426px);
    padding-top: pxToRem(130px);
}
.btn-popup {
	@include background('../images/popup2.png', 602px, 426px);
	padding-top: pxToRem(110px);
}
.disable-popup,.disable-popup2,.xspresent-popup,.xslimit-popup, .redpag-popup, .pick-popup {
	display: none;
}
.popbtn {
	position: absolute;
	bottom: pxToRem(30px);
	color: #fff;
	text-align: center;
	font-size: pxToRem(28px);
	line-height: pxToRem(67px);
}
.btn-left {
	left: pxToRem(60px);
}
.btn-right {
	right: pxToRem(60px);
}
.btn-center {
	left: 50%;
	margin-left: pxToRem(-107px);
}
.btn-yellow {
	@include background('../images/btn2.png', 214px, 67px);
	// line-height: pxToRem(67px);
}
.btn-orange {
	@include background('../images/btn3.png', 214px, 67px);
	// line-height: pxToRem(67px);
}
.btn-grey {
	@include background('../images/disbtn.png', 214px, 67px);
}


.closecont {
    position: absolute;
    right: pxToRem(50px);
    top: 12%;
    width: pxToRem(100px);
    height: pxToRem(100px);
    .icon-close {
        @include background('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACEAAAAgBAMAAABulgz5AAAAJ1BMVEUAAAD///7///7///7///7///7///7///7///7///7///7///7///4VXAU4AAAADHRSTlMAVbvu3SKIZswRmXccrFFiAAAAiklEQVQoz13RwQnCUBAG4YkQ0FvABuR14NmbBytIAa8EwQ6swBLsJm0lh/wMmz0u32GHZZjAGTsMd3DmDlwnJC+oaP5DRQ0qOt0gSBIkCQoRSUQhohBRiChE9OUw5+W4aZ/9cIus24l1FlXUrJMESURGi8andf4oyB+JQoIeIaIu8c2FbODNr24urKHcECTRawI6AAAAAElFTkSuQmCC',
        33px,
        32px);
        position: absolute;
        left: 50%;
        top: 50%;
    }
}
.share-popup {
    @include background('../images/share.png', 628px, 488px);
    position: absolute;
    top: pxToRem(30px);
    right: pxToRem(30px);
    display: none;
}
.rcommonts {
    width: 100%;
    text-align: center;
    font-size: pxToRem(20px);
    color: #B6B6B6;
    margin-top: pxToRem(40px);
}
