@charset "UTF-8";
@import "variables";
@import "../../../sass/func";
.icon-block {
    display: block;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.icon-inline-block {
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.icon-l-title {
	@include icon-background('../images/l-title.png', 478px, 44px);
	@extend .icon-inline-block;
}



