@charset "UTF-8";
@import "variables";
@import "sprite";
@import "../../../sass/reset";
@import "../../../sass/func";
html,
body {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
    font-family: "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-overflow-scrolling: touch !important;
}

a {
    text-decoration: none;
}
* {
    box-sizing: border-box;
}
i, span, ul, li {
    display: inline-block;
}
.content {
    width: 100%;
    height: 100%;
}
.page {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
}
.m-page {
    background-image: url('../images/bg-main.png');
}
.icon-logo {
    @include background('../images/icon-logo.png', 212px, 90px);
    position: absolute;
    left: pxToRem(20px);
    top: 0;
}
.icon-title-m {
    @include background('../images/title-m.png', 661px, 119px);
    position: absolute;
    height: percent(119, $designHeight);
    left: 50%;
    top: percent(120, $designHeight);
    transform: translateX(-50%);
}
.icon-mainbox {
    @include background('../images/icon-mainbox.png', 664px, 683px);
    height: percent(683, $designHeight);
    position: absolute;
    right: pxToRem(16px);
    bottom: percent(220, $designHeight);
    z-index: 20;
}