@charset "UTF-8";
@import "../../../sass/func";
.animated {
    animation-duration: 0.6s;
    animation-fill-mode: both;
}

$perspective: 500px;
@-webkit-keyframes flip {
    0% {
        -webkit-transform: perspective($perspective) rotateX(0deg);
        transform: perspective($perspective) rotateX(0deg);
    }
    100% {
        -webkit-transform: perspective($perspective) rotateX(90deg);
        transform: perspective($perspective) rotateX(90deg);
    }
}

@keyframes flip {
    0% {
        -webkit-transform: perspective($perspective) rotateX(0deg);
        transform: perspective($perspective) rotateX(0deg);
    }
    100% {
        -webkit-transform: perspective($perspective) rotateX(90deg);
        transform: perspective($perspective) rotateX(90deg);
    }
}

// .flip {
//     @extend .animated;
//     animation-duration: 0.8s;
//     -webkit-animation-name: flip;
//     animation-name: flip;
// }
@-webkit-keyframes flipover {
    0% {
        -webkit-transform: perspective($perspective) rotateX(-90deg);
        transform: perspective($perspective) rotateX(-90deg);
    }
    100% {
        -webkit-transform: perspective($perspective) rotateX(0deg);
        transform: perspective($perspective) rotateX(0deg);
    }
}

@keyframes flipover {
    0% {
        -webkit-transform: perspective($perspective) rotateX(-90deg);
        transform: perspective($perspective) rotateX(-90deg);
    }
    100% {
        -webkit-transform: perspective($perspective) rotateX(0deg);
        transform: perspective($perspective) rotateX(0deg);
    }
}

// .flipover {
//     @extend .animated;
//     animation-duration: 0.8s;
//     -webkit-animation-name: flipover;
//     animation-name: flipover;
// }
@-webkit-keyframes slideInUp {
    from {
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
        visibility: visible;
    }
    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes slideInUp {
    from {
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
        visibility: visible;
    }
    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.slideInUp {
    @extend .animated;
    animation-duration: 0.8s;
    -webkit-animation-name: slideInUp;
    animation-name: slideInUp;
}

@-webkit-keyframes slideOutDown {
    from {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        visibility: visible;
    }
    to {
        visibility: hidden;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }
}

@keyframes slideOutDown {
    from {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        visibility: visible;
    }
    to {
        visibility: hidden;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }
}

.slideOutDown {
    @extend .animated;
    animation-duration: 0.4s;
    -webkit-animation-name: slideOutDown;
    animation-name: slideOutDown;
}

@-webkit-keyframes fadeOut {
    from {
        @include opacity(1);
    }
    to {
        @include opacity(0);
    }
}

@keyframes fadeOut {
    from {
        @include opacity(1);
    }
    to {
        @include opacity(0);
    }
}

.fadeOut {
    @extend .animated;
    animation-duration: 0.6s;
    -webkit-animation-name: fadeOut;
    animation-name: fadeOut;
}

@-webkit-keyframes fadeIn {
  from {
    @include opacity(0);
  }

  to {
     @include opacity(1);
  }
}

@keyframes fadeIn {
  from {
     @include opacity(0);
  }

  to {
     @include opacity(1);
  }
}
