@charset "UTF-8";
@import "variables";
@import "sprite";
@import "../../../sass/reset";
@import "../../../sass/func";
html,
body {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
    font-family: "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-overflow-scrolling: touch !important;
}

a {
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

i,
span,
ul,
li {
    display: inline-block;
}

.content {
    width: 100%;
    height: 100%;
}

.page {
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
}

.page-slide {
    background-image: url('../images/bg.png');
}

.mask {
    background-color: rgba(0, 0, 0, .7);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 999;
    display: none;
    .masker {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 1000;
    }
}

.txt-ci {
    // @include inline-background('../images/text/txt-ci.png', 34px, 34px);
    @extend .sprite-txt-ci;
}

.txt-day {
    @extend .sprite-txt-day;
}

.breath-anit {
    animation: breath $duration * 4 linear both infinite;
}

.icon-share {
    @include background('../images/wx-share.png',
    620px,
    535px);
    position: absolute;
    right: pxToRem(30px);
    top: pxToRem(30px);
}
.toast {
    width: pxToRem(600px);
    background-color: rgba(0, 0, 0, .5);
    text-align: center;
    color: #fff;
    font-size: pxToRem(30px);
    padding: pxToRem(20px) pxToRem(30px);
    line-height: pxToRem(40px);
    border-radius: 30px;
    position: absolute;
    left: 50%;
    // top: 50%;
    z-index: 999;
}
.toast-middle {
    top: 50%;
    transform: translate(-50%, -50%);
}
.toast-bottom{ 
    bottom: 18%;
    transform: translate(-50%,0);
}

@-webkit-keyframes breath {
    0% {
        transform: scale(1.0);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1.0);
    }
}

@keyframes breath {
    0% {
        transform: scale(1.0);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1.0);
    }
}
