@charset "UTF-8";
@import "variables";
@import "sprite";
@import "../../../sass/func";
$defaultColor: #fff;
$redColor: #ff4b3a;
$darkRedColor: #765454;
$yellowColor:#fffe61;
$orangeColor:#ff7f0d;
$grayColor:#808080;
.page-index {
    background: url(../images/index/top_bg.png) no-repeat;
    background-size: 100% auto;
    padding-top: pxToRem(56px);
}

.index-title {
    width: pxToRem(543px);
    height: pxToRem(184px);
    background: url(../images/index/start_title.png) no-repeat;
    background-size: 100%;
    margin: 0 auto pxToRem(102px);
    font-size: pxToRem(32px);
    color: $redColor;
    text-align: center;
    line-height: 0;
    position: relative;
    p {
        position: absolute;
        top: pxToRem(216px);
        right: 0;
        left: 0;
    }
}

.title-line {
    font-size: pxToRem(34px);
    text-align: center;
    color: #ff7f0d;
    &:before,
    &:after {
        content: '';
        @extend .icon-line-yellow;
        margin: 0 pxToRem(14px);
        vertical-align: pxToRem(15px);
    }
    &:after {
        transform: scale(-1, 1);
    }
}

.cat {
    width: pxToRem(279px);
    height: pxToRem(264px);
    margin: 0 auto;
    background: url(../images/index/cat_head.png) no-repeat;
    background-size: 100%;
}

.cat-hand {
    width: pxToRem(333px);
    height: pxToRem(44px);
    margin: 0 auto;
    background: url(../images/index/cat_hand.png) no-repeat;
    background-size: 100%;
}

.red-pack {
    width: pxToRem(750px);
    height: pxToRem(722px);
    background: url(../images/index/red_top_bg.png) no-repeat;
    background-size: 100%;
    margin-top: pxToRem(-100px);
    text-align: center;
    font-size: pxToRem(28px);
    .title {
        margin-top: pxToRem(80px);
        color: $darkRedColor;
    }
    .money {
        color: $redColor;
        font-size: pxToRem(105px);
        font-weight: bold;
        margin-top: pxToRem(22px);
        &:before {
            content: '￥';
            display: inline-block;
            font-size: pxToRem(76px);
            font-weight: normal;
            margin-right: pxToRem(-12px);
        }
    }
    .description {
        color: $defaultColor;
        margin: pxToRem(150px) 0 pxToRem(50px) 0;
        .friend-num,
        .total-money {
            color: $yellowColor;
        }
        p {
            line-height: pxToRem(45px);
        }
    }
}

.btn-rule {
    // width: pxToRem(462px);
    height: pxToRem(72px);
    line-height: pxToRem(72px);
    font-size: pxToRem(30px);
    color: #f9f8df;
    margin: 0 auto;
    // margin-bottom: pxToRem(32px);
    text-align: center;
    &:before {
        content: '';
        // @include background("../images/little_pack.png", 62px, 58px);
        @extend .icon-redpack;
        display: inline-block;
        vertical-align: middle;
        animation: swing 5.0s linear 0s infinite both;
    }
    &:after {
        content: '';
        @extend .icon-arrow;
        display: inline-block !important;
        margin-left: pxToRem(8px);
        vertical-align: pxToRem(-4px);
    }
}

.welfare {
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ff2d55), to(#ff5a3f));
    margin: pxToRem(-14px) auto 0;
    font-size: pxToRem(28px);
    color: $defaultColor;
    padding-bottom: pxToRem(110px);
    .content {
        width: pxToRem(710px);
        margin: 0 auto;
        background: rgba(0, 0, 0, 0);
        padding-bottom: 0;
    }
}

// 福利tab
.tab-welfare {
    height: pxToRem(111px);
    position: relative;
    .tab {
        position: absolute;
        bottom: 0;
        display: inline-block;
        color: $darkRedColor;
        width: pxToRem(234px);
        height: pxToRem(90px);
        text-align: center;
        // background-color: $defaultColor;
        line-height: pxToRem(90px);
        float: left;
        // margin-right:pxToRem(4px);
        border-radius: pxToRem(10px) pxToRem(10px) 0 0;
        background: url(../images/index/button_unchecked.png);
        background-size: 100%;
        // background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(255, 255, 255, 255)), to(rgba(255, 255, 255, 0.75)));
    }
    .tab.on {
        background-color: $defaultColor;
        font-size: pxToRem(32px);
        font-weight: bold;
        height: 100%;
        line-height: pxToRem(110px);
        // margin-top:pxToRem(-21px);
    }
}

.tab-welfare2 {
    left: pxToRem(238px);
}

.tab-welfare3 {
    left: pxToRem(476px);
}

// 福利内容
.welfare-cons {
    border-radius: 0 0 pxToRem(10px) pxToRem(10px);
    height: pxToRem(1017px);
    background-color: $defaultColor;
}

// 福利公共样式
.welfare-con {
    padding: 0 pxToRem(20px);
    text-align: center;
    .title {
        padding-top: pxToRem(87px);
        font-size: pxToRem(32px);
        color: $darkRedColor;
        font-weight: bold;
    }
    .btn-detail {
        margin: pxToRem(34px) 0 pxToRem(80px);
        color: $orangeColor;
        &:after {
            width: pxToRem(12px);
            height: pxToRem(23px);
            content: '';
            // @extend .icon-arrow;
            background: url(../images/index/enter.png);
            background-size: 100%;
            display: inline-block !important;
            margin-left: (8px);
            vertical-align: pxToRem(-4px);
        }
    }
    &.welfare-con3 {
        .title {
            padding-top: pxToRem(50px);
        }
        .btn-detail {
            margin: pxToRem(26px) 0 pxToRem(22px);
        }
    }
}

// 福利一
// 转盘
.lottery-turntable {
    position: relative;
    text-align: center;
    width: pxToRem(638px);
    height: pxToRem(638px);
    background: url(../images/index/turntable_whole.png);
    background-size: 100%;
    margin: 0 auto;
}

.white-light {
    width: pxToRem(613px);
    height: pxToRem(622px);
    background: url(../images/index/turntable_light_white.png) no-repeat;
    background-size: 100%;
}

.red-light {
    width: pxToRem(622px);
    height: pxToRem(613px);
    background: url(../images/index/turntable_light_red.png) no-repeat;
    background-size: 100%;
}

.turntable-finger {
    top: pxToRem(-30px);
    width: pxToRem(194px);
    height: pxToRem(218px);
    background: url(../images/index/won_light.png) no-repeat;
    background-size: 100%;
    .finger-con {
        font-size: pxToRem(30px);
        margin-top: pxToRem(85px);
    }
    p {
        line-height: pxToRem(40px);
        font-size: pxToRem(25px);
    }
}

.lottery-num {
    color: $yellowColor;
}

// 福利二
.ivitation {
    width: pxToRem(650px);
    height: pxToRem(200px);
    color: $grayColor;
}

// 福利三
.welfare-con3 {}

.btn-red-pack {
    position: fixed;
    width: pxToRem(710px);
    color: $defaultColor;
    bottom: 0;
    margin: auto;
    left: 0;
    right: 0;
    height: pxToRem(110px);
    text-align: center;
    font-size: pxToRem(40px);
    font-weight: bold;
    line-height: pxToRem(110px);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffd40c), to(#ff7f0d));
    border-radius: pxToRem(50px);
    box-shadow: 0px 0px pxToRem(90px) rgba(168, 0, 0, 0.3);
}

.table {
    /*width: 94.77%;*/
    box-sizing: border-box;
    position: relative;
    width: 100%;
    // height: 100%;
    // margin-top: 16px;
    // margin-bottom: 12px;
    margin-top: pxToRem(32px);
    margin-bottom: pxToRem(24px);
    &>div,
    &>div>span {
        position: relative;
    }
    &:before,
    &:after,
    &>div:after,
    &>div>span:after {
        content: "";
        position: absolute;
        transform-origin: 0 0;
        -webkit-transform-origin: 0 0;
        top: 0;
        left: 0;
        right: 0;
        border-top: 1px solid #a7a7a7;
        transform: scaleY(0.5);
        -webkit-transform: scaleY(0.5);
        z-index: 1
    }
    &:after {
        bottom: 0;
        right: initial;
        border-top: none;
        border-left: 1px solid #a7a7a7;
        transform: scaleX(0.5);
        -webkit-transform: scaleX(0.5);
    }
    &>div>span:after {
        bottom: 0;
        left: initial;
        border-top: none;
        border-right: 1px solid #a7a7a7;
        transform: scaleX(0.5);
        -webkit-transform: scaleX(0.5);
        z-index: 99;
    }
    &>div:after {
        top: initial;
        bottom: 0;
        border-top: none;
        border-bottom: 1px solid #a7a7a7;
    }
    .th,
    .tr {
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
    }
    .th {
        // height: 45px;
        height: pxToRem(90px);
        background-color: #fcfaf8;
        // font-size: 15px;
        font-size: pxToRem(28px);
        color: #765454;
    }
    .th>span,
    .tr>span {
        display: block;
    }
    .th>span:first-child,
    .tr>span:first-child {
        // width: 31.40%;
        width: 36%;
    }
    .th>span:nth-of-type(2),
    .tr>span:nth-of-type(2) {
        // width: 68.60%;
        width: 64%;
    }
    .tr>span:nth-of-type(2) {
        color: #333;
    }
    .th>span {
        text-align: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }
    .tr>span {
        padding: pxToRem(20px) 0;
    }
    .tr>span,
    .tr>span>p {
        text-align: center;
        // font-size: 12px;
        // line-height: 18px;
        font-size: pxToRem(26px);
        line-height: pxToRem(40px);
        color: #999;
        box-sizing: border-box;
    }
    .tr>span.center {
        text-align: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }
    .tr>span.left {
        text-align: left;
        padding-left: pxToRem(20px);
        padding-right: pxToRem(20px);
    }
    .bottom10 {
        padding-bottom: pxToRem(10px);
    }
}

// fonts
.font-red {
    color: $redColor;
}

// .btn-red-pack1{
//     color:$defaultColor;
//     bottom: 0;
//     margin:pxToRem(40px); 
//     left:0; 
//     right:0; 
//     height: pxToRem(110px);
//     text-align:center;
//     font-size:pxToRem(40px);
//     line-height:pxToRem(110px);
//     background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffd40c), to(#ff7f0d));
//     border-radius:pxToRem(50px);
//     box-shadow: 0px 0px pxToRem(90px) rgba(168,0,0,0.3);
// }
@import 'rule';
.redpack-rule {
    // display: block;
    .rule-content {
        border-radius: 5px;
        background-color: #fff;
        left: pxToRem(70px);
        right: pxToRem(70px);
        top: 50%;
        bottom: auto;
        transform: translate(0, -45%);
        padding: pxToRem(60px) pxToRem(40px);
        z-index: 1000;
        overflow: visible !important;
        p {
            line-height: pxToRem(48px);
            padding-bottom: 0;
        }
    }
}

// 奖品弹窗
.prize-wrapper {
    min-height: pxToRem(442px);
    width: pxToRem(610px) !important;
    &:before {
        content: '';
        display: block;
        background: url(../images/index/bg-prize.png) no-repeat top;
        background-size: 100% 100%;
        position: absolute;
        width: pxToRem(610px);
        height: pxToRem(267px);
        top: pxToRem(-100px);
    }
    .prize-content {
        z-index: 1000;
        &:after {
            border-bottom: 0 !important;
        }
    }
    .icon {
        display: block;
        width: pxToRem(290px);
        height: pxToRem(314px);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0);
        top: pxToRem(-280px);
    }
    // 奖品icon
    .icon-coin {
        background-image: url(../images/index/coin.png);
    }
    .icon-cash-red {
        background-image: url(../images/index/cash-red.png);
    }
    .icon-invest-red {
        background-image: url(../images/index/invest-red.png);
    }
    .title {
        color: $redColor;
        font-size: pxToRem(48px);
        margin-bottom: pxToRem(30px);
    }
    .prize-txt {
        @extend .title;
        font-size: pxToRem(34px);
    }
    .info {
        color: #666;
        font-size: pxToRem(28px);
    }
}

// icons
.icon-redpack {
    @extend .icon-inline-block;
    @include icon-background('../images/index/redpack.png', 50px, 46px);
}

.icon-arrow {
    @extend .icon-inline-block;
    @include icon-background('../images/index/arrow.png', 16px, 28px);
}

.icon-line-yellow {
    @extend .icon-inline-block;
    @include icon-background('../images/index/line-yellow.png', 50px, 2px);
}

// black close
.icon-close {
    @extend .icon-block;
    @include icon-background('../images/index/close-black.png', 80px, 80px);
}
