@charset "UTF-8";
@import "variables";
@import "sprite";
@import "../../../sass/func";


.page-index {
    
    
    
}



.btn-rule {
    // width: pxToRem(462px);
    height: pxToRem(72px);
    line-height: pxToRem(72px);
    font-size: pxToRem(30px);
    color: #ffe1a2;
    margin: 0 auto;
    margin-bottom: pxToRem(32px);
    text-align: center;
    &:before {
        content: '';
        // @include background("../images/little_pack.png", 62px, 58px);
        @extend .icon-redpack;
        display: inline-block;
        vertical-align: middle;
        animation: swing 5.0s linear 0s infinite both;
    }
    &:after {
        content: '';
        @extend .icon-arrow;
        display: inline-block !important;
        margin-left: pxToRem(8px);
        vertical-align: pxToRem(-4px);
    }
}

