@charset "UTF-8";
@import "variables";
@import "sprite";
@import "../../../sass/func";
@import 'inputpopup';
.red-top {
    position: relative;
    width: pxToRem(750px);
    // height: pxToRem(256px);
    // height: percent(697);
    background: url(../images/arc-shadow.png) no-repeat bottom;
    background-size: cover;
    text-align: center;
    .redtop-title {
        font-size: pxToRem(40px);
        padding: pxToRem(52px) 0 pxToRem(26px);
        color: #ffe1a2;
    }
    p {
        padding-bottom: pxToRem(16px);
        color: #f9f8df;
        font-size: pxToRem(28px);
    }
    [class^='icon-star'] {
        position: absolute;
    }
    .icon-star-yellow {
        left: pxToRem(282px);
        top: percent(50, 569);
    }
    .icon-star-white {
        right: pxToRem(240px);
        bottom: percent(138, 569);
    }
    .icon-star-w-s {
        right: pxToRem(226px);
        bottom: percent(115, 569);
    }
    .icon-star-w-m {
        left: pxToRem(206px);
        bottom: percent(80, 569);
    }
    .avatar {
        position: absolute;
        border-radius: pxToRem(140px);
        overflow: hidden;
        @extend .icon-bg-avatar;
        left: 50%;
        transform: translate( -50%, 0);
        // bottom: pxToRem(-62px);
        top: percent(102, 230);
        .avatar-cont {
            position: absolute;
            // top: pxToRem(6px);
            // left: pxToRem(6px);
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            border-radius: pxToRem(128px);
            overflow: hidden;
            width: pxToRem(128px);
            height: pxToRem(128px);
        }
        img {
            width: 100%;
            border-radius: 100%;
        }
    }
}

.redface {
    position: absolute;
    left: 0;
    bottom: 0;
    // @extend .icon-redface;
    background: url(../images/bg-redface.png) repeat center, linear-gradient(to bottom, #ff1c67 , #e52841);
    width: pxToRem(750px);
    height: pxToRem(758px);
    min-height: percent(758);
    background-size: pxToRem(64px) pxToRem(64px), 100% 100%;
    z-index: 2;
    .icon-text,
    .icon-logo {
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0);
    }
    .icon-text {
        bottom: percent(299, 758);
    }
    .icon-logo {
        bottom: percent(45, 758);
    }
    p {
        position: absolute;
        bottom: pxToRem(40px);
        left: 0;
        right: 0;
        font-size: pxToRem(26px);
        color: #c72828;
        text-align: center;
    }
}

.page-result-success {
    min-height: 100%;
    background: url(../images/bg-result.jpg) no-repeat top;
    background-size: pxToRem(750px) pxToRem(1206px);
    background-color: #ffeee1;
    padding-bottom: pxToRem(48px);
    .red-top {
        height: pxToRem(230px);
    }
}

.page-result-fail {
    min-height: 100%;
    // height: pxToRem(1206px);
    @extend .page-result-success;
    .red-top {
        height: pxToRem(280px);
    }
    .redtop-content {
        padding: 0 pxToRem(160px);
        p {
            line-height: pxToRem(48px);
        }
    }
    .input-wrapper {
        margin-top: pxToRem(100px);
        width: pxToRem(320px);
        height: pxToRem(80px);
        line-height: pxToRem(80px);
        border: 1px solid #795454;
        font-size: pxToRem(32px);
    }
}

.page-got {
    height: 100%;
    background: url(../images/bg-got.png) no-repeat top;
    background-size: pxToRem(750px) pxToRem(400px);
    .red-top-got {
        color: #765454;
        position: absolute;
        top: percent(108);
        background: url(../images/red-top1.png) no-repeat center;
        background-size: 100% 100%;
        width:100%;
        height: percent(293);
        text-align: center;
        z-index: 3;
        p {
            font-size: pxToRem(36px);
            position: absolute;
            left: 0;
            right: 0;
            top: percent(90, 293);
        }
    }
    [class^='icon-star'] {
        position: absolute;
    }
    .icon-star {
        top: percent(90);
        right: pxToRem(158px);
    }
    .icon-star-s {
        top: percent(44);
        right: pxToRem(144px);
    }
    .icon-star-m {
        top: percent(95);
        left: pxToRem(170px);
    }
    .money {
        color: #fc3d2a;
        position: absolute;
        bottom: percent(34, 293);
        margin-top: 0;
        left: 0;
        right: 0;
        &:before {
            content: '¥';
            font-size: pxToRem(60px);
        }
        font-size: pxToRem(100px);
    }
    .redface {
        height: percent(890);
    }
    .btn-download {
        position: absolute;
        left: 50%;
        bottom: percent(414, 890);
        transform: translate( -50%, 0);
    }
}
.page-toopen {
    @extend .page-result-success;
    &.close {
        height: 100%;
        overflow: hidden;
    }
    .red-top,
    .avatar,
    .redtop-txt,
    [class^='icon-star'],
    .redface {
        transition-duration: $open-step2;
        transition-delay: $open-step1;
    }
    .redface {
        transition-property: transform, opacity;
        transform: translate(0, 100%);
        opacity: 0;
    }
    .red-top {
        transition-property: height;
    }
    .avatar {
        transition-property: top;
    }
    .redtop-txt {
        opacity: 0;
    }
    .redtop-txt {
        position: absolute;
        left: pxToRem(60px);
        right: pxToRem(60px);
        top: percent(267, 569);
        color: #ffe1a2;
        font-size: pxToRem(30px);
        text-align: center;
        @at-root .username {
            @include ellipsis();
            display: inline-block;
            max-width: pxToRem(250px);
        }
    }
    .btn-open {
        position: absolute;
        left: 50%;
        margin-left: pxToRem(-210px);
        bottom: percent(-150, 569);
        height: percent(420, 569);
        perspective: 1500px;
        animation: openAni $open-step1 linear 0s 1 both;
    }
    [class^='icon-star']{
        opacity: 0;
        // top: auto;
        // bottom: auto;
        // left: auto;
        // bottom: auto;
    }
    // .icon-star {
    //     right: pxToRem(196px);
    //     bottom: percent(42, 569);
    // }
    // .icon-star-small {
    //     left: pxToRem(218px);
    //     bottom: percent(-60, 569);
    // }
    &.not-open {
        .red-content {
            opacity: 0;
        }
        .red-top {
            // height: pxToRem(569px);
            * {
                z-index: 4;
            }
            height: percent(569);
        }
        .avatar {
            top: percent(58, 569);
        }
        .redtop-txt {
            opacity: 1;
        }
        .btn-open {
            animation: none;
        }
        .redface {
            opacity: 1;
            transform: translate(0, 0);
        }
        [class^='icon-star'] {
            opacity: 1;
        }
    }
    .red-top {
        position: absolute;
        // height: pxToRem(569px);
        z-index: 3;
        // transition
    }
    .opened-money-sec {
        padding-top: pxToRem(308px);
    }
}

.opened-money-sec {
    padding: pxToRem(94px) 0 pxToRem(40px) 0;
    text-align: center;
    p {
        font-size: pxToRem(30px);
        color: #765454;
    }
    .money {
        &:before {
            content:'¥';
            font-weight: normal;
            font-size: pxToRem(60px);
        }
        color: #ff4931;
        margin-top: pxToRem(48px);
        font-size: pxToRem(100px);
        font-weight: bold;
    }
    .input-wrapper {
        margin-top: pxToRem(52px);
    }
    // .check-part {
    //     color: #806666;
    //     text-align: center;
    //     font-size: pxToRem(26px);
    //     // margin-bottom: pxToRem(42px);
    //     padding: pxToRem(20px) 0;
    //     margin: pxToRem(20px) pxToRem(60px);
    //     a {
    //         color: #f44542;
    //     }
    //     input[type="checkbox"] {
    //         vertical-align: pxToRem(-4px);
    //     }
    //     .radio {
    //         display: none
    //     }
    //     .radio-input {
    //         position: relative;
    //         // @extend .icon-bg-cb;
    //         border-radius: pxToRem(6px);
    //         width: pxToRem(24px);
    //         height: pxToRem(24px);
    //         background-color: #f5b84f;
    //         display: inline-block;
    //         margin-right: pxToRem(6px*2);
    //         margin-top: pxToRem(-1px*2);
    //         vertical-align: middle;
    //         line-height: 1
    //     }
    //     .radio:checked + .radio-input:after {
    //         position: absolute;
    //         top: 50%;
    //         left: 50%;
    //         transform: translate(-50%, -50%);
    //         content: "";
    //         @extend .icon-tick;
    //     }
    //     .checkbox.radio-input,
    //     .radio:checked + .checkbox.radio-input:after {
    //         border-radius: 0
    //     }
    // }
}

.welfare-sec {
    margin-top: pxToRem(92px);
    color: #ff4931;
    text-align: center;
    @at-root .title-line {
        font-size: pxToRem(36px);
        text-align: center;
        &:before,
        &:after {
            content: '';
            @extend .icon-line;
            margin: 0 pxToRem(14px);
            vertical-align: pxToRem(15px);
        }
        &:before {
            transform: scale(-1, 1);
        }
    }
    ul {
        font-size: 0;
        white-space: nowrap;
        margin-top: pxToRem(46px);
    }
    li {
        display: inline-block;
        width: 33.33%;
        position: relative;
        i {
            margin: 0 auto pxToRem(18px);
            height: pxToRem(94px);
        }
        p {
            font-size: pxToRem(32px);
            margin-bottom: pxToRem(6px);
        }
        span {
            display: block;
            font-size: pxToRem(26px);
        }
        &:not(:last-child) {
            &:after {
                position: absolute;
                content: '';
                right: pxToRem(-8px);
                top: pxToRem(34px);
                @extend .icon-circular;
            }
        }
    }
}

.txt-sec {
    font-size: pxToRem(26px);
    color: #806666;
    padding: pxToRem(98px) pxToRem(58px) pxToRem(20px) pxToRem(58px);
    div {
        font-size: pxToRem(36px);
        text-align: center;
        padding-bottom: pxToRem(24px);
    }
    p {
        line-height: pxToRem(36px);
        text-align: justify;
    }
}

.input-wrapper {
    display: block;
    width: pxToRem(560px);
    height: pxToRem(100px);
    line-height: pxToRem(100px);
    text-align: center;
    border-radius: pxToRem(10px);
    border: 1px solid #ff4931;
    // background-color: $txt-yellow;
    margin: 0 auto;
    font-size: pxToRem(36px);
    color: #765454;
}
.download {
    display: block;
    width: pxToRem(300px);
    height: pxToRem(63px);
    line-height: pxToRem(63px);
    margin: pxToRem(28px) auto 0;
    text-align: center;
    font-size: pxToRem(30px);
    color: #ff4931;
    &:before {
        content: '';
        @extend .icon-download;
        vertical-align: text-bottom;
        margin-right: pxToRem(14px);
    }
}

.btn-open {
    background: url(../images/btn-open.png) no-repeat bottom;
    background-size: contain;
    width: pxToRem(420px);
    height: pxToRem(420px);
}

.btn-download {
    @extend .icon-block;
    @include icon-background('../images/btn-download.png', 567px, 102px);
    line-height: pxToRem(102px);
    text-align: center;
    font-size: pxToRem(36px);
    color: #ffe4a5;
    margin: 0 auto;
}
// icons
// toopen
.icon-bg-avatar {
    @extend .icon-block;
    @include icon-background('../images/bg-avatar.png', 209px, 209px);
}
.sprite {
    display: block;
  background-image: url(../images/sprite_land.png);
  background-size: pxToRem(245px)  pxToRem(191px);
  background-repeat:no-repeat;
}
.icon-circular {
  @extend .sprite;
  background-position: pxToRem(-202px) pxToRem(-108px);
  width: pxToRem(32px);
  height: pxToRem(32px);
}
.icon-download {
  @extend .sprite;
  display: inline-block;
  background-position: pxToRem(-202px) pxToRem(-150px);
  width: pxToRem(26px);
  height: pxToRem(29px);
}
.icon-icon1 {
  @extend .sprite;
  background-position: pxToRem(0px) pxToRem(-110px);
  width: pxToRem(99px);
  height: pxToRem(81px);
}
.icon-icon2 {
  @extend .sprite;
  background-position: pxToRem(-110px) pxToRem(0px);
  width: pxToRem(82px);
  height: pxToRem(100px);
}
.icon-icon3 {
  @extend .sprite;
  background-position: pxToRem(0px) pxToRem(0px);
  width: pxToRem(100px);
  height: pxToRem(100px);
}
.icon-line {
  @extend .sprite;
  display: inline-block;
  background-position: pxToRem(-110px) pxToRem(-174px);
  width: pxToRem(50px);
  height: pxToRem(4px);
}
.icon-star-white {
  @extend .sprite;
  background-position: pxToRem(-202px) pxToRem(0px);
  width: pxToRem(43px);
  height: pxToRem(44px);
}
.icon-star-yellow {
  @extend .sprite;
  background-position: pxToRem(-202px) pxToRem(-54px);
  width: pxToRem(44px);
  height: pxToRem(44px);
}
.icon-star {
  @extend .sprite;
  background-position: pxToRem(-109px) pxToRem(-110px);
  width: pxToRem(55px);
  height: pxToRem(58px);
}

.icon-star-w-m {
     @extend .icon-star-white;
    transform: scale(.7);
    // width: pxToRem(44px * .7);
    // height: pxToRem(44px * .7);
}
.icon-star-w-s {
    @extend .icon-star-white;
    transform: scale(.6);
    // width: pxToRem(44px * .6);
    // height: pxToRem(44px * .6);
}

.icon-star-m {
    @extend .icon-star;
    transform: scale(.7);
    // width: pxToRem(55px * .7);
    // height: pxToRem(58px * .7);
}
.icon-star-s {
    @extend .icon-star;
    transform: scale(.5);
    // width: pxToRem(55px * .5);
    // height: pxToRem(58px * .5);
}
.icon-text {
    @extend .icon-block;
    @include icon-background('../images/text.png', 511px, 59px);
}

.icon-logo {
    @extend .icon-block;
    @include icon-background('../images/logo.png', 199px, 66px);
}

