@charset "UTF-8";
@import "variables";
@import "../../../sass/func";

/*  for small width screen  */

@media screen and (max-width:374px) {
 
}

/* =========for short screen============== */

@media screen and (max-height: 540px) and (min-width:321px) {
    $ratio: 0.85;

}
//* -----------meizu  mx3----------------- */
@media screen and (min-height: 589px) and (min-width:430px) {
    $ratio: 0.9;

}

/* ------------------------iphone 5------------------------ */
@media screen and (max-width:320px) and (max-height:508px) {
    $ratio:0.9;

}

/* -------------------------iphone4---------------------------- */

@media screen and (max-width:320px) and (max-height:416px) {
   	$ratio: 0.85;
	.component-dialog .rule-wrapper .btn-rules_cls {
	 bottom: pxToRem(-110px);
	}
}

@media screen and (max-width: 320px) {

}