@charset "UTF-8";
/* @function baseFontSize($width) {
	return 20 * $width / 640;
}
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }

q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

/* @function baseFontSize($width) {
	return 20 * $width / 640;
}
 */
html,
body {
  position: relative;
  height: 100%;
  width: 100%;
  font-family: "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
  -webkit-overflow-scrolling: touch !important; }

a {
  text-decoration: none; }

*::-webkit-scrollbar {
  display: none; }

.page {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: auto; }
  .page .content-wrapper {
    position: relative;
    z-index: 99;
    background-image: url("../images/bg-questionnaire.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    padding-top: 0.64rem;
    padding-bottom: 1.0666666667rem;
    min-height: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
  .page .logo {
    background-image: url("../images/logo.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
    width: 7.04rem;
    height: 1.3226666667rem;
    position: relative;
    z-index: 999;
    margin: auto;
    margin-bottom: 0.384rem; }
  .page .question-area {
    position: relative;
    z-index: 99;
    margin-bottom: 0.384rem; }
    .page .question-area .area-title-bg {
      background-image: url("../images/question-title-dark.png");
      background-repeat: no-repeat;
      background-position: 50% 50%;
      width: 9.3866666667rem;
      height: 1.7066666667rem;
      background-size: contain;
      position: absolute;
      z-index: 9;
      left: 50%;
      margin-left: -4.6933333333rem;
      top: 0; }
    .page .question-area .area-title {
      font-size: 0.768rem;
      color: #b43a04;
      text-align: center;
      line-height: 1.7066666667rem;
      background-image: url("../images/question-title-light.png");
      background-repeat: no-repeat;
      background-position: 50% 50%;
      width: 8.6186666667rem;
      height: 1.7066666667rem;
      margin: auto;
      background-size: contain;
      position: relative;
      z-index: 999; }
    .page .question-area .question-wrapper {
      width: 13.9093333333rem;
      height: 17.28rem;
      background-color: rgba(255, 255, 255, 0.85);
      margin: auto;
      margin-top: -0.6826666667rem;
      border-radius: 0.4266666667rem;
      position: relative;
      z-index: 99;
      -webkit-box-shadow: 0 0.0853333333rem 0.2133333333rem rgba(0, 0, 0, 0.2);
              box-shadow: 0 0.0853333333rem 0.2133333333rem rgba(0, 0, 0, 0.2);
      padding-top: 1.2373333333rem; }
      .page .question-area .question-wrapper .question {
        width: 100%;
        display: none; }
        .page .question-area .question-wrapper .question:first-child {
          display: block; }
        .page .question-area .question-wrapper .question .questions {
          height: 100%;
          width: 100%; }
        .page .question-area .question-wrapper .question .gradient {
          background-image: url("../images/bg-gradient.png");
          background-repeat: no-repeat;
          background-position: 50% 50%;
          background-size: cover;
          position: absolute;
          bottom: 0;
          left: 0rem;
          width: 13.9093333333rem;
          height: 1.2373333333rem; }
        .page .question-area .question-wrapper .question .question-index {
          background-image: url("../images/bg-num.png");
          background-repeat: no-repeat;
          background-position: 50% 50%;
          width: 1.792rem;
          height: 1.4933333333rem;
          position: absolute;
          top: 1.2373333333rem;
          left: -0.2133333333rem;
          background-size: contain;
          color: #fff;
          font-size: 0.7253333333rem;
          font-weight: bold;
          text-align: center;
          line-height: 1.28rem; }
        .page .question-area .question-wrapper .question .question-text {
          font-size: 0.7253333333rem;
          line-height: 1.3226666667rem;
          padding-left: 2.0053333333rem;
          padding-right: 0.2986666667rem;
          word-break: break-all; }
          .page .question-area .question-wrapper .question .question-text label {
            color: #ff871c; }
        .page .question-area .question-wrapper .question.single .answer.check .option-icon {
          background-image: url("../images/circle-on.png"); }
        .page .question-area .question-wrapper .question.indefinite .answer.check .option-icon {
          background-image: url("../images/tick-on.png"); }
        .page .question-area .question-wrapper .question .answers {
          margin-top: 0.512rem;
          margin-left: 0.9813333333rem;
          max-height: 15.36rem;
          overflow: auto;
          position: relative;
          -webkit-box-sizing: border-box;
                  box-sizing: border-box;
          padding-right: 0.768rem; }
          .page .question-area .question-wrapper .question .answers .answer {
            font-size: 0;
            color: #333;
            margin-bottom: 0.4693333333rem; }
            .page .question-area .question-wrapper .question .answers .answer:last-child {
              margin-bottom: 0; }
            .page .question-area .question-wrapper .question .answers .answer .option-icon {
              width: 0.64rem;
              height: 0.64rem;
              display: inline-block;
              position: relative;
              background-image: url("../images/circle.png");
              background-repeat: no-repeat;
              background-position: 50% 50%;
              background-size: contain;
              margin-right: 0.384rem;
              vertical-align: text-top;
              margin-top: 0.1706666667rem;
              float: left; }
            .page .question-area .question-wrapper .question .answers .answer.check .option-text {
              color: #ff881e; }
            .page .question-area .question-wrapper .question .answers .answer .option-text {
              font-size: 0.7253333333rem;
              display: inline-block;
              line-height: 1.024rem;
              width: 10.88rem;
              vertical-align: text-top;
              /* font-size: 0;
                            overflow: hidden; */ }
              .page .question-area .question-wrapper .question .answers .answer .option-text .hasInput {
                white-space: nowrap; }
              .page .question-area .question-wrapper .question .answers .answer .option-text .other {
                width: 8.9173333333rem;
                position: relative;
                margin-left: 0.4266666667rem;
                -webkit-box-sizing: border-box;
                        box-sizing: border-box;
                display: inline-block;
                vertical-align: text-bottom; }
                .page .question-area .question-wrapper .question .answers .answer .option-text .other.xinshou {
                  width: 7.424rem; }
                .page .question-area .question-wrapper .question .answers .answer .option-text .other.yaoqing {
                  width: 5.9306666667rem; }
              .page .question-area .question-wrapper .question .answers .answer .option-text .inputMask {
                padding: 0;
                border: none;
                position: absolute;
                z-index: 999;
                height: 100%;
                display: none; }
              .page .question-area .question-wrapper .question .answers .answer .option-text .otherInput {
                border: none;
                border-bottom: 1px solid #333;
                background-color: transparent;
                width: 100%;
                outline: none;
                color: #999;
                font-size: 0.7253333333rem;
                padding: 0;
                border-radius: 0;
                padding-left: 0.3413333333rem;
                margin: 0; }
              .page .question-area .question-wrapper .question .answers .answer .option-text .optionInput.otherInput {
                resize: none;
                width: 100%;
                color: #999;
                height: 11.7333333333rem;
                width: 10.6666666667rem;
                border: 1px solid #f4e0d2;
                padding: 0.3413333333rem;
                font-size: 0.5546666667rem;
                line-height: 0.8533333333rem;
                font-family: 黑体;
                outline: none; }
  .page .footer {
    position: relative;
    width: 13.9093333333rem;
    margin: auto;
    overflow: hidden; }
    .page .footer .btn-wrapper {
      display: none; }
      .page .footer .btn-wrapper .prev {
        font-size: 0.7253333333rem;
        color: #ff881e;
        line-height: 1.6213333333rem;
        width: 6.4853333333rem;
        height: 1.6213333333rem;
        border-radius: 0.8106666667rem;
        border: 1px solid #ff881e;
        text-align: center;
        float: left;
        -webkit-box-sizing: border-box;
                box-sizing: border-box; }
      .page .footer .btn-wrapper .next {
        font-size: 0.7253333333rem;
        color: #fff;
        line-height: 1.6213333333rem;
        width: 6.4853333333rem;
        height: 1.6213333333rem;
        border-radius: 0.8106666667rem;
        text-align: center;
        background-color: #ff891f;
        float: right; }
      .page .footer .btn-wrapper .submit-button {
        font-size: 0.7253333333rem;
        color: #fff;
        line-height: 1.6213333333rem;
        width: 6.4853333333rem;
        height: 1.6213333333rem;
        border-radius: 0.8106666667rem;
        text-align: center;
        background-color: #ff891f;
        float: right;
        display: none; }
    .page .footer .only-next {
      font-size: 0.7253333333rem;
      color: #fff;
      line-height: 1.6213333333rem;
      width: 9.8133333333rem;
      height: 1.6213333333rem;
      border-radius: 0.8106666667rem;
      text-align: center;
      background-color: #ff891f;
      margin: auto; }

.dialog {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  z-index: 9999;
  height: 100%;
  width: 100%; }
  .dialog.show {
    display: block; }
    .dialog.show .mask {
      display: block; }
  .dialog .mask {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 99;
    display: none; }
  .dialog .tip-toast {
    display: none;
    font-size: 0.7253333333rem;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 0 1.0666666667rem;
    height: 2.1333333333rem;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    line-height: 2.1333333333rem;
    text-align: center;
    border-radius: 0.2133333333rem;
    z-index: 999;
    white-space: nowrap; }

.get-prize {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  z-index: 9999;
  height: 100%;
  width: 100%; }
  .get-prize.show {
    display: block; }
    .get-prize.show .mask {
      display: block; }
  .get-prize .mask {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 99;
    display: none; }
  .get-prize .get-prize-wrapper {
    position: absolute;
    z-index: 999;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 11.7333333333rem;
    height: 13.0133333333rem;
    background-color: #fff;
    border-radius: 0.4266666667rem;
    padding-top: 2.7733333333rem;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
    .get-prize .get-prize-wrapper .dialog-logo {
      position: absolute;
      z-index: 999;
      background-image: url("../images/logo02.png");
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: 4.1386666667rem 4.1813333333rem;
      top: -2.56rem;
      left: 50%;
      -webkit-transform: translateX(-50%);
              transform: translateX(-50%);
      width: 5.12rem;
      height: 5.12rem;
      background-color: #fff;
      border-radius: 50% 50%; }
    .get-prize .get-prize-wrapper .label {
      font-size: 0.7253333333rem;
      margin-bottom: 0.64rem;
      text-align: center;
      color: #333; }
    .get-prize .get-prize-wrapper .label02 {
      font-size: 0.5546666667rem;
      line-height: 0.8533333333rem;
      text-align: center;
      color: #999;
      width: 9.8133333333rem;
      margin: auto;
      margin-bottom: 1.152rem; }
    .get-prize .get-prize-wrapper .btn-use {
      display: block;
      width: 9.3013333333rem;
      height: 1.8773333333rem;
      line-height: 1.8773333333rem;
      color: #fff;
      background-color: #ff891f;
      margin: auto;
      border-radius: 0.9386666667rem;
      text-align: center;
      font-size: 0.7253333333rem;
      -webkit-box-shadow: 0 0.0853333333rem 0.1706666667rem rgba(0, 0, 0, 0.25);
              box-shadow: 0 0.0853333333rem 0.1706666667rem rgba(0, 0, 0, 0.25);
      margin-bottom: 0.64rem; }
    .get-prize .get-prize-wrapper .btn-back {
      width: 9.3013333333rem;
      height: 1.8773333333rem;
      line-height: 1.8773333333rem;
      color: #ff881e;
      border: 1px solid #ff881e;
      margin: auto;
      border-radius: 0.9386666667rem;
      text-align: center;
      font-size: 0.7253333333rem; }

.tip-dialog {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 9999;
  overflow: hidden; }
  .tip-dialog.show {
    display: block; }
    .tip-dialog.show .mask {
      display: block; }
  .tip-dialog .mask {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 99;
    display: none; }
  .tip-dialog .tip-login {
    position: absolute;
    left: 0;
    top: 0;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    display: none;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    z-index: 999;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background-color: #fff;
    border-radius: 0.4266666667rem;
    padding: 1.28rem 1.1946666667rem;
    padding-top: 1.0666666667rem; }
    .tip-dialog .tip-login .label {
      font-size: 0.7253333333rem;
      color: #333;
      line-height: 1.1093333333rem;
      width: 9.3013333333rem;
      margin: auto;
      text-align: center;
      margin-bottom: 1.0666666667rem; }
    .tip-dialog .tip-login .login-btn {
      display: block;
      width: 9.3013333333rem;
      height: 1.8773333333rem;
      -webkit-box-shadow: 0 0.0853333333rem 0.1706666667rem rgba(0, 0, 0, 0.25);
              box-shadow: 0 0.0853333333rem 0.1706666667rem rgba(0, 0, 0, 0.25);
      background-color: #ff891f;
      color: #fff;
      font-size: 0.7253333333rem;
      text-align: center;
      border-radius: 0.9386666667rem;
      line-height: 1.8773333333rem;
      margin: auto; }
  .tip-dialog .tip-writed {
    position: absolute;
    left: 0;
    top: 0;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    display: none;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    z-index: 999;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background-color: #fff;
    border-radius: 0.4266666667rem;
    padding: 1.28rem 1.1946666667rem;
    padding-top: 1.0666666667rem; }
    .tip-dialog .tip-writed .label {
      font-size: 0.7253333333rem;
      color: #333;
      line-height: 1.1093333333rem;
      width: 9.3013333333rem;
      margin: auto;
      text-align: center;
      margin-bottom: 1.0666666667rem; }
    .tip-dialog .tip-writed .close-btn {
      display: block;
      width: 9.3013333333rem;
      height: 1.8773333333rem;
      -webkit-box-shadow: 0 0.0853333333rem 0.1706666667rem rgba(0, 0, 0, 0.25);
              box-shadow: 0 0.0853333333rem 0.1706666667rem rgba(0, 0, 0, 0.25);
      background-color: #ff891f;
      color: #fff;
      font-size: 0.7253333333rem;
      text-align: center;
      border-radius: 0.9386666667rem;
      line-height: 1.8773333333rem;
      margin: auto; }

.show {
  display: block !important; }

.hidden {
  display: hidden !important; }
/*# sourceMappingURL=questionnaire.css.map */