@charset "UTF-8";
@import "variables";
@import "../../../sass/func";
$perspective: 500px;
.letter-cont {
    width: pxToRem(700px);
    height: pxToRem(860px);
    margin: auto;
    margin-top: pxToRem(50px);
    position: relative;
    overflow: hidden;
    .envelope-top {
        // @include background('../images/envelope-top.png', 701px, 234px);
        // margin-left: pxToRem(-347px);
        // z-index: 10;
        // transform: perspective(500px) rotateX(0deg);
        position: absolute;
        left: 50%;
        // perspective-origin: 25% 75%;
        backface-visibility: hidden;
    }
    .front-face {
        @include background('../images/envelope-top-front.png', 694px, 222px);
        z-index: 1;
        margin-left: pxToRem(-347px);
        // transform: perspective($perspective) rotateX(0deg);
        top: pxToRem(142px);
        transform-origin: 50% 100%;
    }
    .back-face {
        @include background('../images/envelope-top-back.png', 701px, 234px);
        // top: pxToRem(388px);
        z-index: 10;
        transform-origin: 50% 0;
        margin-left: pxToRem(-350px);
        top: pxToRem(360px);
        transform: perspective($perspective) rotateX(90deg);
    }
    .envelope {
        width: pxToRem(699px);
        height: pxToRem(500px);
        position: absolute;
        left: 50%;
        margin-left: pxToRem(-347px);
        bottom: 0;
    }
    .envelope-back {
        z-index: 2;
        // background-color: #f3e3c6;
        background-color: #ebdbc2;
        @extend .envelope;
    }
    .envelope-bottom {
        // @include background('../images/envelope-bottom.png', 699px, 451px);
        background-image: url('../images/envelope-bottom.png');
        background-size: pxToRem(699px) pxToRem(451px);
        background-position: bottom;
        background-repeat: no-repeat;
        @extend .envelope;
        z-index: 10;
    }
    .card {
        background-color: rgba(255, 251, 241, .99) !important;
    }
    .letter-det {
        width: pxToRem(660px);
        height: pxToRem(670px);
        background-color: rgba(255, 251, 241, .85);
        position: absolute;
        left: pxToRem(20px);
        top: 0;
        z-index: 8;
        border-radius: pxToRem(10px);
        background-image: url('../images/lines-blue.png');
        background-size: pxToRem(542px) pxToRem(303px);
        background-position: center pxToRem(186px);
        background-repeat: no-repeat;
        font-size: 0;
        span {
            width: 100%;
            font-size: pxToRem(30px);
            color: #011a58;
            line-height: pxToRem(60px);
            padding: 0 pxToRem(58px);
        }
        .letter {
            margin-top: pxToRem(50px);
            text-align: center;
            height: pxToRem(300px);
        }
        &>span:last-child {
            text-align: right;
            margin-top: pxToRem(20px);
        }
    }
    &.close {
        .front-face {
            animation: flipFront .5s linear .8s both;
        }
        .back-face {
            animation: flipBack .5s linear 1.3s both;
        }
        .letter-det {
            animation: slideLetter .8s linear both;
        }

    }
}

.icon-avator {
    width: pxToRem(104px);
    height: pxToRem(104px);
    border-radius: pxToRem(104px);
    display: block !important;
    margin: auto;
    background-size: cover;
    margin-top: pxToRem(40px);
}

.wish-title {
    font-size: pxToRem(60px);
    color: #fff;
    text-align: center;
    width: 100%;
    // margin-bottom: pxToRem(40px);
}

.wish-page {
    background-image: url('../images/p2-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 0;
    padding-top: pxToRem(80px);
    padding-bottom: pxToRem(40px);
    // display: none;
}

.l-pai {
    @include background('../images/pai-wish.png',
    218px,
    297px);
    position: absolute;
    left: 50%;
    bottom: pxToRem(40px);
    margin-left: pxToRem(-109px);
    z-index: 20;
}
.pai-coins {
    @include background('../images/pai-coins.png', 485px, 335px);
    position: absolute;
    left: 8%;
    bottom: 0;
    z-index: 20;
}
.envelope-close {
  @include background('../images/fengla.png', 212px, 207px);
  position: absolute;
  left: 50%;
  bottom: pxToRem(120px);
  margin-left: pxToRem(-106px);
  z-index: 20;
}

.go-wish {
    margin-top: pxToRem(40px);
}

.go-again,
.go-index {
    position: absolute;
    left: 50%;
    bottom: pxToRem(40px);
    margin-left: pxToRem(-319px);
    z-index: 25;
}

.c-remark {
    width: pxToRem(693px);
    min-height: pxToRem(100px);
    border-radius: pxToRem(10px);
    border: pxToRem(3px) solid #fff;
    margin: auto;
    margin-top: pxToRem(40px);
    text-align: center;
    font-size: pxToRem(28px);
    color: #fff;
    padding: pxToRem(10px) pxToRem(20px);
    // line-height: pxToRem(36px);
    // padding-top: pxToRem(10px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    span {
        width: 100%;
        line-height: pxToRem(36px);
    }
    a {
        color: #ffe71e;
        text-decoration: underline;
    }
}

.flexcontainer {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}


.icon-share {
  @include background('../images/share.png', 595px, 662px);
  position: absolute;
  top: pxToRem(20px);
  right: 0;
}




.disable-scroll {
    overflow: hidden !important;
}

.star-page {
    background-image: url('../images/star-bg.png');
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.icon-envelope {
    @include background('../images/icon-envelope.png',
    447px,
    258px);
    position: absolute;
    bottom: 20%;
    left: 50%;
    margin-left: pxToRem(-224px);
    // display: none;
    transform-origin: 40% 50%;
    z-index: 10;
}

.send-letter {
    animation: zoomOut 2s linear both;
}

.icon-tips {
    @include background('../images/icon-tips.png',
    416px,
    186px);
    position: absolute;
    left: pxToRem(30px);
    bottom: pxToRem(50px);
    opacity: 0;
}

.pai-star {
    @include background('../images/pai-star.png',
    270px,
    289px);
    position: absolute;
    right: pxToRem(30px);
    bottom: 0;
    opacity: 0;
}

.show-pai {
    animation: slideInUp .8s linear 2s both;
}

.show-tips {
    animation: fadeIn .3s linear 3s both;
}

.star-cont {
    width: 100%;
    height: 70%;
    position: relative;
    
    .star-anit {
        animation-name: shinning;
        animation-timing-function: linear;
        animation-direction: both;

    }
    .star-blind {
      animation: blind .5s linear;
    }
    .icon-star1 {
        left: 20%;
        top: pxToRem(60px);
        width: pxToRem(276px) * .75;
        height: pxToRem(276px) * .75;
        animation-duration: 3s;
        animation-iteration-count: infinite;
    }
    .icon-star2 {
        left: 10%;
        top: 51%;
        width: pxToRem(276px);
        height: pxToRem(276px);
        animation-delay: .5s;
        animation-duration: 2.8s;
        animation-iteration-count: infinite;
    }
    .icon-star3 {
        right: 0;
        top: 0;
        width: pxToRem(276px);
        height: pxToRem(276px);
        animation-delay: .1s;
        animation-duration: 4s;
        animation-iteration-count: infinite;
    }
    .icon-star4 {
        top: 24%;
        left: 42%;
        width: pxToRem(276px) * .5;
        height: pxToRem(276px) * .5;
        animation-duration: 2s;
        animation-delay: 2.5s;
        animation-iteration-count: infinite;
    }
}
.is {
    opacity: 1 !important;
}


.icon-shooting-star1 {
    top: pxToRem(120px);
    right: 0;
}

.icon-shooting-star2 {
    top: 40%;
    right: pxToRem(-300px);
    animation-delay: 1.5s;
    animation-duration: 2.5s !important;
}

@-webkit-keyframes zoomOut {
    from {
        opacity: 1;
    }
    70% {
      opacity: 1;
    }
    to {
        opacity: 0;
        transform: perspective(pxToRem(500px)) translate(pxToRem(50px), pxToRem(-600px)) scale(.1);
        -webkit-transform: perspective(pxToRem(500px)) translate(pxToRem(50px), pxToRem(-600px)) scale(.1);
    }
}

@keyframes zoomOut {
    from {
        opacity: 1;
    }
    70% {
      opacity: 1;
    }
    to {
        opacity: 0;
        transform: perspective(pxToRem(500px)) translate(pxToRem(50px), pxToRem(-600px)) scale(.1);
        -webkit-transform: perspective(pxToRem(500px)) translate(pxToRem(50px), pxToRem(-600px)) scale(.1);
    }
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}



@-webkit-keyframes slideInUp {
    from {
        opacity: 1;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
        visibility: visible;
    }
    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}

@keyframes slideInUp {
    from {
        opacity: 1;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
        visibility: visible;
    }
    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}

@-webkit-keyframes shinning {
    0%,
    50%,
    100% {
        opacity: 1;
        transform: scale(1);
        -webkit-transform: scale(1);
    }
    25% {
        opacity: 1;
        transform: scale(.6);
        -webkit-transform: scale(.6);
    }
    75% {
        opacity: 1;
        transform: scale(1.4);
        -webkit-transform: scale(1.4);
    }
}

@keyframes shinning {
    0%,
    50%,
    100% {
        opacity: 1;
        transform: scale(1);
        -webkit-transform: scale(1);
    }
    25% {
        opacity: 1;
        transform: scale(.6);
        -webkit-transform: scale(.6);
    }
    75% {
        opacity: 1;
        transform: scale(1.4);
        -webkit-transform: scale(1.4);
    }
}
@-webkit-keyframes blind{
  from {
    opacity: 1;
    transform: scale(1.5);
    -webkit-transform: scale(1.5);
  }
  to {
    opacity: 1;
    transform: scale(0);
    -webkit-transform: scale(0);
  }
}
@keyframes blind{
  from {
    opacity: 1;
    transform: scale(1.5);
    -webkit-transform: scale(1.5);
  }
  to {
    opacity: 1;
    transform: scale(0);
    -webkit-transform: scale(0);
  }
}

@keyframes flipFront {
    0% {
        transform: perspective($perspective) rotateX(0);
        -webkit-transform: perspective($perspective) rotateX(0);
    }
    100% {
        transform: perspective($perspective) rotateX(90deg);
        -webkit-transform: perspective($perspective) rotateX(90deg);
    }
}

@-webkit-keyframes flipFront {
    0% {
        transform: perspective($perspective) rotateX(0);
        -webkit-transform: perspective($perspective) rotateX(0);
    }
    100% {
        transform: perspective($perspective) rotateX(90deg);
        -webkit-transform: perspective($perspective) rotateX(90deg);
    }
}

@keyframes flipBack {
    0% {
        transform: perspective($perspective) rotateX(90deg);
        -webkit-transform: perspective($perspective) rotateX(90deg);
    }
    100% {
        transform: perspective($perspective) rotateX(0deg);
        -webkit-transform: perspective($perspective) rotateX(0deg);
    }
}

@-webkit-keyframes flipBack {
    0% {
        transform: perspective($perspective) rotateX(90deg);
        -webkit-transform: perspective($perspective) rotateX(90deg);
    }
    100% {
        transform: perspective($perspective) rotateX(0deg);
        -webkit-transform: perspective($perspective) rotateX(0deg);
    }
}

@keyframes slideLetter {
    0% {
        transform: translate(0, 0);
        -webkit-transform: translate(0, 0);
    }
    100% {
        transform: translate(0, pxToRem(380px));
        -webkit-transform: translate(0, pxToRem(380px));
        opacity: 0;
    }
}

@-webkit-keyframes slideLetter {
    0% {
        transform: translate(0, 0);
        -webkit-transform: translate(0, 0);
    }
    100% {
        transform: translate(0, pxToRem(380px));
        -webkit-transform: translate(0, pxToRem(380px));
        opacity: 0;
    }
}
