@charset "UTF-8";
@import "variables";
@import "../../../sass/func";

/*  for small width screen  */

@media screen and (max-width:374px) {}


/* =========for short screen============== */

@media screen and (max-height: 540px) and (min-width:321px) {
    $ratio: 0.85;
    .icon-left-hand {
        @include background("../images/left_hand.png", 216px * $ratio, 366px * $ratio);
    }
    .icon-right-hand {
        @include background("../images/right_hand.png", 216px * $ratio, 366px * $ratio);
    }
    .video-sec {
        transform: scale($ratio);
        transform-origin: 50% 0;
    }
    .contest-brief-sec {
        transform: scale($ratio);
        transform-origin: 50% 100%;
    }
    .game-sec {
        .game-track {
            transform: scale($ratio);
            transform-origin: 50% 0;
            .icon-success-line {
                transform: scale(1 / $ratio);
            }
        }
        .game-rule-sec {
            .container {
                top: 8%;
            }
        }
    }
    .result-sec {
        .result-content {
            transform: scale($ratio);
            transform-origin: 50% 0;
        }
    }
    .text-chart-title {
        margin-top: 12px;
        @include background("../images/chart_title.png", 595px*$ratio, 217px*$ratio);
    }
    .chart-sec {
        margin-top: 0;
    }
    .chart-desc {
        margin-top: 8px;
        // font-size: 12px;
    }
    .btn-group {
        padding-top: 8px;
    }
    .swiper-container-horizontal {
        &>.swiper-pagination {
            // bottom: 0 !important;
        }
    }
}

//* -----------meizu  mx3----------------- */
@media screen and (min-height: 589px) and (min-width:430px) {
    $ratio: 0.9;
    $ratio2: 0.85;
    .icon-left-hand {
        @include background("../images/left_hand.png", 216px * $ratio2, 366px * $ratio2);
    }
    .icon-right-hand {
        @include background("../images/right_hand.png", 216px * $ratio2, 366px * $ratio2);
    }
    .video-sec {
        width: 320px;
        margin-left: -160px;
        height: 25%;
    }
    .contest-brief-sec {
        transform: scale($ratio);
        transform-origin: 50% 100%;
    }
    .game-sec {
        .game-rule-sec {
            .container {
                transform: scale($ratio);
            }
        }
    }
    .game-sec {
        .game-track {
            transform: scale($ratio2);
            transform-origin: 50% 0;
            .icon-success-line {
                transform: scale(1 / $ratio2);
            }
        }
        .game-rule-sec {
            .container {
                top: 9%;
            }
        }
    }
    .result-sec {
        .result-content {
            transform: scale($ratio2);
            transform-origin: 50% 0;
        }
    }
    .text-chart-title {
        margin-top: 12px;
        @include background("../images/chart_title.png", 595px*$ratio2, 217px*$ratio2);
    }
    .chart-sec {
        margin-top: 0;
    }
    .chart-desc {
        margin-top: 6px;
        // font-size: 12px;
    }
    .btn-group {
        padding-top: 6px;
    }
    .swiper-container-horizontal {
        &>.swiper-pagination {
            // bottom: 0 !important;
        }
    }

}


/* ------------------------iphone 5------------------------ */

@media screen and (max-width:320px) and (max-height:508px) {
    $ratio: 0.9;
    .chart-desc {
        margin-top: 6px;
    }
    .btn-group {
        padding-top:8px;
    }
}


/* -------------------------iphone4---------------------------- */

@media screen and (max-width:320px) and (max-height:416px) {
    $ratio: 0.8;
    .icon-left-hand {
        @include background("../images/left_hand.png", 216px * $ratio, 366px * $ratio);
    }
    .icon-right-hand {
        @include background("../images/right_hand.png", 216px * $ratio, 366px * $ratio);
    }
    .video-sec {
        width: 240px;
        margin-left: -120px;
        height: 26%;
    }
    .contest-brief-sec {
        bottom: 43px;
        .icon-contest-breif {
            transform: scale(.8);
            margin-top: 18px;
        }
        .arrow {
            margin-bottom: 4px;
        }
    }
    .content {
        .bottom-part {
            // transform:scale($ratio);
            height: 45px;
            background-size: 100% 100%;
            .btn2 {
                transform: scale($ratio);
            }
        }
    }
    .game-sec {
        .game-rule-sec {
            .container {
                transform: scale($ratio);
            }
        }
    }
    .game-sec {
        .game-track {
            transform: scale($ratio);
            transform-origin: 50% 0;
            .icon-success-line {
                transform: scale(1 / $ratio);
            }
        }
        .game-rule-sec {
            .container {
                top: 13%;
            }
        }
    }
    .result-sec {
        .result-content {
            transform: scale($ratio);
            transform-origin: 50% 0;
        }
    }
    .text-chart-title {
        margin-top: 12px;
        @include background("../images/chart_title.png", 595px*$ratio, 217px*$ratio);
    }
    .chart-sec {
        margin-top: 0;
        .row {
            // margin: 0 pxToRem(20px) pxToRem(18px) pxToRem(20px);
            &>span {
                font-size: pxToRem(26px);
                height: 22px;
                line-height: 22px;
                font-size: 12px;
            }
        }
        .row-header {
            @extend .row;
            font-size: 13px;
        }
    }
    .chart-desc {
        margin-top: 4px;
        font-size: 12px;
    }
    .btn-group {
        padding-top: 6px;
    }
    .swiper-container {
        height: 195px;
    }
}

@media screen and (max-width: 320px) {}
