@charset "UTF-8";
@import "../../../sass/func";
.icon-block {
    display: block;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.icon-inline-block {
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.icon-pop0 {
    @extend .icon-block;
    @include icon-background('../images/pop0.png', 247px, 223px);
}

.icon-pop1 {
    @extend .icon-block;
    @include icon-background('../images/pop1.png', 269px, 206px);
}

.icon-masker-txt {
    @extend .icon-block;
    @include icon-background('../images/masker_txt.png', 703px, 90px);
}
.icon-hz-float {
    @extend .icon-block;
    @include icon-background('../images/hz-float.png', 119px, 179px);
}
.icon-lz-float {
    @include icon-background('../images/lz-float.png', 119px, 179px);
    @extend .icon-block;
}

.icon-yr-float {
    @include icon-background('../images/yr-float.png', 127px, 161px);
    @extend .icon-block;
}
