@charset "UTF-8";
@import "../../../sass/func";

.animated {
    animation-duration: 0.6s;
    animation-fill-mode: both;
}

@-webkit-keyframes zoomIn {
    0% {
        opacity: 1;
        -webkit-transform: scale3d(0.0, 0.0, 0.0);
        transform: scale3d(0.0, 0.0, 0.0);
    }
    100% {
        -webkit-transform: scale3d(1.0, 1.0, 1.0);
        transform: scale3d(1.0, 1.0, 1.0);
        opacity: 1;
    }
}

@keyframes zoomIn {
    0% {
        opacity: 1;
         -webkit-transform: scale3d(0.0, 0.0, 0.0);
        transform: scale3d(0.0, 0.0, 0.0);
    }
    100% {
        -webkit-transform: scale3d(1.0, 1.0, 1.0);
        transform: scale3d(1.0, 1.0, 1.0);
        opacity: 1;
    }
}

.zoomIn {
    @extend .animated;
    animation-duration: 0.8s;
    -webkit-animation-name: zoomIn;
    animation-name: zoomIn;
}