@charset "UTF-8";
@import "variables";
@import "../../../sass/func";
.content {
    .title {
        background-image: url("../images/title-chest.png");
        width: pxToRem(630px);
        height: pxToRem(140px);
        position: relative;
        margin-top: pxToRem(12px);
        left: pxToRem(44px);
        margin-bottom: pxToRem(14px);
    }
    .md {
        margin-bottom: pxToRem(56px);
        position: relative;
        z-index: 100;
    }
    .chest-item {
        position: relative;
        z-index: 9;
        .item-wrapper {
            margin: auto;
            position: relative;
            width: pxToRem(710px);
            height: pxToRem(910px);
            background-color: #ff642e;
            border-radius: pxToRem(20px);
            box-sizing: border-box;
            border: pxToRem(10px) solid #ea3426;
            z-index: 9;
            box-shadow: 0 pxToRem(10px) pxToRem(60px) #ca2416;
            .item-content {
                width: 100%;
                height: 100%;
                position: relative;
                box-sizing: border-box;
                border-radius: pxToRem(12px);
                border: 1px solid #feb96b;
                @at-root .light-wrapper {
                    position: absolute;
                    top: pxToRem(-80px);
                    left: 50%;
                    margin-left: pxToRem(-356px);
                    z-index: 9;
                    .light-bg {
                        background-image: url("../images/icon-light-bg.png");
                        width: pxToRem(710px);
                        height: pxToRem(710px);
                    }
                    .light {
                        background-image: url("../images/icon-light.png");
                        width: pxToRem(710px);
                        height: pxToRem(678px);
                        position: absolute;
                        z-index: 99;
                        top: 0;
                        left: 0;
                        animation: rotating 16s linear infinite both;
                    }
                }
                .star {
                    position: absolute;
                    z-index: 999;
                    left: 50%;
                    transform: translateX(-50%);
                    z-index: 9;
                }
                @at-root .chest {
                    position: relative;
                    z-index: 99;
                    margin-top: pxToRem(92px);
                    z-index: 99;
                    .chest-body {
                        position: absolute;
                        z-index: 99;
                        left: 50%;
                        transform: translateX(-50%);
                        bottom: pxToRem(50px);
                        .chest-gift-wrapper {
                            display: none;
                            width: pxToRem(190px);
                            height: pxToRem(190px);
                            position: relative;
                            left: pxToRem(56px);
                            padding: pxToRem(44px) pxToRem(36px);
                            box-sizing: border-box;
                            .chest-gift {
                                width: 100%;
                                height: 100%;
                            }
                        }
                    }
                    .chest-base {
                        position: absolute;
                        z-index: 9;
                        left: 50%;
                        transform: translateX(-50%);
                        bottom: 0;
                    }
                }
                @at-root .tip-wrapper {
                    background-image: url("../images/bg-tip.png");
                    width: pxToRem(502px);
                    height: pxToRem(132px);
                    margin: auto;
                    padding-top: pxToRem(34px);
                    box-sizing: border-box;
                    font-size: 0;
                    position: relative;
                    z-index: 999;
                    &.tip-notGet,
                    &.tip-get {
                        .tip-left {
                            color: #fff;
                            padding-left: pxToRem(32px);
                            width: pxToRem(270px);
                            font-size: pxToRem(24px);
                            line-height: pxToRem(30px);
                            display: inline-block;
                            vertical-align: middle;
                            margin-right: pxToRem(28px);
                            text-align: center;
                        }
                        .tip-right {
                            // background-image: url("../images/btn-yellow.png");
                            width: pxToRem(130px);
                            height: pxToRem(52px);
                            line-height: pxToRem(52px);
                            vertical-align: middle;
                            font-size: 0;
                            color: #fd493a;
                            font-weight: initial;
                            font {
                                vertical-align: middle;
                                display: inline-block;
                                font-size: pxToRem(26px);
                            }
                            .icon-arrow-red {
                                margin-left: pxToRem(6px);
                            }
                        }
                    }
                    &.tip-text {
                        padding-top: pxToRem(12px);
                        font-size: pxToRem(24px);
                        color: #fff;
                        line-height: pxToRem(106px);
                        margin: auto;
                        text-align: center;
                        position: relative;
                        z-index: 999;
                    }
                }
                @at-root .gift-wrapper {
                    position: absolute;
                    bottom: -1px;
                    width: 100%;
                    height: pxToRem(302px);
                    border-radius: pxToRem(12px);
                    border: 1px solid #ffbc6d;
                    box-sizing: border-box;
                    background-color: #fffbe5;
                    .gift-title {
                        background-image: url("../images/bg-gift-title.png");
                        width: pxToRem(316px);
                        height: pxToRem(42px);
                        font-size: pxToRem(28px);
                        text-align: center;
                        line-height: pxToRem(42px);
                        position: absolute;
                        top: pxToRem(-22px);
                        left: 50%;
                        margin-left: pxToRem(-156px);
                        color: #fff;
                    }
                    @at-root .gift-list {
                        margin-top: pxToRem(56px);
                        padding-left: pxToRem(20px);
                        padding-right: pxToRem(20px);
                        overflow-y: hidden;
                        overflow-x: scroll;
                        // display: flex;
                        white-space: nowrap;
                        height: pxToRem(246px);
                        font-size: 0;
                        &>div:nth-child(4n-3) {
                            .coupon {
                                @extend .silver-gift01;
                            }
                        }
                        &>div:nth-child(4n-2) {
                            .coupon {
                                @extend .silver-gift02;
                            }
                        }
                        &>div:nth-child(4n-1) {
                            .coupon {
                                @extend .silver-gift03;
                            }
                        }
                        &>div:nth-child(4n) {
                            .coupon {
                                @extend .silver-gift04;
                            }
                        }
                        .gift-item {
                            width: pxToRem(192px);
                            margin-right: pxToRem(16px);
                            display: inline-block;
                            vertical-align: middle;
                            .icon-wrapper {
                                padding: pxToRem(16px) pxToRem(14px);
                                box-sizing: border-box;
                                width: pxToRem(192px);
                                height: pxToRem(160px);
                                border-radius: pxToRem(10px);
                                border: 1px solid #ffe4b9;
                                background-color: #fff;
                                margin-bottom: pxToRem(16px);
                                .gift-icon {
                                    width: 100%;
                                    height: 100%;
                                    // background-size: pxToRem(160px) pxToRem(100px);
                                }
                            }
                            .gift-text {
                                font-size: pxToRem(20px);
                                color: #ff6630;
                                text-align: center;
                                line-height: pxToRem(32px);
                                white-space: normal;
                            }
                        }
                    }
                }
            }
        }
        @at-root &.chest-silver {
            margin-bottom: pxToRem(52px);
            .star {
                background-image: url("../images/icon-star-silver.png");
                width: pxToRem(460px);
                height: pxToRem(226px);
                top: pxToRem(60px);
            }
            .chest {
                height: pxToRem(336px);
                .chest-body {
                    background-image: url("../images/icon-silver-chest-off.png");
                    width: pxToRem(316px);
                    height: pxToRem(290px);
                    &.open {
                        background-image: url("../images/icon-silver-chest-open.png");
                        width: pxToRem(362px);
                        height: pxToRem(334px);
                        .chest-gift-wrapper {
                            display: inline-block;
                            .chest-gift {
                                font-size: pxToRem(46px);
                                font-weight: bold;
                                color: #fff;
                                line-height: pxToRem(98px);
                                text-align: center;
                                &:after {
                                    content: "%";
                                    font-size: pxToRem(18px);
                                    font-weight: bold;
                                }
                            }
                        }
                    }
                    .chest-gift-wrapper {
                        background-image: url("../images/bg-silver-gift.png");
                    }
                }
                .chest-base {
                    background-image: url("../images/icon-silver-base.png");
                    width: pxToRem(380px);
                    height: pxToRem(166px);
                }
            }
            .gift-icon {
                font-size: pxToRem(60px);
                font-weight: bold;
                color: #fffce4;
                line-height: pxToRem(120px);
                text-align: center;
                &:after {
                    content: "%";
                    font-size: pxToRem(24px);
                    font-weight: bold;
                }
            }
            .ribbon01 {
                background-image: url("../images/icon-ribbon01.png");
                width: pxToRem(228px);
                height: pxToRem(110px);
                position: absolute;
                top: pxToRem(-66px);
                right: 0;
                z-index: 999;
            }
            .ribbon02 {
                background-image: url("../images/icon-ribbon02.png");
                width: pxToRem(198px);
                height: pxToRem(420px);
                position: absolute;
                bottom: pxToRem(-288px);
                left: 0;
                z-index: 1;
            }
            .float01 {
                background-image: url("../images/icon-float01.png");
                width: pxToRem(110px);
                height: pxToRem(196px);
                position: absolute;
                top: pxToRem(40px);
                left: 0;
                z-index: 999;
            }
            .float02 {
                background-image: url("../images/icon-float02.png");
                width: pxToRem(66px);
                height: pxToRem(156px);
                position: absolute;
                top: pxToRem(170px);
                left: 0;
                z-index: 999;
            }
            .float03 {
                background-image: url("../images/icon-float03.png");
                width: pxToRem(116px);
                height: pxToRem(168px);
                position: absolute;
                top: pxToRem(400px);
                right: 0;
                z-index: 999;
            }
        }
        @at-root &.chest-gold {
            margin-bottom: pxToRem(110px);
            .star {
                background-image: url("../images/icon-star-gold.png");
                width: pxToRem(460px);
                height: pxToRem(226px);
                top: pxToRem(60px);
            }
            .chest {
                height: pxToRem(336px);
                .chest-body {
                    background-image: url("../images/icon-gold-chest-off.png");
                    width: pxToRem(306px);
                    height: pxToRem(272px);
                    &.open {
                        background-image: url("../images/icon-gold-chest-open.png");
                        width: pxToRem(364px);
                        height: pxToRem(340px);
                        .chest-gift-wrapper {
                            display: inline-block;
                        }
                    }
                    .chest-gift-wrapper {
                        background-image: url("../images/bg-gold-gift.png");
                    }
                }
                .chest-base {
                    background-image: url("../images/icon-gold-base.png");
                    width: pxToRem(370px);
                    height: pxToRem(166px);
                }
            }
            .gift-text {
                height: pxToRem(64px) !important;
            }
            .float04 {
                background-image: url("../images/icon-float04.png");
                width: pxToRem(116px);
                height: pxToRem(178px);
                position: absolute;
                top: 0;
                right: 0;
                z-index: 999;
            }
            .ribbon03 {
                background-image: url("../images/icon-ribbon03.png");
                width: pxToRem(224px);
                height: pxToRem(454px);
                position: absolute;
                top: pxToRem(684px);
                right: pxToRem(4px);
                z-index: 1;
            }
        }
    }
    .winners-wrapper {
        position: relative;
        z-index: 9;
        margin-bottom: pxToRem(70px);
        .winners-list {
            position: relative;
            z-index: 9;
            width: pxToRem(710px);
            height: pxToRem(610px);
            border-radius: pxToRem(20px);
            background-color: #ff7033;
            margin: auto;
            text-align: center;
            border: pxToRem(10px) solid #ea3426;
            box-shadow: 0 pxToRem(10px) pxToRem(60px) #ca2416;
            .winner-title {
                width: pxToRem(460px);
                height: pxToRem(100px);
                position: absolute;
                z-index: 99;
                background-image: url("../images/winner-title.png");
                left: 50%;
                margin-left: pxToRem(-230px);
                top: pxToRem(-48px)
            }
            .list-wrapper {
                width: pxToRem(650px);
                height: pxToRem(510px);
                background-color: #fff8c2;
                border-radius: pxToRem(10px);
                margin: auto;
                margin-top: pxToRem(72px);
                .chest-type-wrapper {
                    font-size: 0;
                    height: pxToRem(76px);
                    line-height: pxToRem(72px);
                    white-space: nowrap;
                    position:relative;
                    &:after {
                        @include border("bottom", #ffc976);
                    }
                    .chest-type {
                        width: 50%;
                        color: #9e8c5f;
                        font-size: pxToRem(30px);
                        display: inline-block;
                        text-align: center;
                        &.active {
                            color: #eb5819;
                            border-bottom: pxToRem(4px) solid #e85a1a;
                        }
                    }
                }
                @at-root .scroll-content {
                    width: 100%;
                    height: pxToRem(430px);
                    position: relative;
                    padding-top: pxToRem(50px);
                    padding-bottom: pxToRem(30px);
                    font-size: 0;
                    overflow: hidden;
                    box-sizing: border-box;
                    z-index: 99;
                    display: none;
                    &.active {
                        display: block;
                    }
                    .anit {
                        animation: move-list 5s linear infinite;
                    }
                    .winner-item {
                        position: relative;
                        margin-bottom: pxToRem(52px);
                        white-space: nowrap;
                        font-size: 0;
                        text-align: left;
                        padding: 0 pxToRem(20px);
                        color: #b73e28;
                        .winner-name {
                            font-size: pxToRem(24px);
                            line-height: 120%;
                            display: inline-block;
                            text-overflow: ellipsis;
                            overflow: hidden;
                            white-space: nowrap;
                            margin-right: pxToRem(30px);
                            vertical-align: middle;
                            width: pxToRem(196px);
                        }
                        .prize-name {
                            font-size: pxToRem(24px);
                            line-height: 120%;
                            display: inline-block;
                            text-overflow: ellipsis;
                            overflow: hidden;
                            white-space: nowrap;
                            vertical-align: middle;
                            width: pxToRem(250px);
                        }
                        .win-time {
                            font-size: pxToRem(24px);
                            display: inline-block;
                            vertical-align: middle;
                            float: right;
                        }
                    }
                }
            }
        }
        .ribbon04 {
            background-image: url("../images/icon-ribbon04.png");
            width: pxToRem(288px);
            height: pxToRem(234px);
            position: absolute;
            left: 0;
            bottom: pxToRem(-20px);
            z-index: 1;
        }
        .float05 {
            background-image: url("../images/icon-float05.png");
            width: pxToRem(128px);
            height: pxToRem(182px);
            position: absolute;
            z-index: 99;
            left: 0;
            top: 0;
        }
    }
}

.interest-wrapper {
    position: fixed;
    bottom: pxToRem(130px);
    right: pxToRem(10px);
    z-index: 999;
    .interest-ticket {
        background-image: url("../images/icon-interest-ticket.png");
        width: pxToRem(110px);
        height: pxToRem(110px);
        position: relative;
        border-radius: 50%;
        box-shadow: 0 0 pxToRem(40px) rgba(237, 55, 39, 0.7);
    }
    .interest-privilege {
        background-image: url("../images/icon-interest-privilege.png");
        width: pxToRem(110px);
        height: pxToRem(110px);
        margin-top: pxToRem(10px);
        color: #ea5800;
        font-size: pxToRem(36px);
        font-weight: bold;
        padding-top: pxToRem(24px);
        padding-left: pxToRem(22px);
        box-sizing: border-box;
        border-radius: 50%;
        box-shadow: 0 0 pxToRem(40px) rgba(237, 55, 39, 0.7);
        &:after {
            content: "%";
            font-size: pxToRem(22px);
            font-weight: initial;
        }
    }
}

.dialog-rule {
    display: none;
}

.popup-prize {
    .popup-content {
        overflow: inherit;
        padding-top: pxToRem(40px) !important;
        margin-top: 0;
        background: url(../images/prize_decora.png) no-repeat top;
        background-size: pxToRem(610px) pxToRem(440px);
        background-color: #fff;
    }
    .prize {
        display: block;
        margin: pxToRem(20px) auto pxToRem(48px);
        width: pxToRem(300px);
        height: pxToRem(244px);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        font-size: pxToRem(100px);
        color: #fffce4;
        line-height: pxToRem(244px);
    }
    [class^='prize silver-gift'] {
        &:after {
            content: '%';
            font-size: pxToRem(46px);
        }
    }
}

.animated {
    animation-duration: 0.6s;
    animation-fill-mode: both;
}

@-webkit-keyframes zoomIn {
    0% {
        -webkit-transform: scale3d(0.0, 0.0, 0.0);
        transform: scale3d(0.0, 0.0, 0.0);
    }
    100% {
        -webkit-transform: scale3d(1.0, 1.0, 1.0);
        transform: scale3d(1.0, 1.0, 1.0);
    }
}

@keyframes zoomIn {
    0% {
        -webkit-transform: scale3d(0.0, 0.0, 0.0);
        transform: scale3d(0.0, 0.0, 0.0);
    }
    100% {
        -webkit-transform: scale3d(1.0, 1.0, 1.0);
        transform: scale3d(1.0, 1.0, 1.0);
    }
}

.zoomIn {
    @extend .animated;
    animation-duration: 0.3s;
    -webkit-animation-name: zoomIn;
    animation-name: zoomIn;
    transform: none !important;
    top: 20% !important;
}

@-webkit-keyframes zoomOut {
    0% {
        -webkit-transform: scale3d(1.0, 1.0, 1.0);
        transform: scale3d(1.0, 1.0, 1.0);
    }
    100% {
        -webkit-transform: scale3d(0.0, 0.0, 0.0);
        transform: scale3d(0.0, 0.0, 0.0);
    }
}

@keyframes zoomOut {
    0% {
        -webkit-transform: scale3d(1.0, 1.0, 1.0);
        transform: scale3d(1.0, 1.0, 1.0);
    }
    100% {
        -webkit-transform: scale3d(0.0, 0.0, 0.0);
        transform: scale3d(0.0, 0.0, 0.0);
    }
}

.zoomOut {
    @extend .animated;
    animation-duration: 0.3s;
    -webkit-animation-name: zoomOut;
    animation-name: zoomOut;
    transform: none !important;
    top: 20% !important;
}

@keyframes move-list {
    0% {
        opacity: 1;
        transform: translateY(0);
        display: block !important;
    }
    100% {
        // opacity: 0;
        transform: translateY(-50%);
        display: block !important;
    }
}

@-webkit-keyframes move-list {
    0% {
        opacity: 1;
        -webkit-transform: translateY(0);
        display: block !important;
    }
    100% {
        // opacity: 0;
        -webkit-transform: translateY(-50%);
        display: block !important;
    }
}

@-webkit-keyframes rotating {
    from {
        -webkit-transform: rotateZ(0deg);
        transform: rotateZ(0deg);
    }
    to {
        -webkit-transform: rotateZ(360deg);
        transform: rotateZ(360deg);
    }
}

@keyframes rotating {
    from {
        -webkit-transform: rotateZ(0deg);
        transform: rotateZ(0deg);
    }
    to {
        -webkit-transform: rotateZ(360deg);
        transform: rotateZ(360deg);
    }
}

//icon
.silver-gift01 {
    background-image: url("../images/silver-gift01.png");
}

.silver-gift02 {
    background-image: url("../images/silver-gift02.png");
}

.silver-gift03 {
    background-image: url("../images/silver-gift03.png");
}

.silver-gift04 {
    background-image: url("../images/silver-gift04.png");
}

.gold-gift01 {
    background-image: url("../images/gold-gift01.png");
}

.gold-gift02 {
    background-image: url("../images/gold-gift02.png");
}

.gold-gift03 {
    background-image: url("../images/gold-gift03.png");
}

.gold-gift04 {
    background-image: url("../images/gold-gift04.png");
}

.gold-gift05 {
    background-image: url("../images/gold-gift05.png");
}

.gold-gift06 {
    background-image: url("../images/gold-gift06.png");
}

.gold-gift07 {
    background-image: url("../images/gold-gift07.png");
}

.gold-gift08 {
    background-image: url("../images/gold-gift08.png");
}

.gold-gift09 {
    background-image: url("../images/gold-gift09.png");
}

.gold-gift10 {
    background-image: url("../images/gold-gift10.png");
}

.gold-gift11 {
    background-image: url("../images/gold-gift11.png");
}
