@charset "UTF-8";
@import "variables";
@import "sprite";
@import "../../../sass/func";
@import "../../../sass/reset";
html,
body {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
    font-family: "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    background-color: $bg-red;
}

.scroll-active {
    -webkit-overflow-scrolling: touch !important;
}

a {
    text-decoration: none;
}

.scroll {
    max-width: 414px;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    overflow: scroll;
    position: relative;
    background-color: $bg-red;
    .content {
        padding-bottom: pxToRem(98px);
        width: 100%;
    }
}

.act-time {
    font-size: pxToRem(24px);
    color: #fffbe8;
    text-align: center;
    display: block;
    margin-top: pxToRem(26px);
}

.title-bg {
    @include icon-background('../images/title-bg.png', 594px, 98px);
    @extend .icon-block;
    margin: auto;
    margin-top: pxToRem(40px);
}

.md {
    font-size: 0;
    margin-bottom: pxToRem(38px);
    text-align: center;
    .act-time {
        display: inline-block;
        line-height: pxToRem(36px);
        vertical-align: middle;
        height: pxToRem(36px);
        margin-top: 0;
    }
    .check-rule {
        color: #f16c26;
        font-size: 0;
        display: inline-block;
        vertical-align: middle;
        line-height: pxToRem(36px);
        height: pxToRem(36px);
        margin-left: pxToRem(20px);
        border-radius: pxToRem(18px);
        background-color: #fee13d;
        width: pxToRem(142px);
        text-align: center;
        .rule-text {
            font-size: pxToRem(22px);
            display: inline-block;
            vertical-align: middle;
        }
        .icon-arrow {
            vertical-align: middle;
            margin-left: pxToRem(10px);
        }
    }
}
.icon-arrow {
    @include icon-background('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAATBAMAAAC0B+rjAAAAJFBMVEUAAAD8eDT8eDT8eDT8eDT8eDT8eDT8eDT8eDT8eDT8eDT8eDS9xPZPAAAADHRSTlMA/RXUkEla5nNHJxeUcVZ0AAAAMElEQVQI12PgZgCD5Q5gaqIImGIVhHADieGyCTaAKGVhBSDJZGhEDIch0QiiF8wBABkUB6BnlrRMAAAAAElFTkSuQmCC',
    11px,
    19px);
    @extend .icon-inline-block;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    // left: 50%;
    // max-width: 414px;
    // transform: translate(-50%, 0);
    background-color: $bg-orange;
    height: pxToRem(98px);
    line-height: pxToRem(98px);
    font-size: 0;
    z-index: 999;
    a {
        display: inline-block;
        width: 33.33%;
        height: 100%;
        text-align: center;
        font-size: pxToRem(30px);
        color: #fff;
        &.active {
            background-color: #f58225;
        }
    }
}
