@charset "UTF-8";
@import "variables";
@import "sprite";
@import "../../../sass/func";
@import "../../../sass/reset";
html,
body {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
    font-family: "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    background-color: $bg-red;
}

.scroll-active {
    -webkit-overflow-scrolling: touch !important;
}

a {
    text-decoration: none;
}

.scroll {
    max-width: 414px;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    position: relative;
    background-color: $bg-red;
    .content {
        padding-bottom: pxToRem(98px);
        width: 100%;
    }
}


/* .act-time {
    font-size: pxToRem(24px);
    color: #fffbe8;
    text-align: center;
    display: block;
    margin-top: pxToRem(26px);
}

.l-rule-btn {
    height: pxToRem(36px);
    line-height: pxToRem(36px);
    background-color: #ffe13e;
    color: #f16c26;
    font-size: pxToRem(22px);
    border-radius: pxToRem(36px);
    padding: 0 pxToRem(10px);
    margin-left: pxToRem(20px);
    .icon-arrow {
        @include icon-background('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAATBAMAAAC0B+rjAAAAJFBMVEUAAAD8eDT8eDT8eDT8eDT8eDT8eDT8eDT8eDT8eDT8eDT8eDS9xPZPAAAADHRSTlMA/RXUkEla5nNHJxeUcVZ0AAAAMElEQVQI12PgZgCD5Q5gaqIImGIVhHADieGyCTaAKGVhBSDJZGhEDIch0QiiF8wBABkUB6BnlrRMAAAAAElFTkSuQmCC', 11px, 19px);
        @extend .icon-inline-block;
        vertical-align: middle;
        margin-left: pxToRem(6px);
    }
} */


/* .title-bg {
    @include icon-background('../images/title-bg.png', 594px, 98px);
    @extend .icon-block;
    margin: auto;
    margin-top: pxToRem(40px);
    line-height: pxToRem(98px);
    text-align: center;
    position: relative;
} */

.act-time {
    font-size: pxToRem(24px);
    color: #fffbe8;
    text-align: center;
    display: block;
    // margin-top: pxToRem(26px);
}

//btn
.btn {
    margin: 0 auto;
    text-align: center;
}

.btn-orange {
    @extend .btn;
    border-radius: pxToRem(92px);
    background-image: -moz-linear-gradient( 90deg, rgb(243, 67, 51) 0%, rgb(255, 117, 56) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(243, 67, 51) 0%, rgb(255, 117, 56) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(243, 67, 51) 0%, rgb(255, 117, 56) 100%);
    box-shadow: 0 pxToRem(8px) pxToRem(20px) 0 rgb( 255, 178, 148);
    width: pxToRem(512px);
    height: pxToRem(92px);
    line-height: pxToRem(92px);
    color: #fff;
    font-size: pxToRem(34px);
}

.btn-yellow-b {
    @extend .btn;
    background-image: -moz-linear-gradient( 90deg, rgb(255, 206, 11) 0%, rgb(255, 254, 185) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(255, 206, 11) 0%, rgb(255, 254, 185) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(255, 206, 11) 0%, rgb(255, 254, 185) 100%);
    box-shadow: pxToRem(4px) pxToRem(10px) pxToRem(30px) pxToRem(10px) rgba(190, 28, 26, 0.4);
    width: pxToRem(490px);
    height: pxToRem(90px);
    line-height: pxToRem(90px);
    border-radius: pxToRem(90px);
    color: #fa4d18;
    font-size: pxToRem(36px);
    font-weight: bold;
    border: pxToRem(2px) solid #ce3f00;
}

.btn-red {
    @extend .btn;
    width: pxToRem(650px);
    height: pxToRem(80px);
    border-radius: pxToRem(80px);
    line-height: pxToRem(80px);
    color: #fff;
    text-align: center;
    background-color: #ff4a3b;
    font-size: pxToRem(34px);
}

//字体颜色
.font-red {
    color: #ff4a3b;
}

//字体对其方式
.align-justify {
    text-align: justify;
}

.md {
    font-size: 0;
    margin-bottom: pxToRem(38px);
    text-align: center;
    .act-time {
        display: inline-block;
        line-height: pxToRem(36px);
        vertical-align: middle;
        height: pxToRem(36px);
        margin-top: 0;
    }
    .check-rule {
        color: #f16c26;
        font-size: 0;
        display: inline-block;
        vertical-align: middle;
        line-height: pxToRem(36px);
        height: pxToRem(36px);
        margin-left: pxToRem(20px);
        border-radius: pxToRem(18px);
        background-color: #fee13d;
        width: pxToRem(142px);
        text-align: center;
        .rule-text {
            font-size: pxToRem(22px);
            display: inline-block;
            vertical-align: middle;
        }
        .icon-arrow {
            vertical-align: middle;
            margin-left: pxToRem(10px);
        }
    }
}

.icon-arrow {
    @include icon-background('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAATBAMAAAC0B+rjAAAAJFBMVEUAAAD8eDT8eDT8eDT8eDT8eDT8eDT8eDT8eDT8eDT8eDT8eDS9xPZPAAAADHRSTlMA/RXUkEla5nNHJxeUcVZ0AAAAMElEQVQI12PgZgCD5Q5gaqIImGIVhHADieGyCTaAKGVhBSDJZGhEDIch0QiiF8wBABkUB6BnlrRMAAAAAElFTkSuQmCC', 11px, 19px);
    @extend .icon-inline-block;
}

.icon-arrow-red {
    @include icon-background('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAWBAMAAAAGFmApAAAAElBMVEUAAAD9SDn9SDn9SDn9SDn9SDmyku/tAAAABXRSTlMAFdSVOAsY+jEAAAAmSURBVAjXY3AWYAABU0UwJRQE5jKqksMNhlJQQagSIjkIR0CdBABlQgf1/uHRCQAAAABJRU5ErkJggg==', 11px, 19px);
    @extend .icon-inline-block;
    vertical-align: middle;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    // left: 50%;
    // max-width: 414px;
    // transform: translate(-50%, 0);
    background-color: $bg-orange;
    height: pxToRem(98px);
    line-height: pxToRem(98px);
    font-size: 0;
    z-index: 999;
    a {
        display: inline-block;
        width: 33.33%;
        height: 100%;
        text-align: center;
        font-size: pxToRem(30px);
        color: #fff;
        &.active {
            background-color: #f58225;
        }
    }
}

// popup
.popup {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    $top: 15%;
    .popup-wrapper {
        position: absolute;
        top: $top;
        left: 50%;
        width: pxToRem(610px);
        margin-left: pxToRem(-610px /2);
        max-height: 70%;
        // background-color: #fff;
        z-index: 1000;
        border-radius: pxToRem(30px);
        background-color: #fff;
        // overflow: hidden;
        z-index: 10000;
        &.more {
            height: pxToRem(970px);
            .popup-content {
                position: absolute;
                top: pxToRem(100px);
                bottom: 0;
                left: 0;
                right: 0;
                padding-bottom: pxToRem(56px);
            }
            &:after {
                content: '';
                @extend .icon-masker-txt;
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100% !important;
                background-position: bottom;
                border-bottom-left-radius: pxToRem(30px);
                border-bottom-right-radius: pxToRem(30px);
                z-index: 1111;
            }
        }
        .icon {
            position: absolute;
            left: 50%;
            bottom: pxToRem(-118px);
            margin-left: pxToRem(-269px/2);
        }
    }
    .popup-close {
        position: absolute;
        right: 0;
        height: 100%;
        width: pxToRem(100px);
        border-top-right-radius: pxToRem(30px);
        .close {
            position: absolute;
            width: pxToRem(52px);
            height: pxToRem(52px);
            top: 50%;
            left: 50%;
            margin-left: pxToRem(-52px /2);
            margin-top: pxToRem(-52px /2);
            border-radius: pxToRem(52px);
            background-color: #fffcf0;
            &:before {
                content: '';
                position: absolute;
                top: 50%;
                left: 50%;
                margin-left: pxToRem(-14px);
                margin-top: pxToRem(-2px);
                display: block;
                width: pxToRem(28px);
                height: pxToRem(4px);
                border-radius: pxToRem(4px);
                transform: rotate(45deg);
                background-color: $main-red;
            }
            &:after {
                content: '';
                position: absolute;
                top: 50%;
                left: 50%;
                margin-top: pxToRem(-14px);
                margin-left: pxToRem(-2px);
                display: block;
                height: pxToRem(28px);
                width: pxToRem(4px);
                border-radius: pxToRem(4px);
                transform: rotate(45deg);
                background-color: $main-red;
            }
        }
    }
    .popup-header {
        position: relative;
        // top: $top;
        // left: 50%;
        width: pxToRem(610px);
        // margin-left: pxToRem(-610px /2);
        background: url(../images/pop_header.png) no-repeat center;
        background-size: 100% 100%;
        background-color: #ff4a3b;
        height: pxToRem(100px);
        line-height: pxToRem(100px);
        border-top-left-radius: pxToRem(28px);
        border-top-right-radius: pxToRem(28px);
        text-align: center;
        color: #fff;
        font-size: pxToRem(34px);
        z-index: 1000;
        &:after {
            content: attr(data-title);
        }
    }
    .popup-content {
        // position: absolute;
        // top: $top;
        // left: 50%;
        // width: pxToRem(610px);
        // margin-left: pxToRem(-610px /2);
        // margin-top: pxToRem(100px);
        // max-height: 70%;
        // height: 100%;
        width: 100%;
        margin-top: pxToRem(40px);
        padding: pxToRem(30px) pxToRem(30px);
        padding-top: 0;
        // bottom: 0;
        box-sizing: border-box;
        border-bottom-left-radius: pxToRem(30px);
        border-bottom-right-radius: pxToRem(30px);
        background-color: #fff;
        overflow: scroll;
        z-index: 1000;
        text-align: justify;
        color: #60352d;
        // box-shadow: 0 pxToRem(-78px) pxToRem(78px) black inset;
        // .popup-content {
        //  width: 100%;
        //  height: 100%;
        //  overflow: scroll;
        //  z-index: 1000;
        // }
        // &.more {
        // 
        // }
        p {
            font-size: pxToRem(26px);
            line-height: pxToRem(48px);
            // color: #424242;
            margin-bottom: pxToRem(20px);
        }
        .grey {
            font-size: pxToRem(28px);
            line-height: pxToRem(48px);
            color: #ba9e98;
        }
        .icon-block {
            margin: 0 auto;
            margin-bottom: pxToRem(20px);
        }
    }
}

.popup-icon {
    .icon-pop0 {
        bottom: 0 !important;
    }
    .popup-content {
        padding: pxToRem(110px) pxToRem(32px) pxToRem(22px);
        text-align: center;
        &.pop0-content {
            padding-top: 0;
        }
        p {
            font-size: pxToRem(34px);
            line-height: initial;
            &.percent {
                font-size: pxToRem(86px);
                color: #ff5500;
                &:after {
                    content: '%';
                    color: #ff5500;
                    font-size: pxToRem(44px);
                }
            }
        }
        .btn-orange {
            margin-top: pxToRem(34px);
            margin-bottom: pxToRem(18px);
        }
    }
}

.masker {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .7);
    z-index: 999;
}
