/* @function baseFontSize($width) {
	return 20 * $width / 640;
}
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }

q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

/* @function baseFontSize($width) {
	return 20 * $width / 640;
}
 */
html,
body {
  position: relative;
  height: 100%;
  width: 100%;
  font-family: "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
  -webkit-overflow-scrolling: touch !important; }

a {
  text-decoration: none; }

.page {
  padding-bottom: 1.8773333333rem;
  min-height: 100%;
  background-size: contain;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  .page .banner {
    width: 100%;
    height: 6.8266666667rem;
    background-repeat: no-repeat;
    background-size: cover; }
  .page .list .item-wrapper {
    padding: 0.8533333333rem 0;
    padding-left: 0.64rem;
    overflow: hidden;
    position: relative; }
    .page .list .item-wrapper:after {
      content: "";
      position: absolute;
      transform-origin: 0 0;
      -webkit-transform-origin: 0 0;
      bottom: 0;
      left: 0;
      right: 0;
      border-bottom: 1px solid #e6e6e6;
      transform: scaleY(0.5);
      -webkit-transform: scaleY(0.5); }
    .page .list .item-wrapper .item-icon {
      background-size: contain;
      background-repeat: no-repeat;
      width: 2.1333333333rem;
      height: 2.1333333333rem;
      float: left;
      margin-right: 0.4266666667rem;
      background-position: 50% 50%; }
    .page .list .item-wrapper .text-wrapper {
      padding-right: 1.664rem;
      margin-top: 0.256rem; }
      .page .list .item-wrapper .text-wrapper .label01 {
        font-size: 0.7253333333rem;
        color: #333;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden; }
      .page .list .item-wrapper .text-wrapper .label02 {
        font-size: 0.5546666667rem;
        color: #999;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        line-height: 0.6826666667rem;
        margin-top: 0.4266666667rem; }
    .page .list .item-wrapper .text-detail {
      clear: both;
      margin-top: 0.4693333333rem;
      padding-left: 2.56rem;
      position: relative;
      padding-top: 0.4266666667rem;
      padding-right: 1.664rem;
      font-size: 0.5546666667rem;
      line-height: 0.8533333333rem;
      color: #CCCCCC;
      letter-spacing: 0px;
      display: none;
      text-align: justify; }
      .page .list .item-wrapper .text-detail:before {
        content: "";
        position: absolute;
        transform-origin: 0 0;
        -webkit-transform-origin: 0 0;
        top: 0;
        left: 0;
        right: 0;
        border-top: 1px dashed #e6e6e6;
        transform: scaleY(0.5);
        -webkit-transform: scaleY(0.5); }
    .page .list .item-wrapper .arrow-icon {
      background-repeat: no-repeat;
      background-size: 0.2986666667rem 0.512rem;
      background-image: url("../images/icon-arrow.png");
      width: 0.64rem;
      height: 0.64rem;
      background-position: 50% 50%;
      position: absolute;
      top: 1.792rem;
      right: 0.64rem; }
      .page .list .item-wrapper .arrow-icon.down {
        -webkit-transform: rotate(90deg);
                transform: rotate(90deg); }
  .page .btn {
    width: 100%;
    margin: auto;
    margin-top: 1.28rem;
    height: 1.8773333333rem;
    line-height: 1.8773333333rem;
    font-size: 0.7253333333rem;
    text-align: center;
    color: #fff;
    background-color: #fab600;
    display: block;
    position: fixed;
    bottom: 0; }
/*# sourceMappingURL=template01.css.map */