/* @function baseFontSize($width) {
	return 20 * $width / 640;
}
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }

q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

/* @function baseFontSize($width) {
	return 20 * $width / 640;
}
 */
html,
body {
  position: relative;
  height: 100%;
  width: 100%;
  font-family: "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
  -webkit-overflow-scrolling: touch !important; }

a {
  text-decoration: none; }

.page {
  padding-bottom: 3.2rem;
  min-height: 100%;
  background-size: contain;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  .page .banner {
    width: 100%;
    height: 7.68rem;
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto; }
  .page .list {
    padding-left: 2.1333333333rem;
    padding-right: 2.1333333333rem;
    margin-top: 1.28rem;
    overflow: hidden;
    position: relative; }
    .page .list .item-wrapper {
      overflow: hidden;
      position: relative;
      width: 4.2666666667rem;
      float: left; }
      .page .list .item-wrapper:nth-child(2n) {
        float: right; }
      .page .list .item-wrapper .item-icon {
        background-size: contain;
        background-repeat: no-repeat;
        width: 4.2666666667rem;
        height: 4.2666666667rem;
        background-position: 50% 50%; }
      .page .list .item-wrapper .text {
        width: 4.2666666667rem;
        text-align: center;
        margin-top: 0.4266666667rem;
        font-size: 0.64rem;
        color: #333;
        line-height: 0.896rem;
        word-break: break-all; }
  .page .btn-wrapper {
    position: fixed;
    bottom: 0;
    width: 100%; }
    .page .btn-wrapper .btn-bg {
      position: absolute;
      background-image: url("../images/btn-bg.png");
      background-size: 16rem 2.56rem;
      width: 100%;
      height: 2.56rem;
      z-index: 99;
      bottom: 1.8773333333rem; }
    .page .btn-wrapper .btn {
      margin-top: 0.4266666667rem;
      height: 1.8773333333rem;
      line-height: 1.8773333333rem;
      font-size: 0.7253333333rem;
      text-align: center;
      color: #fff;
      background-color: #fab600;
      display: block;
      position: relative;
      z-index: 999; }
    .page .btn-wrapper .sec-btn {
      font-size: 0.64rem;
      line-height: 0.896rem;
      color: #999999;
      text-align: center;
      margin: auto;
      display: block;
      white-space: nowrap;
      width: 4.2666666667rem;
      position: relative;
      z-index: 999; }
/*# sourceMappingURL=template02.css.map */