@charset "UTF-8";
@import "variables";
@import "sprite";
@import "../../../sass/reset";
@import "../../../sass/func";
html,
body {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
    font-family: "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    // background-color:#fc7834;
}

a {
    text-decoration: none;
}

.scroll-active {
    -webkit-overflow-scrolling: touch !important;
}

* {
    box-sizing: border-box;
}

.page {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: auto;
    /* max-width: 414px;
    margin: auto; */
    @at-root .content-wrapper {
        position: relative;
        z-index: 99;
        background-image: url("../images/icon-bg-bet.png");
        background-repeat: no-repeat;
        background-size: cover;
        padding-bottom: pxToRem(76px);
        min-height: 100%;
        @at-root .header {
            margin-bottom: pxToRem(26px);
            .row {
                position: absolute;
                width: 100%;
                top: pxToRem(20px);
                z-index: 9;
                padding-left: pxToRem(30px);
                .tb-wrapper {
                    display: inline-block;
                    vertical-align: middle;
                    border: 1px solid #fff;
                    padding: pxToRem(12px) pxToRem(20px);
                    border-radius: pxToRem(30px);
                    font-size: 0;
                    label {
                        font-size: pxToRem(30px);
                        color: #fff;
                        display: inline-block;
                        vertical-align: middle;
                        line-height: pxToRem(30px);
                        &.tb-nums {
                            color: #fee92c;
                        }
                    }
                    .icon-coin {
                        margin-left: pxToRem(8px);
                        margin-right: pxToRem(6px);
                        width: pxToRem(30px);
                        height: pxToRem(30px);
                        background-image: url("../images/icon-coin.png");
                        background-repeat: no-repeat;
                        background-size: contain;
                        background-position: 50% 50%;
                        display: inline-block;
                        vertical-align: middle;
                    }
                }
                .btn-tbTips {
                    display: inline-block;
                    vertical-align: middle;
                    width: pxToRem(43px);
                    height: pxToRem(43px);
                    background-image: url("../images/icon-doubt.png");
                    background-repeat: no-repeat;
                    background-size: contain;
                    background-position: 50% 50%;
                }
                .btn-wrapper {
                    position: absolute;
                    top: 50%;
                    right: pxToRem(30px);
                    transform: translateY(-50%);
                    font-size: 0;
                    span {
                        display: inline-block;
                        vertical-align: middle;
                        font-size: pxToRem(30px);
                        color: #fff;
                        font-family: 微软雅黑;
                        &.line {
                            border-left: 1px solid #fff;
                            width: 1px;
                            height: pxToRem(30px);
                            margin: 0 pxToRem(26px);
                        }
                        &.icon-red-point {
                            width: pxToRem(14px);
                            height: pxToRem(14px);
                            background-image: url("../images/icon-red-point.png");
                            background-repeat: no-repeat;
                            background-size: contain;
                            background-position: 50% 50%;
                            margin-left: pxToRem(8px);
                        }
                    }
                }
            }
            .text {
                width: pxToRem(634px);
                height: pxToRem(246px);
                background-image: url("../images/icon-text-bet.png");
                background-repeat: no-repeat;
                background-size: cover;
                background-position: 50% 100%;
                margin: auto;
            }
        }
        @at-root .md {
            margin-bottom: pxToRem(40px);
            @at-root .md-header {
                width: 100%;
                height: pxToRem(70px);
                background-color: rgba(255, 255, 255, .2);
                font-size: 0;
                color: #371407;
                line-height: pxToRem(70px);
                padding-left: pxToRem(30px);
                position: relative;
                span {
                    display: inline-block;
                    vertical-align: middle;
                    font-size: pxToRem(24px);
                    &.symbol {
                        margin-left: pxToRem(20px);
                        margin-right: pxToRem(12px);
                    }
                }
                .countdown-wrapper {
                    position: absolute;
                    right: pxToRem(30px);
                    top: 50%;
                    transform: translateY(-50%);
                    font-size: 0;
                    span {
                        display: inline-block;
                        vertical-align: middle;
                        font-size: pxToRem(24px);
                        &.icon-time {
                            width: pxToRem(34px);
                            height: pxToRem(33px);
                            background-image: url("../images/icon-time.png");
                            background-repeat: no-repeat;
                            background-size: contain;
                            background-position: 50% 50%;
                            margin-right: pxToRem(10px);
                        }
                        &.countdown {
                            min-width: pxToRem(100px)
                        }
                    }
                }
            }
            @at-root .md-content {
                position: relative;
                z-index: 99;
                background-color: #fff;
                // padding: pxToRem(40px) pxToRem(30px);
                // padding-top: pxToRem(40px);
                @at-root .k-line-wrapper {
                    position: relative;
                    height: pxToRem(360px);
                    width: 100%;
                    z-index: 99;
                    @at-root .k-line-day{
                        height: pxToRem(360px);
                        width: 100%;
                        // margin-bottom: pxToRem(40px);
                        // display: none;
                        position: absolute;
                        z-index: 99;
                        top: 0;
                        left: 0;
                    }
                }
                @at-root .bet-show {
                    position: relative;
                    width: pxToRem(690px);
                    height: pxToRem(76px);
                    background-image: url("../images/icon-line-wrapper.png");
                    background-repeat: no-repeat;
                    background-size: contain;
                    background-position: 50% 50%;
                    margin: auto;
                    margin-bottom: pxToRem(8px);
                    .up-show {
                        position: absolute;
                        top: 50%;
                        left: pxToRem(4px);
                        transform: translateY(-50%);
                        width: pxToRem(68px);
                        height: pxToRem(70px);
                        background-image: url("../images/icon-up.png");
                        background-repeat: no-repeat;
                        background-size: contain;
                        background-position: 50% 50%;
                        z-index: 99;
                    }
                    .down-show {
                        position: absolute;
                        top: 50%;
                        right: pxToRem(4px);
                        transform: translateY(-50%);
                        width: pxToRem(68px);
                        height: pxToRem(70px);
                        background-image: url("../images/icon-down.png");
                        background-repeat: no-repeat;
                        background-size: contain;
                        background-position: 50% 50%;
                        z-index: 99;
                    }
                    .progress-wrapper {
                        position: absolute;
                        left: pxToRem(72px);
                        right: pxToRem(72px);
                        top: 50%;
                        transform: translateY(-50%);
                        height: pxToRem(24px);
                        z-index: 9;
                        .progress-up {
                            position: absolute;
                            top: 50%;
                            left: pxToRem(-2px);
                            transform: translateY(-50%);
                            width: 50%;
                            height: pxToRem(24px);
                            background-image: url("../images/icon-up-progress.png");
                            background-repeat: no-repeat;
                            background-size: cover;
                        }
                        .progress-down {
                            position: absolute;
                            top: 50%;
                            right: pxToRem(-2px);
                            transform: translateY(-50%);
                            width: 50%;
                            height: pxToRem(24px);
                            background-image: url("../images/icon-down-progress.png");
                            background-repeat: no-repeat;
                            background-size: cover;
                        }
                        .icon-vs {
                            position: absolute;
                            z-index: 99;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            width: pxToRem(71px);
                            height: pxToRem(71px);
                            background-image: url("../images/icon-vs.png");
                            background-repeat: no-repeat;
                            background-size: contain;
                            background-position: 50% 50%;
                        }
                    }
                }
                @at-root .bet-wrapper {
                    width: pxToRem(690px);
                    height: pxToRem(318px);
                    font-size: 0;
                    margin: auto;
                    .bet-wrapper-item {
                        padding-top: pxToRem(32px);
                        width: 50%;
                        height: 100%;
                        display: inline-block;
                        vertical-align: middle;
                        &.bet-up-wrapper {
                            background-image: linear-gradient(to bottom, rgba(255, 228, 219, .7), #fff);
                        }
                        &.bet-down-wrapper {
                            background-image: linear-gradient(to bottom, rgba(223, 232, 239, .7), #fff);
                            .row01,
                            .row02 {
                                span {
                                    color: #5798d7;
                                    &.icon-people {
                                        background-image: url("../images/icon-people-blue.png");
                                    }
                                    &.icon-coin {
                                        background-image: url("../images/icon-coin-blue.png");
                                    }
                                }
                            }
                        }
                        .row01 {
                            margin-bottom: pxToRem(22px);
                            padding-left: pxToRem(76px);
                            span {
                                display: inline-block;
                                vertical-align: middle;
                                color: #f97259;
                                font-family: 微软雅黑;
                                font-size: pxToRem(26px);
                                &.icon-people {
                                    width: pxToRem(30px);
                                    height: pxToRem(27px);
                                    background-image: url("../images/icon-people-red.png");
                                    background-repeat: no-repeat;
                                    background-size: contain;
                                    background-position: 50% 50%;
                                    margin-right: pxToRem(10px);
                                }
                            }
                        }
                        .row02 {
                            margin-bottom: pxToRem(24px);
                            padding-left: pxToRem(76px);
                            span {
                                display: inline-block;
                                vertical-align: middle;
                                color: #f97259;
                                font-family: 微软雅黑;
                                font-size: pxToRem(26px);
                                &.icon-coin {
                                    width: pxToRem(33px);
                                    height: pxToRem(33px);
                                    background-image: url("../images/icon-coin-red.png");
                                    background-repeat: no-repeat;
                                    background-size: contain;
                                    background-position: 50% 50%;
                                    margin-right: pxToRem(10px);
                                }
                            }
                        }
                        .btn-bet {
                            width: pxToRem(320px);
                            height: pxToRem(128px);
                            margin: auto;
                            border-radius: pxToRem(6px);
                            background-color: rgb(248, 87, 57);
                            text-align: center;
                            padding-top: pxToRem(28px);
                            &.bet-down {
                                background-color: rgb(87, 152, 215);
                                .label02 {
                                    color: #9fcdf9;
                                }
                            }
                            .label01 {
                                margin-bottom: pxToRem(10px);
                                span {
                                    display: inline-block;
                                    vertical-align: middle;
                                    color: #fff;
                                    font-family: 微软雅黑;
                                    font-size: pxToRem(44px);
                                    &.icon-arrow {
                                        width: pxToRem(27px);
                                        height: pxToRem(38px);
                                        background-image: url("../images/icon-arrow.png");
                                        background-repeat: no-repeat;
                                        background-size: contain;
                                        background-position: 50% 50%;
                                        margin-left: pxToRem(8px);
                                        &.icon-arrow-down {
                                            transform: rotate(-180deg);
                                        }
                                    }
                                }
                            }
                            .label02 {
                                color: #ffcbc1;
                                font-size: pxToRem(25px);
                            }
                        }
                    }
                }
            }
        }
        @at-root .footer {
            // padding: 0 pxToRem(30px);
            .footer-header {
                font-size: 0;
                text-align: center;
                margin-bottom: pxToRem(42px);
                span {
                    display: inline-block;
                    vertical-align: middle;
                    font-size: pxToRem(40px);
                    font-weight: bold;
                    font-family: 微软雅黑;
                    color: #fff;
                    &.icon-cup {
                        width: pxToRem(44px);
                        height: pxToRem(48px);
                        background-image: url("../images/icon-cup.png");
                        background-repeat: no-repeat;
                        background-size: contain;
                        background-position: 50% 50%;
                        margin-right: pxToRem(18px);
                    }
                }
            }
            @at-root .footer-content {
                border-radius: pxToRem(6px);
                width: pxToRem(690px);
                margin: auto;
                background-color: #fff;
                .list-header {
                    padding: 0 pxToRem(54px);
                    color: #a4a4a4;
                    font-size: 0;
                    border-bottom: 1px solid #dedede;
                    height: pxToRem(100px);
                    line-height: pxToRem(100px);
                    white-space: nowrap;
                    span {
                        font-size: pxToRem(22px);
                        text-align: center;
                        vertical-align: middle;
                        display: inline-block;
                        &:first-child {
                            width: pxToRem(100px);
                            margin-right: pxToRem(74px);
                        }
                        &:nth-child(2) {
                            width: pxToRem(80px);
                            margin-right: pxToRem(74px);
                        }
                        &:nth-child(3) {
                            width: pxToRem(86px);
                            margin-right: pxToRem(108px);
                        }
                        &:last-child {
                            width: pxToRem(60px);
                        }
                    }
                }
                .list-content {
                    .list-item {
                        height: pxToRem(120px);
                        // line-height: pxToRem(120px);
                        padding: pxToRem(20px) pxToRem(54px);
                        font-size: 0;
                        white-space: nowrap;
                        &:nth-child(2n) {
                            background-color: #f6f6f6;
                        }
                        &:nth-child(2) {
                            span {
                                &:first-child {
                                    color: #fff;
                                    background-color: rgb(252, 143, 85);
                                }
                            }
                        }
                        &:nth-child(3) {
                            span {
                                &:first-child {
                                    color: #fff;
                                    background-color: rgb(255, 195, 80);
                                }
                            }
                        }
                        &:nth-child(4) {
                            span {
                                &:first-child {
                                    color: #fff;
                                    background-color: #d7b066;
                                }
                            }
                        }
                        &:nth-child(5) {
                            span {
                                &:first-child {
                                    color: #fff;
                                    background-color: #e0c591;
                                }
                            }
                        }
                        span {
                            font-size: pxToRem(22px);
                            text-align: center;
                            vertical-align: middle;
                            display: inline-block;
                            &:first-child {
                                width: pxToRem(100px);
                                margin-right: pxToRem(74px);
                                border-radius: pxToRem(10px);
                                background-color: rgb(247, 98, 91);
                                height: pxToRem(46px);
                                line-height: pxToRem(46px);
                                color: #fff;
                                font-size: pxToRem(26px);
                            }
                            &:nth-child(2) {
                                width: pxToRem(80px);
                                height: pxToRem(80px);
                                margin-right: pxToRem(74px);
                                border-radius: 50%;
                                img {
                                    width: 100%;
                                    height: 100%;
                                    border-radius: 50%;
                                }
                            }
                            &:nth-child(3) {
                                width: pxToRem(86px);
                                margin-right: pxToRem(108px);
                                line-height: 120%;
                                text-overflow: ellipsis;
                                overflow: hidden;
                                white-space: nowrap;
                            }
                            &:last-child {
                                width: pxToRem(60px);
                            }
                        }
                    }
                }
            }
        }
        .copyright {
            text-align: center;
            font-size: pxToRem(18px);
            color: #fff;
            margin: auto;
            margin-top: pxToRem(42px);
            line-height: pxToRem(32px);
        }
    }
}

.dialog {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 999;
    display: none;
    font-family: 微软雅黑;
    .mask {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 99;
        background-color: rgba(0, 0, 0, .6);
    }
    .dialog-item {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -55%);
        width: pxToRem(620px);
        // height: pxToRem(510px);
        background-color: #fff;
        border-radius: pxToRem(10px);
        z-index: 999;
        padding: pxToRem(46px);
        padding-bottom: pxToRem(52px);
        color: #5f5f5f;
        font-size: pxToRem(22px);
        display: none;
        &.dialog-rule {
            .dialog-content {
                height: pxToRem(620px);
                overflow: auto;
            }
        }
        &.dialog-bet-tips {
            .dialog-content {
                .tips-wrapper {
                    position: relative;
                    height: pxToRem(320px);
                    .icon-pai {
                        position: absolute;
                        top: pxToRem(34px);
                        left: pxToRem(84px);
                        width: pxToRem(190px);
                        height: pxToRem(285px);
                        background-image: url("../images/icon-pai.png");
                        background-repeat: no-repeat;
                        background-size: contain;
                        background-position: 50% 50%;
                        z-index: 999;
                    }
                    .icon-dialog {
                        position: absolute;
                        top: pxToRem(96px);
                        left: pxToRem(242px);
                        width: pxToRem(247px);
                        height: pxToRem(193px);
                        background-image: url("../images/icon-dialog.png");
                        background-repeat: no-repeat;
                        background-size: contain;
                        background-position: 50% 50%;
                        z-index: 99;
                        font-size: pxToRem(24px);
                        line-height: pxToRem(34px);
                        color: #5f5f5f;
                        text-align: center;
                        padding-top: pxToRem(66px);
                    }
                }
            }
        }
        &.dialog-bet-rest {
            .dialog-content {
                .tips-wrapper {
                    position: relative;
                    height: pxToRem(266px);
                    .icon-pai {
                        position: absolute;
                        top: pxToRem(16px);
                        left: pxToRem(70px);
                        width: pxToRem(164px);
                        height: pxToRem(247px);
                        background-image: url("../images/icon-pai-rest.png");
                        background-repeat: no-repeat;
                        background-size: contain;
                        background-position: 50% 50%;
                        z-index: 999;
                    }
                    .icon-dialog {
                        position: absolute;
                        top: pxToRem(40px);
                        left: pxToRem(214px);
                        width: pxToRem(247px);
                        height: pxToRem(193px);
                        background-image: url("../images/icon-dialog.png");
                        background-repeat: no-repeat;
                        background-size: contain;
                        background-position: 50% 50%;
                        z-index: 99;
                        font-size: pxToRem(24px);
                        line-height: pxToRem(34px);
                        color: #5f5f5f;
                        text-align: center;
                        padding-top: pxToRem(46px);
                    }
                }
                .text-tips {
                    font-size: pxToRem(18px);
                    font-family: 微软雅黑;
                    color: #797979;
                    text-align: center;
                    line-height: initial;
                    margin-top: pxToRem(16px);
                    margin-bottom: 0;
                    font {
                        color: #f97259;
                    }

                }
            }
        }
        
        &.bet-item {
            &.dialog-bet-down {
                .title {
                    background-color: rgb(87, 152, 215);
                }
                .dialog-content {
                    .my-rangeslider {
                        background-color: rgb(220, 236, 247);
                    }
                    .down-rangeslider__fill {
                        background-color: rgb(154, 195, 236);
                        border-radius: pxToRem(4px);
                        border-radius: pxToRem(4px);
                        height: pxToRem(19px);
                    }
                    .rangeslider__handle {
                        background-image: url("../images/icon-handle-down.png");
                    }
                }
            }
            .title {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                background-color: rgb(249, 114, 89);
                height: pxToRem(98px);
                line-height: pxToRem(98px);
                color: #fff;
                font-size: 0;
                z-index: 99;
                margin-bottom: 0;
                 border-top-left-radius: pxToRem(10px);
                    border-top-right-radius: pxToRem(10px);
                span {
                    display: inline-block;
                    vertical-align: middle;
                    color: #fff;
                    font-family: 微软雅黑;
                    font-size: pxToRem(36px);
                    // line-height: initial;
                    &.icon-arrow {
                        width: pxToRem(21px);
                        height: pxToRem(30px);
                        background-image: url("../images/icon-arrow.png");
                        background-repeat: no-repeat;
                        background-size: contain;
                        background-position: 50% 50%;
                        margin-left: pxToRem(10px);
                        &.icon-arrow-down {
                            transform: rotate(-180deg);
                        }
                    }
                }
            }
            .dialog-content {
                margin-top: pxToRem(52px);
                padding-top: pxToRem(56px);
                .my-rangeslider {
                    border-radius: pxToRem(4px);
                    background-color: rgb(255, 239, 234);
                    width: pxToRem(544px);
                    height: pxToRem(14px);
                    margin-bottom: pxToRem(30px);
                    position: relative;
                }
                .up-rangeslider__fill {
                    border-radius: pxToRem(4px);
                    border-radius: pxToRem(4px);
                    background-color: rgb(255, 156, 117);
                    height: pxToRem(19px);
                }
                .rangeslider__handle {
                    width: pxToRem(48px);
                    height: pxToRem(48px);
                    background-image: url("../images/icon-handle-up.png");
                    background-repeat: no-repeat;
                    background-size: contain;
                    background-position: 50% 50%;
                    top: 50%;
                    margin-top: pxToRem(-22px);
                    box-shadow: none;
                    border: none;
                    &:after {
                        content: initial;
                    }
                }
                .range-nums {
                    font-size: 0;
                    white-space: nowrap;
                    margin-bottom: pxToRem(40px);
                    span {
                        display: inline-block;
                        vertical-align: middle;
                        font-size: pxToRem(24px);
                        margin-right: pxToRem(66px);
                        &:first-child {
                            margin-right: pxToRem(80px);
                        }
                        &:nth-child(3) {
                            margin-right: pxToRem(60px);
                        }
                        &:nth-child(4) {
                            margin-right: pxToRem(60px);
                        }
                        &:nth-child(5) {
                            margin-right: pxToRem(70px);
                        }
                    }
                }
                .tb-num-wrapper {
                    font-size: 0;
                    margin: auto;
                    text-align: center;
                    margin-bottom: pxToRem(46px);
                    span {
                        display: inline-block;
                        vertical-align: text-bottom;
                        color: #686868;
                        font-size: pxToRem(24px);
                        &.tb-num {
                            // width: pxToRem(170px);
                            // height: pxToRem(55px);
                            // background-color: rgba(233, 233, 233, .4);
                            // border: 1px solid rgb(180, 180, 180);
                            // padding: pxToRem(12px) pxToRem(24px);
                            // line-height: pxToRem(31px);
                            margin-right: pxToRem(16px);
                            font-size: pxToRem(55px);
                            color: #f97259;
                            line-height: pxToRem(52px);
                            // border-radius: pxToRem(10px);
                            // text-align: left;
                        }
                    }
                }
                .btn-submit {
                    width: pxToRem(532px);
                    height: pxToRem(80px);
                    line-height: pxToRem(80px);
                    margin: auto;
                    background-color: rgb(255, 228, 0);
                    border-radius: pxToRem(10px);
                    color: #aa7400;
                    text-align: center;
                    font-size: pxToRem(36px);
                    margin-top: pxToRem(32px);
                }
            }
        }
        .title {
            color: #3e3e3e;
            font-size: pxToRem(30px);
            text-align: center;
            margin-bottom: pxToRem(40px);
        }
        .dialog-content {
            line-height: pxToRem(40px);
            text-align: justify;
            position: relative;
            div {
                margin-bottom: pxToRem(12px);
            }
            .btn-confirm {
                width: pxToRem(370px);
                height: pxToRem(80px);
                line-height: pxToRem(80px);
                margin: auto;
                background-color: rgb(255, 228, 0);
                border-radius: pxToRem(10px);
                color: #aa7400;
                text-align: center;
                font-size: pxToRem(36px);
                margin-top: pxToRem(32px);
            }
        }
        .btn-close {
            position: absolute;
            width: pxToRem(54px);
            height: pxToRem(54px);
            left: 50%;
            bottom: pxToRem(-70px);
            transform: translateX(-50%);
            background-image: url("../images/icon-close.png");
            background-repeat: no-repeat;
            background-size: contain;
            background-position: 50% 50%;
        }
    }
}

.show {
    display: block !important;
}

.hidden {
    display: none !important;
}
