@charset "UTF-8";
@import "variables";
@import "sprite";
@import "../../../sass/reset";
@import "../../../sass/func";
.abs{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.page-index {
    background: url('../images/bg-title.png') no-repeat top,url('../images/bg-index.png') no-repeat bottom,-webkit-gradient(linear, 0% 0%, 0% 100%, from(#1887d7), to(#691dd4)) ;
    background-size: 100%;
    padding-top: pxToRem(106px);
}

// 首页样式
.index-title{
    @include background ('../images/title.png', 701px, 642px);
    margin: 0 auto;
}

.logo{
    position: absolute;
    left: pxToRem(40px);
    top: pxToRem(47px);
    @include background ('../images/logo.png', 224px, 74px);
}
.cat{
    position: absolute;
    @include background('../images/cat.png',528px, 459px);
    left: pxToRem(102px);
    bottom: pxToRem(178px);
}
.btn-rules{
    position: absolute;
    right: pxToRem(40px);
    top: pxToRem(76px);
    width: pxToRem(168px);    
    height: pxToRem(44px);
    background: #ffd541;
    color:#422c8d;
    border:1px solid #3e43a9;
    border-radius: pxToRem(20px);
    font-size: pxToRem(24px);
    text-align: center;
    line-height: pxToRem(44px);
}

.btn-join{
    @include background ('../images/btn-join.png', 538px, 99px);
    position: absolute;
    left: 0;
    right: 0;
    bottom: pxToRem(66px);
    margin: 0 auto;
}

// 活动规则
.rule-sec {
    display: none;
    @extend .abs;
    overflow: hidden;
    .masker{
        background: rgba(0,0,0,0.85);
        z-index: 100;
    }
}
.rule-content{
    @extend .abs;
    @include background('../images/cat-bg.png', 695px, 913px);
    z-index: 110;
    margin:auto;
    transform: translate(0, pxToRem(-78px));
}
.btn-rule-cls{
        @include background('../images/btn-rule-cls.png', 73px, 73px);
        content: '';
        position: absolute;
        bottom: pxToRem(-78px);
        left: 0;
        right: 0;
        margin: 0 auto;
}
.rule-scroll{
    @extend .abs;
    // z-index: 110;
    top: pxToRem(226px);
    bottom: pxToRem(62px);
    overflow: auto;
    padding:0 pxToRem(52px);
    color:$darkRedColor;
    text-align: justify;
    .title{
        width: pxToRem(558px);
        height: pxToRem(49px);
        @include background('../images/title-rule.png', 558px, 49px);
        margin: 0 auto pxToRem(34px);
        &:before,&:after{
            display: inline-block;
            content:'';
        }
    }
    p{
        font-size: pxToRem(24px);
        line-height: pxToRem(40px);
        margin-bottom: pxToRem(48px);
    }
    .mark{
        width: pxToRem(34px);
        height: pxToRem(34px);
        border-radius: 50%;
        background-color: #ff4753;
        color:$defaultColor;
        text-align: center;
        font-size: pxToRem(12px);
        line-height: pxToRem(34px);
        vertical-align: pxToRem(1px);
        margin-right: pxToRem(18px);
    }
}

// 弹窗
.alert-wrapper .pop-content{
    @include background('../images/pop/pop-bg.png', 508px, 467px);
    padding: pxToRem(143px) 0;
    color:#330508;
    p{
        font-size: pxToRem(40px);
    }
}
.btn-common-y{
    @include background('../images/pop/confirm-bg.png', 397px, 94px);
    position: absolute;
    bottom: pxToRem(68px);
    left: 0;
    right: 0;
    color: $defaultColor;
    line-height: pxToRem(94px);
}