@charset "UTF-8";
@import "../../../sass/func";

.icon-block {
    display: block;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.icon-inline-block {
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.icon-title0 {
	// @extend .icon-block;
	background-image: url(../images/title0.png);
	width: pxToRem(614px);
	height: percent(252);
}
.icon-subtitle0 {
	background-image: url(../images/subtitle0.png);
	width: pxToRem(575px);
	height: percent(142);
}
.icon-pliers {
	background-image: url(../images/pliers.png);
	width: pxToRem(246px);
	height: percent(366);
}

.icon-logo {
	background-image: url(../images/logo.png);
	width: pxToRem(328px);
	height: pxToRem(57px);
}

// .icon-clock {
// 	background-image: url(../images/clock.png);
// 	width: pxToRem(42px);
// 	height: pxToRem(47px);
// }
.sprite-icons {
	display: inline-block;
  background-image: url(../images/sprite_icons.png);
  background-size: pxToRem(196px)  pxToRem(119px);
  background-repeat:no-repeat;
}

.icon-card {
  @extend .sprite-icons;
  display: block;
  background-position: pxToRem(-76px) pxToRem(0px);
  width: pxToRem(68px);
  height: pxToRem(34px);
}
.icon-chick {
  @extend .sprite-icons;
  background-position: pxToRem(-154px) pxToRem(-57px);
  width: pxToRem(34px);
  height: pxToRem(47px);
}
.icon-circle {
  @extend .sprite-icons;
  display: block;
  background-position: pxToRem(0px) pxToRem(0px);
  width: pxToRem(66px);
  height: pxToRem(66px);
}
.icon-clock {
  @extend .sprite-icons;
  background-position: pxToRem(-154px) pxToRem(0px);
  width: pxToRem(42px);
  height: pxToRem(47px);
}
.icon-face {
  @extend .sprite-icons;
  background-position: pxToRem(0px) pxToRem(-76px);
  width: pxToRem(46px);
  height: pxToRem(43px);
}
//======

.icon-brown {
	background-image: url(../images/bg_brown.png);
	width: pxToRem(466px);
	height: pxToRem(50px);
}
.icon-pliers0 {
	@extend .icon-block;
	background-image: url(../images/pliers0.png);
	width: pxToRem(78px);
	height: pxToRem(488px);
}
.icon-pliers0-big {
	background-image: url(../images/pliers0_big.png);
	width: pxToRem(154px);
	height: pxToRem(508px);
}
.icon-claw {
	// @extend .icon-block;
	background-image: url(../images/claw.png);
	width: pxToRem(60px);
	height: pxToRem(114px);
}
.icon-claw-big {
	background-image: url(../images/claw_big.png);
	width: pxToRem(145px);
	height: pxToRem(207px);
}
// .icon-face {
// 	background-image: url(../images/face.png);
// 	width: pxToRem(46px);
// 	height:pxToRem(43px);
// }

.icon-btn-game-red {
	@extend .icon-block;
	@include icon-background('../images/btn_game_red.png', 189px, 153px);
}
.icon-btn-game-grey {
	@extend .icon-block;
	@include icon-background('../images/btn_game_grey.png', 189px, 153px);
}
.icon-frame {
	@extend .icon-block;
	@include icon-background('../images/frame.png', 220px, 224px);
}

.icon-chicken-empty {
	@include icon-background('../images/chicken_empty.png', 113px, 128px);
}



// 注册小图标
.sprite-icons2 {
  display: block;
  background-image: url(../images/sprite_icons2.png);
  background-size: pxToRem(166px)  pxToRem(127px);
  background-repeat:no-repeat;
}
.icon-bg-cb {
  @extend .sprite-icons2;
  background-position: pxToRem(-82px) pxToRem(-85px);
  width: pxToRem(30px);
  height: pxToRem(30px);
}
.icon-lock {
  @extend .sprite-icons2;
  background-position: pxToRem(-40px) pxToRem(-85px);
  width: pxToRem(34px);
  height: pxToRem(36px);
}
.icon-phone {
  @extend .sprite-icons2;
  background-position: pxToRem(-136px) pxToRem(0px);
  width: pxToRem(32px);
  height: pxToRem(42px);
}
.icon-tick {
  @extend .sprite-icons2;
  background-position: pxToRem(-122px) pxToRem(-85px);
  width: pxToRem(18px);
  height: pxToRem(12px);
}
.icon-tip {
  @extend .sprite-icons2;
  display: inline-block;
  background-position: pxToRem(-136px) pxToRem(-52px);
  width: pxToRem(24px);
  height: pxToRem(21px);
  vertical-align: pxToRem(-2px);
  margin-right: pxToRem(12px);
}
.icon-tip2 {
  @extend .sprite-icons2;
  display: inline-block;
  background-position: pxToRem(-94px) pxToRem(-50px);
  width: pxToRem(24px);
  height: pxToRem(21px);
  vertical-align: pxToRem(-2px);
  margin-right: pxToRem(12px);
}
.icon-title-chick {
  @extend .sprite-icons2;
  background-position: pxToRem(0px) pxToRem(0px);
  width: pxToRem(84px);
  height: pxToRem(75px);
}
.icon-vali-msg {
  @extend .sprite-icons2;
  background-position: pxToRem(0px) pxToRem(-85px);
  width: pxToRem(32px);
  height: pxToRem(42px);
}
.icon-vali-pic {
  @extend .sprite-icons2;
  background-position: pxToRem(-94px) pxToRem(0px);
  width: pxToRem(34px);
  height: pxToRem(40px);
}

.icon-monkey0 {
	background-image: url(../images/monkey0.png);
	width: pxToRem(134px);
	// height: pxToRem(146px);
}
.icon-monkey1 {
	background-image: url(../images/monkey1.png);
	width: pxToRem(134px);
	// height: pxToRem(146px);
}
.icon-chicken0 {
	background-image: url(../images/chicken0.png);
	width: pxToRem(147px);
	// height: pxToRem(151px);
}
.icon-chicken1 {
	background-image: url(../images/chicken1.png);
	width: pxToRem(108px);
	// height: pxToRem(152px);
}
.icon-pai0 {
	background-image: url(../images/pai0.png);
	width: pxToRem(144px);
	// height: pxToRem(157px);
}
.icon-pai1 {
	background-image: url(../images/pai1.png);
	width: pxToRem(100px);
	// height: pxToRem(150px);
}
.icon-rabbit0 {
	background-image: url(../images/rabbit0.png);
	width: pxToRem(92px);
	// height: pxToRem(151px);
}
.icon-rabbit1 {
	background-image: url(../images/rabbit1.png);
	width: pxToRem(93px);
	// height: pxToRem(151px);
}
