@charset "UTF-8";
@import "variables";
@import "../../../sass/func";
.pv-page {
	padding-bottom: 60px;
}
.pv-vd {
	width: 100%;
	padding: 0 pxToRem(60px);
}
.icon-crown {
	position: absolute;
	bottom:0;
	left: 50%;
	margin-left: -86px;
}
.pv-dr {
	font-size: 0;
	padding: pxToRem(10px) 0;
	&>div {
		display: inline-block;
		font-size: 13px;
		width: 49.8%;
	}
	.icon-cont {
		margin: pxToRem(40px) auto;
		position: relative;
		.icon-safe {
			margin-top: pxToRem(-26px);
			margin-left: pxToRem(-26px);
		}
		.icon-mian {
			margin-top: pxToRem(-25px);
			margin-left: pxToRem(-22px);
		}
		.icon-speed {
			margin-top: pxToRem(-29px);
			margin-left: pxToRem(-22px);
		}
		.icon-gift {
			margin-top: pxToRem(-25px);
			margin-left: pxToRem(-22px);
		}
	}
	.icon-pvi {
		position: absolute;
		left: 50%;
		top: 50%;
	}
}
.pv-btn {
	
	position: fixed;
	width: 100%;
	bottom: 0;
	left: 0;
	right: 0;
	// height: pxToRem(120px);
	height: 60px;
	background-color: #fff;
	.yellow-big-btn {
		margin: 10px auto;
	}
	&:before {
		@include border('top', $color-line-grey-light);
	}
}
#hasGotten {
	display: none;
}
#vipInvest {
	line-height: pxToRem(0px) !important;
}
.bv-invest {
	width: 100%;
	font-size: 15px;
	color: $color-text-brown;
	// height: pxToRem(50px);
	// line-height: pxToRem(50px);
	height: 25px;
	line-height: 25px;
}
.bv-comment {
	width: 100%;
	color: $color-text-brown-light;
	font-size: 12px;
	// height: pxToRem(30px);
	// line-height: pxToRem(24px);
	height: 15px;
	line-height: 8px;
}