@charset "UTF-8";
@import "variables";
@import "../../../sass/func";
.tbg-rc {
    position: relative;
    .pf-rgb {
        position: absolute;
        left: 50%;
        bottom: 0;
        margin-left: pxToRem(-158px);
    }
}

.pf-page, .pv-page {
    text-align: center;
    span,
    i {
        display: inline-block;
    }
    * {
        box-sizing: border-box;
    }
    .pf-txt1 {
        width: 100%;
        text-align: center;
        font-size: 22px;
        color: $color-pink-dark;
        font-weight: bold;
        // margin-top: pxToRem(66px);
        margin-top: 33px;
    }
    .pf-txt2 {
        width: 100%;
        font-size: 12px;
        color: $color-text-grey;
    }
    .pf-ulc {
        // margin-top: pxToRem(100px);
        margin-top: 50px;
        // display: none;
    }
   /*  .glogin-btn {
        width: pxToRem(690px);
        height: pxToRem(80px);
        line-height: pxToRem(80px);
        border-radius: pxToRem(80px);
        background-color: $color-bg-yellow;
        font-size: pxToRem(34px);
        color: $color-text-brown;
        margin: auto;
    } */
    .pf-lc {
        width: 100%;
        display: none;
        .icon-gou {
            margin: pxToRem(40px) auto;
            display: block;
        }
        .btns {
            width: 100%;
            display: flex;
            display: -webkit-box;
            margin-top: pxToRem(60px);
            &>div {
                width: pxToRem(330px);
                height: pxToRem(80px);
                line-height: pxToRem(80px);
                border-radius: pxToRem(80px);
                margin: 0 pxToRem(22px);
                font-size: 17px;
            }
        }
    }
    .pf-txt3 {
        font-size: 15px;
        color: $color-text-dark;
        font-weight: bold;
    }
    .red-txt {
        color: $color-text-red;
    }
    .btn-yborder {
        border: 1px solid $color-bg-yellow;
        color: $color-text-yellow;
    }
    .btn-yellow {
        background-color: $color-bg-yellow;
        color: $color-text-brown;
    }
}

.pf-rc {
    width: 100%;
    // margin-top: pxToRem(90px);
    margin-top: 45px;
    font-size: 15px;
    padding: 0 pxToRem(30px);
    .pf-rtitle {
        width: 100%;
        color: $color-pink-dark;
        position: relative;
        text-align: center;
        &:before {
            content: '';
            border-top: 1px solid $color-pink-dark;
            position: absolute;
            top: 50%;
            left: pxToRem(150px);
            width: pxToRem(120px);
            height: 0;
        }
        &:after {
            content: '';
            border-top: 1px solid $color-pink-dark;
            position: absolute;
            top: 50%;
            right: pxToRem(150px);
            width: pxToRem(120px);
            height: 0;
        }
    }
    .pf-rule {
    	width: 100%;
    	text-align: justify;
        // line-height: pxToRem(46px);
    	line-height: 30px;
    	margin: pxToRem(60px) 0 pxToRem(40px) 0;
    }
}
.lorange-txt {
	color: $color-text-orange-light;
}
.pf-rtable {
	width: 100%;
	border: 1px solid $color-pink-dark;
	border-radius: pxToRem(10px);
	&>li:nth-child(2) {
		margin-top: pxToRem(30px);
	}
	&>li:last-child {
		margin-bottom: pxToRem(30px);
	}
	li {
		display: block;
		font-size: 0;
		height: pxToRem(80px);
		line-height: pxToRem(80px);
		&>div {
			display: inline-block;
			font-size: 12px;
		}
		.pf-ri1 {
			width: 25%;
			position: relative;
            text-align: left;
			// padding-left: pxToRem(60px);
			span {
				margin-left: pxToRem(60px);
			}
		}
		.pf-ri2 {
			width: 29%;
		}
		.pf-ri3 {
			width: 26%;
		}
		.pf-ri4 {
			width: 20%;
		}
	}
	.pf-tr {
		background-color: $color-pink-dark;
		color: #fff;
        .pf-ri1 {
            text-align: center;
        }
	}
	.pf-ipackage {
		display: inline-block;
        text-align: center;
		// vertical-align: text-bottom;
		font-size: 11px;
		line-height: pxToRem(36px);
		color: #fff;
		position: absolute;
		top: pxToRem(22px);
		left: pxToRem(20px);
	}
	.pf-tr2 {
		.pf-item {
			font-size: 15px;
		}
	}
}
.pf-remark {
	width: 100%;
	text-align: left;
	padding: pxToRem(40px) 0;
	margin-top: pxToRem(20px);
	position: relative;
    border-bottom: 1px dashed $color-line-grey-light;
	// &:before {
		
	// 	@include border('bottom', $color-line-grey-light);
	// 	border-bottom: 1px dashed $color-line-grey-light;
	// }
	.pf-mtitle {
		margin-bottom: pxToRem(40px);
        font-weight: bold;
	}
	li {
		display: block;
		font-size: 0;
		position: relative;
		.r-ic {
			// display: inline-block;
			font-size: 12px;
			color: $color-pink-dark;
			// line-height: pxToRem(32px);
            line-height: 16px;
			text-align: center;
			// vertical-align: top;
			position: absolute;
			top: 6px;
			left: 0;
		}
		span {
            display:block;
			font-size: 15px;
			width: pxToRem(628px);
            // line-height: pxToRem(50px);
			line-height: 30px;
			margin-left: pxToRem(60px);
			text-align: justify;
		}
	}
}
.td-remark {
	width: 100%;
	// height: pxToRem(100px);
	// line-height: pxToRem(100px);
    height: 50px;
    line-height: 50px;
	color: $color-text-grey;
	font-size: 13px;
	text-align: center;
}