@charset "UTF-8";
@import "variables";
@import "sprite";
@import "../../../sass/reset";
@import "../../../sass/func";
@import "./page518";
// @import "./page2888";
html,
body {
    position: relative;
    // height: 100%;
    // width: 100%;
    // overflow: hidden;
    font-family: "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-overflow-scrolling: touch !important;
}

a {
    text-decoration: none;
}