@charset "UTF-8";
@import "variables";
@import "../../../sass/func";

.page2888-content {
	.tbg {
		position: relative;
		.icon-bag2888 {
			position: absolute;
			left: pxToRem(218px);
			bottom: pxToRem(-28px);
			
		}
	}
	.font30 {
		font-size: pxToRem(30px);
	}
	.font36 {
		font-size: pxToRem(36px);
	}
	.font50 {
		font-size: pxToRem(50px);
	}
	.info-sec {
		@include background("../images/frame.png", 690px, 283px);
		margin:0 auto;
		margin-top: pxToRem(78px);
		padding: 0 pxToRem(38px);
		color: $color-pink;
		text-align: center;
		box-sizing: border-box;
		.top {
			position: relative;
			height: pxToRem(128px);
			line-height: pxToRem(128px);
			font-size: pxToRem(48px);
			&:after {
				@include border(bottom, $color-line-grey-light);
				border: 1px dashed $color-line-grey-light;
			}
		}
		.bottom {
			font-size: 0;
			&>div {
				display: inline-block;
				width: 50%;
			}
			p {
				padding-top: pxToRem(30px);
			}
			span {
				display: block;
				color: $color-text-dark;
				font-size: pxToRem(24px);
				padding-top: pxToRem(24px);
			}
		}
	}
}