.icon-gift {
  display: block;
  background-image: url(../images/images_vip/sprite.png);
  background-size:pxToRem(106px) pxToRem(119px);
  background-repeat:no-repeat;
  background-position: pxToRem(-62px) pxToRem(0px);
  width: pxToRem(44px);
  height: pxToRem(50px);
}
.icon-mian {
  display: block;
  background-image: url(../images/images_vip/sprite.png);
  background-size:pxToRem(106px) pxToRem(119px);
  background-repeat:no-repeat;
  background-position: pxToRem(-62px) pxToRem(-60px);
  width: pxToRem(44px);
  height: pxToRem(50px);
}
.icon-safe {
  display: block;
  background-image: url(../images/images_vip/sprite.png);
  background-size:pxToRem(106px) pxToRem(119px);
  background-repeat:no-repeat;
  background-position: pxToRem(0px) pxToRem(0px);
  width: pxToRem(52px);
  height: pxToRem(51px);
}
.icon-speed {
  display: block;
  background-image: url(../images/images_vip/sprite.png);
  background-size:pxToRem(106px) pxToRem(119px);
  background-repeat:no-repeat;
  background-position: pxToRem(0px) pxToRem(-61px);
  width: pxToRem(43px);
  height: pxToRem(58px);
}
