@charset "UTF-8";
@import "variables";
@import "sprite";
@import "../../../sass/reset";
@import "../../../sass/func";
html,
body {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
    font-family: "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-overflow-scrolling: touch !important;
}

a {
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

i,
span,
ul,
li {
    display: inline-block;
}

.transform{
    transform: scale(1);
}
.abs{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.content {
    width: 100%;
    height: 100%;
}

.mask {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 30;
    background-color: rgba(0, 0, 0, .8);
}

.masker{
    @extend .mask;
    background: rgba(0,0,0,0);
    // z-index: 100;
}

::-webkit-scrollbar {
    //滚动条不可见
    display: none;
}

.page {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
}

.page-index {
    background: url('../images/bg-top.png') no-repeat top,url('../images/bg-bottom.png') no-repeat bottom,-webkit-gradient(linear, 0% 0%, 0% 100%, from(#c0fff4), to(#adfffe)) ;
    background-size: 100%;
}

// 首页样式
.index-title{
    @include background ('../images/title.png', 750px, 565px);
    margin: 0 auto;
}
.subtitle{
    @include background ('../images/bg-subtitle.png', 568px, 62px);
    position: absolute;
    left: 0;
    right: 0;
    top: pxToRem(360px);
    margin: 0 auto;
    // text-align: center;
    padding-left: pxToRem(136px);
    line-height: pxToRem(62px);
    font-size: pxToRem(27px);
}

.logo{
    position: absolute;
    left: pxToRem(32px);
    top: pxToRem(18px);
    @include background ('../images/logo.png', 185px, 61px);
}

.btn-rules{
    position: absolute;
    right: pxToRem(50px);
    top: pxToRem(0px);
    font-size: pxToRem(30px);
    text-align: center;
    line-height: pxToRem(64px);
    z-index: 2;
    span{
        display: inline-block;
        // margin-top: pxToRem(20px);
        width: pxToRem(130px);    
        height: pxToRem(64px);
        background: #4da261;
        border-radius: pxToRem(10px);
        text-decoration: underline;
    }
    &:before{
        content:'';
        display: block;
        width: pxToRem(86px);
        height: pxToRem(20px);
        border-left: pxToRem(6px) solid #4da261;
        border-right: pxToRem(6px) solid #4da261;
        margin: 0 auto;
    }
}

// 粽子
.dumpling-sec{
    width: 100%;
    @include background ('../images/rice-dumpling/bg.png', 750px, 718px);
    // background-size: 100%;
    background-size: pxToRem(1162px) pxToRem(885px);
    background-position: center top;
    position: absolute;
    bottom: 0;
    
    .face{
        position: absolute;
        left: pxToRem(136px);
        top: pxToRem(120px);
        background-position: top center;
        background-repeat: no-repeat;
        background-size:pxToRem(175px) pxToRem(171px);
        // background-size:pxToRem(226px) pxToRem(122px);
    }
    .left-hand,.right-hand{
        position: absolute;
        transform-origin:left bottom;
    }
    .dialogue{
        position: absolute;
        display: none;
        background-size:100%;
        background-repeat:no-repeat;
    }
    .dialogue.show{
        display: block;
    }
}
.dumpling-bg{
    width: 100%;
}
.dumpling-left{
    position: absolute;
    left: pxToRem(90px);
    top: pxToRem(128px);
    width: pxToRem(250px);
    height: pxToRem(265px);
    // background: rgba(255,255,255,0.5);
    .face{
        // @extend .icon-left;
        width: pxToRem(85px);
        height: pxToRem(38px);
        &:after{
            @extend .icon-face-left;
            content: '';
            display: block;
            width: pxToRem(71px);
            height: pxToRem(31px);
            margin: 0 auto;
            margin-top: pxToRem(-25px);
        }
    }
    .face1{
        @extend .icon-left;
    }
    .face2{
        @extend .icon-left1;
    }
    .left-hand{
        @extend .icon-hand-left1;
        left: pxToRem(62px);
        top: pxToRem(76px);
    }
    .right-hand{
        @extend .icon-hand-left2;
        right: pxToRem(-4px);
        top: pxToRem(39px);
    }
    .dialogue{
        @extend .icon-dialogue1;
        left:pxToRem(-40px);
        top:pxToRem(-130px);
    }
}
.dumpling-middle{
    position: absolute;
    left: pxToRem(294px);
    width: pxToRem(200px);
    height: pxToRem(260px);
    z-index: 1;
    // background: rgba(0,0,0,0.5);
    .face{
        // @extend .icon-middle;
        width: pxToRem(80px);
        height: pxToRem(46px);
        left: pxToRem(60px);
        top: pxToRem(135px);
    }
    .face1{
        @extend .icon-middle;
    }
    .face2{
        @extend .icon-middle1;
    }
    .left-hand{
        @extend .icon-hand-middle1;
        left: pxToRem(0px);
        top: pxToRem(53px);
        transform-origin:right bottom;
    }
    .right-hand{
        @extend .icon-hand-middle2;
        right: pxToRem(-10px);
        top: pxToRem(62px);
    }
    .dialogue{
        @extend .icon-dialogue2;
        left:pxToRem(-120px);
        top:pxToRem(-50px);
    }
}
.dumpling-right{
    position: absolute;
    left: pxToRem(428px);
    top: pxToRem(140px);
    width: pxToRem(250px);
    height: pxToRem(250px);
    // background: rgba(255,255,255,0.5);
    .face{
        // @extend .icon-right;
        width: pxToRem(76px);
        height: pxToRem(33px);
        left: pxToRem(50px);
        top: pxToRem(150px);
    }
    .face1{
        @extend .icon-right;
    }
    .face2{
        @extend .icon-right1;
    }
    .left-hand{
        @extend .icon-hand-right1;
        left: pxToRem(0px);
        bottom: pxToRem(62px);
        transform-origin:center top;

    }
    .right-hand{
        @extend .icon-hand-right2;
        right: pxToRem(40px);
        bottom: pxToRem(48px);
        transform-origin:right top;

    }
    .dialogue{
        @extend .icon-dialogue3;
        left:pxToRem(80px);
        top:pxToRem(-150px);
    }
}

// 活动规则
.rule-sec {
    display: none;
    @extend .abs;
    overflow: hidden;
    color:$mainColor;
    .title{
        width: pxToRem(392px);
        height: pxToRem(52px);
        border:1px solid $mainColor;
        font-size: 0;
        margin: pxToRem(94px) auto 0;
        span{
            display: inline-block;
            width: 49.9%;
            height: 100%;
            text-align: center;
            font-size: pxToRem(32px);
            line-height: pxToRem(52px);
        }
        span.on{
            color:$defaultColor;
            background-color: $mainColor;
        }
    }
}
.rule-content{
    @extend .abs;
    @include background('../images/bg-rules.png', 704px, 729px);
    z-index: 110;
    margin:auto;
    transform: translate(0, pxToRem(-46px));
}
.btn-cls{
        @extend .icon-btn-cls;
        content: '';
        position: absolute;
        bottom: pxToRem(-93px);
        left: 0;
        right: 0;
        margin: 0 auto;
}
.rule-scroll{
    @extend .abs;
    // z-index: 110;
    top: pxToRem(280px);
    bottom: pxToRem(60px);
    overflow: auto;
    padding:0 pxToRem(74px);
    text-align: justify;
    // 规则
    p{
        font-size: pxToRem(22px);
        line-height: pxToRem(35px);
        // margin-bottom: pxToRem(48px);
    }
    .subhead{
        color:$secondColor;
        font-size: pxToRem(26px);
        font-weight: bold;
        line-height: pxToRem(53px);
    }
    .time{
        font-size: pxToRem(26px);
        font-weight: bold;
        // margin-bottom: pxToRem(20px);
    }
    .mark,.text{
        display: inline-block;
        width: 94.9%;
        vertical-align: middle;
    }
    .mark{
        width: 5%;
        vertical-align: top;
    }
    // 拆棕奖励
    .award{
        font-size: 0;
    }
    .award-side{
        display: inline-block;
        // font-size: 0;
        line-height: pxToRem(56px);
        ul,li{
            width: 100%;
            // font-size: pxToRem(26px);
        }
        span{
           display: inline-block;
            font-size: pxToRem(26px); 
        }
    }
    .award-title{
        font-size: pxToRem(26px);
        width: pxToRem(121px);
        border-bottom: 1px solid $mainColor;
        font-weight: bold;
    }
    .left-side{
        width: 46%;
        span{
            width: 49.9%;
        }
    }
    .right-side{
        width: 53.9%;
        .award-title{
            color:$secondColor;
            border-color:$secondColor;
        }
        span{
            display: inline-block;
        }
        .award-name{
            width: 74%;
            font-weight: bold;
            color:$secondColor;
            
        }
        .award-link{
            text-decoration: underline;
        }
    }
}

// 表情icon
.icon-face-left {
  background-image: url(../images/face-sprite.png);
  background-size:pxToRem(175px) pxToRem(171px);
  background-position: pxToRem(0px) pxToRem(-140px);
}
.icon-left {
  background-image: url(../images/face-sprite.png);
  background-position: pxToRem(-90px) pxToRem(0px);
}
.icon-left1 {
  background-image: url(../images/face-sprite.png);
  background-position: pxToRem(0px) pxToRem(-56px);
}
.icon-middle {
  background-image: url(../images/face-sprite.png);
  background-position: pxToRem(-86px) pxToRem(-101px);
}
.icon-middle1 {
  background-image: url(../images/face-sprite.png);
  background-position: pxToRem(0px) pxToRem(0px);
}
.icon-right {
  background-image: url(../images/face-sprite.png);
  background-position: pxToRem(0px) pxToRem(-101px);
}
.icon-right1 {
  background-image: url(../images/face-sprite.png);
  background-position: pxToRem(-95px) pxToRem(-56px);
}


// 粽子手icon
.icon-hand-left1 {
  display: block;
  background-image: url(../images/hand-sprite.png);
  background-size:pxToRem(217px) pxToRem(114px);
  background-repeat:no-repeat;
  background-position: pxToRem(0px) pxToRem(0px);
  width: pxToRem(53px);
  height: pxToRem(50px);
}
.icon-hand-left2 {
  display: block;
  background-image: url(../images/hand-sprite.png);
  background-size:pxToRem(217px) pxToRem(114px);
  background-repeat:no-repeat;
  background-position: pxToRem(-105px) pxToRem(0px);
  width: pxToRem(43px);
  height: pxToRem(49px);
}
.icon-hand-middle1 {
  display: block;
  background-image: url(../images/hand-sprite.png);
  background-size:pxToRem(217px) pxToRem(114px);
  background-repeat:no-repeat;
  background-position: pxToRem(-195px) pxToRem(0px);
  width: pxToRem(22px);
  height: pxToRem(63px);
}
.icon-hand-middle2 {
  display: block;
  background-image: url(../images/hand-sprite.png);
  background-size:pxToRem(217px) pxToRem(114px);
  background-repeat:no-repeat;
  background-position: pxToRem(-158px) pxToRem(0px);
  width: pxToRem(27px);
  height: pxToRem(65px);
}
.icon-hand-right1 {
  display: block;
  background-image: url(../images/hand-sprite.png);
  background-size:pxToRem(217px) pxToRem(114px);
  background-repeat:no-repeat;
  background-position: pxToRem(-63px) pxToRem(0px);
  width: pxToRem(32px);
  height: pxToRem(71px);
}
.icon-hand-right2 {
  display: block;
  background-image: url(../images/hand-sprite.png);
  background-size:pxToRem(217px) pxToRem(114px);
  background-repeat:no-repeat;
  background-position: pxToRem(0px) pxToRem(-60px);
  width: pxToRem(48px);
  height: pxToRem(54px);
}

// 对话框icon
.icon-dialogue1{
  background-image: url(../images/rice-dumpling/dialogue1.png);
  width: pxToRem(192px);
  height: pxToRem(155px);  
}
.icon-dialogue2{
  background-image: url(../images/rice-dumpling/dialogue2.png);
  width: pxToRem(176px);
  height: pxToRem(125px);  
}
.icon-dialogue3{
  background-image: url(../images/rice-dumpling/dialogue3.png);
  width: pxToRem(185px);
  height: pxToRem(177px);  
}

// 主页按钮icon
.icon-btn-cls {
  display: block;
  background-image: url(../images/index-sprite.png);
  background-size:pxToRem(334px) pxToRem(242px);
  background-repeat:no-repeat;
  background-position: pxToRem(-252px) pxToRem(-100px);
  width: pxToRem(74px);
  height: pxToRem(74px);
}

@import 'components';