@charset "UTF-8";
@import "variables";
@import "sprite";
@import "../../../sass/reset";
@import "../../../sass/func";
body{
    color:$defaultColor;
}

// 更多机会
.more-chance{
    position: absolute;
    width: 100%;
    bottom: pxToRem(110px);
    text-align: center;
    font-size: pxToRem(34px);
    .more-chance-text{
        color:#046248;
        margin-bottom: pxToRem(14px);
    }
    .more-chance-num{
        color: $defaultColor;
    }
    .more-chance-btn{
        text-decoration: underline;
    }
}

// 底部弹出按钮
.btn-bottom-sec{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    transform: translate3d(0, 100%, 0);
    z-index: 5;
}
.btn-bottom-bg{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: pxToRem(298px);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(0,0,0,0)), to(rgba(0,0,0,0.9))) ;
    padding-top: pxToRem(104px);
    z-index: 10;
    .btn-icon{
        margin: 0 auto;  
        margin-bottom: pxToRem(17px);
    }
    .btn-coin-exchange{
        div{
            @extend .icon-coin-exchange;
        }
    }
    .btn-invest{
        div{
            @extend .icon-invest;  
        }
    }
    .btn-invite{
        div{
            @extend .icon-invite;  
        }
    }
}
.btn-bottom-con{
    width: 100%;
    text-align: center;
    font-size: 0;
}
.btn-bottom{
    position: relative;
    display: inline-block;
    width: 33%;
    font-size: pxToRem(22px);
    text-align: center;
}
// 弹窗
.pop-wrap{
    @include background('../images/bg-pop.png', 628px, 612px);
    padding: pxToRem(147px) pxToRem(70px) 0;
    text-align: center;
    p{
        color:$mainColor;
        font-size: pxToRem(32px);
        line-height: pxToRem(52px);
    }
    .em{
        color:#ffa87e;
        font-size: pxToRem(45px);
        font-weight: bold;
    }
    .em.big{
        font-size: pxToRem(51px);
    }
    .light{
        color:#ffa87e;
    }
    .btn-message{
        position: absolute;
        left: 0;
        right: 0;
        bottom: pxToRem(94px);
        width: pxToRem(227px);
        height: pxToRem(80px);
        line-height: pxToRem(80px);
        margin: 0 auto;
        font-size: pxToRem(28px);
        text-align: center;
        background-color: $mainColor;
        border-radius: pxToRem(8px);
    }
    .btn-message.off{
        background-color: #a0a0a0;
    }
    .tip{
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
        bottom: pxToRem(46px);
        font-size: pxToRem(20px);

    }
}


// 奖品弹窗
.prize-wrap{
    font-size: 0;
    text-align: center;
    .btn{
        display: inline-block;
        width: pxToRem(227px);
        height: pxToRem(79px);
        text-align: center;
        border:1px solid #149561;
        line-height: pxToRem(79px);
        font-size: pxToRem(28px);
    }
    .btn-open{
        background:#149561;
        margin-right: pxToRem(98px);
    }
    p{
        font-size: pxToRem(36px);
        font-weight: bold;
    }
    .prize-name{
        color:#eb3b09;
        font-size: pxToRem(48px);
        margin-bottom: pxToRem(112px);
    }
}
.prize-content{
    position: relative;
    @include background('../images/prize/prize-bg.png', 750px, 840px);
    background-size: 100%;
    background-position: top center;
    padding-top: pxToRem(600px);
    .dumpling{
        position: absolute;
        left: pxToRem(106px);
        top: pxToRem(180px);
        width: pxToRem(515px);
        height: pxToRem(312px);
        background-size: 100%;
    }
    .prize{
        position: absolute;
        right: pxToRem(120px);
        top: pxToRem(120px);
        width: pxToRem(255px);
        height: pxToRem(300px);
        background-size: 100%;
    }
}
// 奖品弹窗icon
.icon-dumpling1{
    background-image:url('../images/prize/1.png');
}
.icon-dumpling2{
    background-image:url('../images/prize/2.png');
}
.icon-dumpling3{
    background-image:url('../images/prize/3.png');
}
.icon-camera{
    background-image:url('../images/prize/camera.png');
}
.icon-coin{
    background-image:url('../images/prize/coin.png');
}
.icon-ipadair2{
    background-image:url('../images/prize/iPadAir2.png');
}
.icon-red-pack{
    background-image:url('../images/prize/red-pack.png');
}
.icon-vip{
    background-image:url('../images/prize/vip.png');
}

// 底部弹出按钮icon
.icon-coin-exchange {
  display: block;
  background-image: url(../images/index-sprite.png);
  background-size:pxToRem(242px) pxToRem(242px);
  background-repeat:no-repeat;
  background-position: pxToRem(0px) pxToRem(0px);
  width: pxToRem(116px);
  height: pxToRem(116px);
}
.icon-invite {
  display: block;
  background-image: url(../images/index-sprite.png);
  background-size:pxToRem(242px) pxToRem(242px);
  background-repeat:no-repeat;
  background-position: pxToRem(0px) pxToRem(-126px);
  width: pxToRem(116px);
  height: pxToRem(116px);
}
.icon-invest {
  display: block;
  background-image: url(../images/index-sprite.png);
  background-size:pxToRem(242px) pxToRem(242px);
  background-repeat:no-repeat;
  background-position: pxToRem(-126px) pxToRem(0px);
  width: pxToRem(116px);
  height: pxToRem(116px);
}