@charset "UTF-8";
@import "variables";
@import "sprite";
@import "../../../sass/reset";
@import "../../../sass/func";

html,
body {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
    font-family: "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    background-color:#fdf9e2;
}
.content,.page{
    width:100%;
    height:100%;
    overflow:scroll;
}

a {
    text-decoration: none;
}

.btn {
    height: pxToRem(88px);
    line-height: pxToRem(80px);
    text-align: center;
    font-size: pxToRem(30px);
    margin:auto;
}

.btn-red {
    color: #ffeb71;
	@extend .btn;
    @include background("../images/btn.png", 710px, 88px);
}

.btn-line {
	@extend .btn;
	@include background("../images/btn2.png", 710px, 88px);
}

//icons--------
.icon {
    display:inline-block;
    background-size:contain;
    background-repeat:no-repeat;
    background-position: center;
}
.icon-heart {
    @extend .icon;
    background-image:url("data:img/jpg;base64,iVBORw0KGgoAAAANSUhEUgAAACMAAAAaCAMAAAAKchUOAAAARVBMVEUAAAD/63H/63H/63H/63H/63H/63H/63H/63H/63H/63H/63H/63H/63H/63H/63H/63H/63H/63H/63H/63H/63H/63ExpjCcAAAAF3RSTlMA/vM/eB9bCOe7hc/flhClTLBoxTMr11hnMD4AAAFOSURBVCjPfZHpcsMgEIOl5b5swMf7P2qL7dRJ0/T7A6PRCO0CwMTFSw56xY3RwZOLwokm01zaszQVMofh6hhUhg0DVYTxvHmWQ7NymkIzVpnzgXCYlCzDcQZwNJDqagw5TEObqbDJ7PAgMAHgWeJMcim5veFGUzogGnVp+kpXTHl69mSdgTA0FZs5xX3k3rR5kgrFAHRtLzE2PLEym7mNJ5tT8dHTOdxYH2vqAqBwmbBW/MZpeocoHocpG3sF3djMWGZY2mtCb35l2J1+BcrMckmdLxNP2jPYJcImljuYi/txRCHt9yme2b4sND6aihSz5mo9k30tGXhU2hJT2sbCubyNajgffx4M1N61eIt3Cg1WkaaAyXOe8Acbo9tn1NRMYMffpNSPDUSKwgc0fVy0QZEVn1hJ46JoVnzEkX01yhf8Q+JAJvyDyr2E9L6XLwRHDIfPUwnqAAAAAElFTkSuQmCC");
    width:pxToRem(35px);
    height:pxToRem(26px);
}
.icon-search {
    @extend .icon;
    background-image:url("data:img/jpg;base64,iVBORw0KGgoAAAANSUhEUgAAACwAAAAsCAMAAAApWqozAAAAQlBMVEUAAAD///////////////////////////////////////////////////////////////////////////////////8IX9KGAAAAFXRSTlMAh/OcEZJa0sffb6g7HrO+ZFExfSqdBYY8AAABQklEQVQ4y82U23LDIAxEEcIYY3wP//+rHZQyRFhq04fO5Lx5vbPogm0YiwecEfZkfmOBKVcsph+tmDlBt3ubbwyKd6iGcZ3XYGu4k7xzJtbj+20anv5p0XLD+SI5fB50y/akQ6ceFD53qiM1mp6T9IOL2HI5icrmA6Z6jcRVXu2vChTlNCJT6bEXViMTS9CDV9G6kHqP3dycUdj49IDK0gDePFLJGpEPb2YHScu17ybvPBmElagd7XSQxsqLPMvokmZuc27PqHiPtsHWoV1kc+ivXerveLfd67bS7AXvYsuhrgm1RXvv0Y3SFwTk7rMfk/xVbLkwsAN3SyIoB2Z7LVXYi6K5Q/0h4RXjsNncAO0/wwmoudPYWW2sESDtdsuNKVK7uts4P2zjNAaM9T4wt87nueHf3f4vbjTvuoVkHY/efAEazSTK7twW3wAAAABJRU5ErkJggg==");
    width:pxToRem(44px);
    height:pxToRem(44px);
}
.mask {
        position: absolute;
        z-index: 99;
        left: 0;
        top: 0;
        width: 100%;
        // height: 100%;
        background-color: #000;
        opacity: .8;
        bottom: 0;
    }