@charset "UTF-8";
@import "variables";
@import "sprite";
@import "../../../sass/reset";
@import "../../../sass/func";

html,
body {
    position: relative;
    // height: 100%;
    // width: 100%;
    // overflow: hidden;
    font-family: "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    background-color:#fdf9e2;
}

a {
    text-decoration: none;
}

.btn {
    height: pxToRem(88px);
    line-height: pxToRem(80px);
    text-align: center;
    font-size: pxToRem(30px);
    margin:auto;
}

.btn-red {
    color: #ffeb71;
	@extend .btn;
    @include background("../images/btn.png", 710px, 88px);
}

.btn-line {
	@extend .btn;
	@include background("../images/btn2.png", 710px, 88px);
}