@charset "UTF-8";
@import "variables";
@import "sprite";
@import "../../../sass/reset";
@import "../../../sass/func";
.act-content {
    width: 100%;
    overflow: hidden;
    padding-top: pxToRem(90px);
    div {
        box-sizing: border-box;
    }
    .slidecont {
        width: pxToRem(330px);
        height: pxToRem(500px);
        // background-color: #fff;
        border-radius: 5px;
        position: relative;
        .piccont {
        	width: pxToRem(300px);
        	height: pxToRem(400px);
        	background-color: #fff;
        	position: relative;
        	box-shadow: pxToRem(10px) pxToRem(20px) pxToRem(10px) #eae1af;
        	// top: 0;
        	// left: 0;
        }
        .icon-picture {
            width: pxToRem(280px);
            height: pxToRem(400px);
            background-size: contain;
            background-repeat: no-repeat;
            position: absolute;
            top: 50%;
            left: 50%;
            margin-left: pxToRem(-140px);
            margin-top: pxToRem(-200px);
            background-position: center;
        }
        .icon-tag {
            width: pxToRem(120px);
            height: pxToRem(175px);
            @include background('../images/tag.png', 120px, 175px);
            background-size: cover;
            z-index: 2;
            position: absolute;
            top: pxToRem(-40px);
            right: pxToRem(-10px);
            font-size: pxToRem(26px);
            color: #fff;
            opacity: 0;
            span {
                transform: rotate(55deg);
                width: pxToRem(160px);
                height: pxToRem(50px);
                position: absolute;
                top: pxToRem(72px);
            }
        }
    }
    i,
    span,section {
        display: inline-block;
    }
    .swiper-container {
        width: 140%;
        position: absolute;
        left: -20%;
        overflow: visible !important;
    }
    .ptcont {
    	margin-top: pxToRem(500px);
    	font-size: pxToRem(30px);
    	color: #ae7524;
    	width: 100%;
    	text-align: center;
    	font {
    		font-size: pxToRem(36px);
    		color: #f7672a;
    		font-weight: bold;
    	}
    	&>span:first-child {
    		margin-right: pxToRem(10px);
    	}
    	.pnum {
    		text-decoration: underline;
    	}
    }
   	.more-pic {
   		width: pxToRem(100px);
   		height: pxToRem(100px);
   		font-size: pxToRem(22px);
   		color: #ffeb71;
   		// line-height: pxToRem(50px);
   		border-radius: pxToRem(100px);
   		position: absolute;
   		top: pxToRem(450px);
   		right: pxToRem(20px);
   		background-color: rgba(246,130,73,1);
   		z-index: 5;
   		text-align: center;
   		box-shadow: pxToRem(0px) pxToRem(16px) pxToRem(10px) #eae1af;
		span {
			width: 100%;
			height: 50%;
			box-sizing: border-box;
		}
		&>span:first-child {
			padding-top: pxToRem(20px);
		}
		&>span:last-child {
			padding-bottom: pxToRem(20px);
		}
   	}
   	.picdesc {
   		background-image: url('../images/txt-bg.png');
   		width: pxToRem(725px);
   		min-height: pxToRem(231px);
   		margin: auto;
   		background-size: 100% 100%;
   		font-size: pxToRem(26px);
   		color: #ae7524;
   		line-height: pxToRem(36px);
   		text-align: justify;
   		padding: pxToRem(40px);
   		margin-top: pxToRem(40px);
   		background-repeat: no-repeat;
   		background-position: center;
   	}
   	.btn {
   		margin-top: pxToRem(40px);
   	}
   	.btn-xf {
   		color: #f7672a;
   	}
   	.mask {
   		display: none;
   	}
}

.sbody {
    overflow: hidden;
}

