@charset "UTF-8";
@import "../../../sass/func";
.animated {
    animation-duration: 0.5s;
    animation-fill-mode: both;
}

@-webkit-keyframes slideInDown {
    0% {
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
        visibility: visible;
    }
    100% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes slideInDown {
    0% {
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
        visibility: visible;
    }
    100% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.slideInDown {
    @extend .animated;
    -webkit-animation-name: slideInDown;
    animation-name: slideInDown;
}

@-webkit-keyframes opacity {
    0% {
        // -webkit-transform: scale(1);
        // transform: scale(1);
        opacity: 1;
        visibility: visible;
    }
    50%{
        // -webkit-transform: scale(0.9);
        // transform: scale(0.9);
        opacity: 0.7;
    }
    100% {
        // -webkit-transform: scale(1);
        // transform: scale(1);
        opacity: 1;
    }
}

@keyframes opacity {
     0% {
        // -webkit-transform: scale(1);
        // transform: scale(1);
        opacity: 1;
        visibility: visible;
    }
    50%{
        // -webkit-transform: scale(0.9);
        // transform: scale(0.9);
        opacity: 0.7;
    }
    100% {
        // -webkit-transform: scale(1);
        // transform: scale(1);
        opacity: 1;
    }
}

.opacity {
    -webkit-animation: opacity 1.5s infinite;
    animation: opacity 1.5s infinite;
}


@-webkit-keyframes rotate {
    0% {
        -webkit-transform: rotate(-20deg);
        transform: rotate(-20deg);
    }
    25% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    50% {
        -webkit-transform: rotate(20deg);
        transform: rotate(20deg);
    }
    75% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(-20deg);
        transform: rotate(-20deg);
    }
}

@keyframes rotate {
    0% {
        -webkit-transform: rotate(-20deg);
        transform: rotate(-20deg);
    }
    25% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    50% {
        -webkit-transform: rotate(20deg);
        transform: rotate(20deg);
    }
    75% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(-20deg);
        transform: rotate(-20deg);
    }
}

.rotate {
    -webkit-animation: rotate 1s infinite;
    animation: rotate 1s infinite;
}

@-webkit-keyframes rotate1 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    50% {
        -webkit-transform: rotate(-20deg);
        transform: rotate(-20deg);
    }
    100% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
}

@keyframes rotate1 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    50% {
        -webkit-transform: rotate(-20deg);
        transform: rotate(-20deg);
    }
    100% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
}

.rotate1 {
    -webkit-animation: rotate1 1s infinite;
    animation: rotate1 1s infinite;
}