@charset "UTF-8";
@import "variables";
@import "sprite";
// @import "../../../sass/reset";
@import "../../../sass/func";

.authorize-info-wrap{
    .verification-code-con{
        margin-bottom: pxToRem(40px);
    }
    .verification-code-img{
        display: none; 
    }
    .verification-code-get{
        display: none; 
    }
    .next-btn{
        border-top: none;
        &:before,&:after{
            display: inline-block;
            position: absolute;
            left: 0;
            content:'';
            width: 100%;
            border-top: 1px solid $grayColor;
        }
        &:after{
            width: 33.3%;
            border-top: 1px solid $mainColor;
        }
    }
}
.authorize-info-form{
    .input-con{
        margin-bottom: pxToRem(40px);
    }
}
.info-btn{
    @extend .icon-tip;
    display: inline-block;
    vertical-align: bottom;
    margin-left: pxToRem(20px);
}
.forget-btn{
    display: block;
    color:$orangeColor;
    font-size: pxToRem(24px);
}

.authorize-second-form{
    .next-btn{
        &:after{
            width: 66.6%;
        }
    }
}

.authorizing-con{
    .next-btn{
        color:$mainColor;
        &:after{
            width: 100%;
        }
    }
}

.rolling-con{
    width: 120%;
    margin-left: -10%;
    margin-top: pxToRem(24px);
    color:#b3b3b3;
    font-size: pxToRem(24px);
    ul{
        width: 100%;
    }
}

.rolling-item{
    width: 100%;
    text-align: center;
    &.hide{
        display: none;
    }
    &:before{
        @extend .icon-tip-mark; 
        content: '';
        display: inline-block;
        vertical-align: middle;
        margin-right: pxToRem(20px);
    }
}