@charset "UTF-8";
@import "variables";
@import "sprite";
// @import "../../../sass/reset";
@import "../../../sass/func";

.page{
	padding-top:pxToRem(40px);
}
.phone-content {
    position: relative;
    width: pxToRem(690px);
    height: pxToRem(541px);
    border-radius: pxToRem(10px);
    border: 1px solid #e0e0e0;
    box-shadow: 0 0 pxToRem(30px) pxToRem(6px) #e5e5e5;
    margin: 0 auto;
    padding: 0 pxToRem(60px);
    h1 {
        margin-bottom: pxToRem(30px);
    }
}
