@charset "UTF-8";
@import "variables";
@import "sprite";
// @import "../../../sass/reset";
@import "../../../sass/func";

.information-content {
    position: relative;
    @include background('../images/information-bg.png', 748px, 962px);
    margin: pxToRem(20px) auto 0;
    padding:pxToRem(26px) pxToRem(30px);
}
.phone-info-content{
    height: pxToRem(290px);
    margin: 0 auto;
    padding:0 pxToRem(60px);
    color:#333;
    font-size: pxToRem(38px);
    .phone-number{
        margin-top: pxToRem(20px);
        line-height: pxToRem(80px);
        border-bottom: 1px solid #e0e0e0;
    }
}
.identity-info-content{
    position: relative;
    height: pxToRem(617px);
    padding: 0 pxToRem(60px);
}