@charset "UTF-8";
@import "../../../sass/func";
// game-icons
.sprite-game {
    display: block;
    background-image: url(../images/images_game/sprite_game.png);
    background-size: pxToRem(206px) pxToRem(161px);
    background-repeat: no-repeat;
}

.icon-air {
    @extend .sprite-game;
    background-position: pxToRem(0px) pxToRem(-89px);
    width: pxToRem(52px);
    height: pxToRem(72px);
}

//result-icons
.sprite-result {
    display: block;
    background-image: url(../images/images_result/sprite_result.png);
    background-size: pxToRem(224px) pxToRem(225px);
    background-repeat: no-repeat;
}

.icon-arrow-share {
    @extend .sprite-result;
    background-position: pxToRem(0px) pxToRem(0px);
    width: pxToRem(130px);
    height: pxToRem(225px);
}

// .icon-arrow-to-top {
//     @extend .sprite-result;
//     background-position: pxToRem(-140px) pxToRem(0px);
//     width: pxToRem(84px);
//     height: pxToRem(35px);
// }

// .icon-ball-green {
//     @extend .sprite-result;
//     background-position: pxToRem(-194px) pxToRem(-45px);
//     width: pxToRem(20px);
//     height: pxToRem(20px);
// }

// .icon-ball-red {
//     @extend .sprite-result;
//     background-position: pxToRem(-194px) pxToRem(-75px);
//     width: pxToRem(15px);
//     height: pxToRem(15px);
// }

// .icon-close {
//     @extend .sprite-result;
//     background-position: pxToRem(-140px) pxToRem(-45px);
//     width: pxToRem(44px);
//     height: pxToRem(45px);
// }

// .icon-star {
//     @extend .sprite-result;
//     background-position: pxToRem(-140px) pxToRem(-100px);
//     width: pxToRem(41px);
//     height: pxToRem(26px);
// }
