@charset "UTF-8";
@import "variables";
@import "../../../sass/func";
.font-orange {
    color: $txt-color-orange !important;
}

.date-sec {
    padding-top: pxToRem(66px);
    text-align: center;
    font-size: pxToRem(34px);
    color: $txt-color-brown;
    .sub-font {
        font-size: pxToRem(30px);
    }
    .day {
        margin: pxToRem(46px) auto pxToRem(10px) auto;
        color: $txt-color-red;
        font-size: pxToRem(100px);
        line-height: pxToRem(58px);
    }
}

.sign-sec {
    position: relative;
    width: pxToRem(580px);
    // height: pxToRem(410px);
    margin: pxToRem(40px) auto pxToRem(44px) auto;
    padding-bottom: pxToRem(24px);
    background: url(../images/shadow.png) no-repeat bottom;
    background-size: pxToRem(602px) pxToRem(70px);
    font-size: pxToRem(30px);
    text-align: center;
    // &:after {
    // 	content: '';
    // 	@extend .icon-shadow;
    // 	z-index: 1;
    // }
    @at-root .square {
        position: relative;
        width: 100%;
        // padding: pxToRem(56px) pxToRem(40px) pxToRem(36px) pxToRem(40px);
        background-color: #fdfdfd;
        border-radius: pxToRem(4px);
        box-sizing: border-box;
        color: $txt-color-brown;
        z-index: 2;
        &:before,
        &:after {
            content: '';
            position: absolute;
            @extend .icon-corner;
            top: pxToRem(14px);
        }
        &:before {
            left: pxToRem(14px);
        }
        &:after {
            transform: scale(-1, 1);
            right: pxToRem(14px);
        }
        .square-content {
            position: relative;
            padding: pxToRem(56px) pxToRem(40px) pxToRem(36px) pxToRem(40px);
            &:before,
            &:after {
                content: '';
                position: absolute;
                @extend .icon-corner;
                bottom: pxToRem(14px);
            }
            &:before {
                transform: scale(1, -1);
                left: pxToRem(14px);
            }
            &:after {
                transform: scale(-1, -1);
                right: pxToRem(14px);
            }
        }
        .sign-txt {
            line-height: pxToRem(50px);
            &:before {
                content: '';
                @extend .icon-quotation;
                vertical-align: text-top;
                margin-right: pxToRem(12px);
            }
            &:after {
                content: '';
                @extend .icon-quotation;
                transform: scale(-1, -1);
                vertical-align: text-top;
            }
        }
        .sign-status {
            display: block;
            width: pxToRem(60px);
            height: pxToRem(60px);
            line-height: pxToRem(64px);
            margin: pxToRem(32px) auto 0;
            border-radius: pxToRem(60px);
            color: $txt-color-red;
            border: 1px solid $txt-color-red;
        }
        @at-root .cutoff-title {
            padding: pxToRem(36px) 0 pxToRem(24px) 0;
            &:before,
            &:after {
                content: '';
                display: inline-block;
                width: pxToRem(8px);
                height: pxToRem(8px);
                border-radius: pxToRem(8px);
                background-color: $txt-color-brown;
                margin: 0 pxToRem(18px);
                vertical-align: pxToRem(8px);
            }
        }
    }
}

.list {
    padding: 0 pxToRem(85px);
    white-space: nowrap;
    font-size: 0;
    li {
        display: inline-block;
        vertical-align: bottom;
        &:first-child {
            margin-right: pxToRem(22px);
        }
    }
    @at-root .reward-frame {
        width: pxToRem(272px);
        height: pxToRem(110px);
        border-radius: pxToRem(20px);
        box-sizing: border-box;
        .frame-title {
            font-size: pxToRem(30px);
            padding: 0 pxToRem(22px);
        }
        .frame-content {
        	text-align: center;
        	padding-top: pxToRem(30px);
        	i {
        		display: inline-block;
        	}
        }
        .icon-coins {
        	font-size: pxToRem(22px);
        	color: #b41717;
        	text-align: center;
        	line-height: pxToRem(84px);
        	vertical-align: bottom;
        	margin-right: pxToRem(12px);
        }
        .vip-days {
        	width: pxToRem(106px);
        	height: pxToRem(62px);
        	line-height: pxToRem(62px);
        	font-size: pxToRem(22px);
        	margin-top: 0;
        }
    }
    @at-root .luck-frame {
        @extend .reward-frame;
        margin: 0 auto;
        width: pxToRem(288px);
        .frame-content {
            font-size: 0;
            text-align: center;
            padding-top: pxToRem(36px);
            &[data-value='0'] {
                &>i {
                    @extend .icon-face-cry;
                }
            }
            &[data-value='1'] {
                &>i:nth-child(n+2) {
                    @extend .icon-face-cry;
                }
            }
            &[data-value='2'] {
                &>i:nth-child(n+3) {
                    @extend .icon-face-cry;
                }
            }
            &[data-value='3'] {
                &>i:nth-child(n+4) {
                    @extend .icon-face-cry;
                }
            }
            &[data-value='4'] {
                &>i:nth-child(n+5) {
                    @extend .icon-face-cry;
                }
            }
        }
        .icon-face {
            // @extend .icon-inline-block;
            // background-image: url(../images/face-smile.png);
            // width: pxToRem(47px);
            // height: pxToRem(47px);
            @extend .icon-face-smile;
            margin: 0 pxToRem(2px);
        }
    }
}
.pk-sec {
	position: relative;
	width: pxToRem(580px);
	// height: pxToRem
	box-sizing: border-box;
	padding: pxToRem(28px);
	margin: pxToRem(48px) auto 0;
	border-radius: pxToRem(6px);
	color: $txt-color-brown;
	background-color: #ebdfc5;
	&:after {
		content: '';
		position: absolute;
		@extend .icon-arrow-brown;
		right: pxToRem(28px);
		top: 50%;
		transform: translate( 0, -50%);
	}
	div {
		font-size: pxToRem(30px);
		padding-bottom: pxToRem(20px);
	}
	p {
		font-size: pxToRem(24px);
	}
}
// 按钮
.btn-common {
	width: pxToRem(580px);
	height: pxToRem(92px);
	line-height: pxToRem(92px);
	color: #fff;
	font-size: pxToRem(32px);
	background-color: $txt-color-red;
	text-align:center;
	border-radius: pxToRem(6px);
	margin: pxToRem(98px) auto 0;
}

// popup 
.popup {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
.share {
	display: none;
	background: url(../images/arrow.png) no-repeat;
	background-size: pxToRem(152px) pxToRem(170px);
	background-position: pxToRem(548px) pxToRem(52px);
	background-color: rgba(0, 0, 0, .7);
	z-index: 999;
	text-align: center;
	color: #fff;
	font-size: pxToRem(36px);
	line-height: pxToRem(60px);
	padding-top: pxToRem(226px);
	box-sizing: border-box;
}