@charset "UTF-8";
@import "func";

.component-alert {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    [class$='-wrapper'] {
        position: absolute;
        width: pxToRem(610px);
        // height: pxToRem(292px);
        top: 50%;
        left: 50%;
        // margin-left: pxToRem(-300px);
        transform: translate(-50%, -70%);
        background-color: #fff;
        border-radius: pxToRem(16px);
        text-align: center;
        font-size: pxToRem(34px);
        z-index: 1000;
        [class$='-content'] {
            position: relative;
            padding: pxToRem(50px) pxToRem(36px);
            line-height: pxToRem(48px);
            color: #333;
            border-bottom: 1px solid $border-color-grey;
        }
        .btn {
            height: pxToRem(90px);
            line-height: pxToRem(90px);
            font-size: pxToRem(34px);
            color: #ffb432;
        }
    }
}

.component-dialog {
    @extend .component-alert;
    position: fixed;
    .dialog-content {
        padding: pxToRem(50px) pxToRem(68px) !important;
    }
    .btns {
        font-size: 0;
        .btn {
            display: inline-block;
            width: 50%;
            &.negative-btn {
                position: relative;
                color: #999;
                border-right: 1px solid $border-color-grey;
            }
        }
    }
    .dialog-title {
        width: pxToRem(550px);
        height: pxToRem(80px);
        line-height: pxToRem(80px);
        margin: auto;
        border-bottom: 1px dashed $border-color-grey;
        font-size: pxToRem($font-size-normal);
        color: $color-grey;
        text-align: center;
    }
}

// loader
$offset: 126;
$duration: 1.4s;

.spinner {
  position: absolute;
  z-index: 1200;
  top: 50%;
  left: 50%;
  margin-left: pxToRem(-44px);
  margin-top: pxToRem(-44px);
  opacity:1;
  // transition: opacity .15s ease;
  animation: rotator $duration linear infinite;
  animation-play-state: paused;
  width: pxToRem(88px);
  height: pxToRem(88px);
}
  

.spinner.show {
  opacity: 1;
  animation-play-state: running;

}
  
@-webkit-keyframes rotator {
  0% {
    transform: scale(0.5) rotate(0deg);
  }
  100% {
    transform: scale(0.5) rotate(270deg);
  }
}
  
@keyframes rotator {
  0% {
    transform: scale(0.5) rotate(0deg);
  }
  100% {
    transform: scale(0.5) rotate(270deg);
  }
}
  

.spinner .path {
  stroke: #dddddd;
  stroke-dasharray: $offset;
  stroke-dashoffset: 0;
  transform-origin: center;
  animation: dash $duration ease-in-out infinite;

}

@-webkit-keyframes dash {
  0% {
    stroke-dashoffset: $offset;
  }
  50% {
    stroke-dashoffset: ($offset/2);
    transform: rotate(135deg);
  }
    
  100% {
    stroke-dashoffset: $offset;
    transform: rotate(450deg);
  }
    
}  

@keyframes dash {
  0% {
    stroke-dashoffset: $offset;
  }
  50% {
    stroke-dashoffset: ($offset/2);
    transform: rotate(135deg);
  }
    
  100% {
    stroke-dashoffset: $offset;
    transform: rotate(450deg);
  }
    
}