@charset "UTF-8";
$background-color-grey: #fafafa;
$background-color-grey-light: #f8f8f8;

$border-color-grey: #e6e6e6;
$border-color-orange: #ffe8bb;

$color-black: #333333;
$color-grey-dark: #666666;
$color-grey: #999999;
$color-grey-light: #cccccc;
$color-green: #16d987;
$color-white: #fff;
$color-yellow: #fab600;
$color-yellow-lighter: #ffb700;
$color-yellow-light: #ffcc00;
$color-orange: #fd6040;

$font-size-larger: 40px;
$font-size-big: 34px;
$font-size-normal: 30px;
$font-size-smaller: 26px;
$font-size-small: 24px;
$font-size-tiny: 22px;
