@charset "UTF-8";
@import "variables";
@import "sprite";
@import "../../../sass/funcAdapt";
.page-p1 {
    height: 100%;
    background-image: url('../images/icon-top2.png');
    background-size: pxToRem(750px) pxToRem(399px);
    background-position: top;
    background-repeat: no-repeat;
    font-size: 0;
    overflow: auto;
}

.txt-top {
    @include background('../images/icon-top.png',
    750px,
    151px);
    font-size: 0;
    text-align: center;
    padding-top: pxToRem(30px);
    * {
        vertical-align: middle;
    }
    .icon-zhibo {
        @include inline-background('../images/icon-zhibo.png',
        42px,
        43px);
    }
    span {
        font-size: pxToRem($font-size-normal);
        color: $color-white;
        line-height: pxToRem($font-size-normal);
    }
}

.r-list {
    width: 100%;
    padding: pxToRem(30px);
    font-size: 0;
    &>li:not(:first-child) {
        margin-top: pxToRem(30px);
    }
    .r-row {
        width: 100%;
        padding: pxToRem(20px);
        border: 1px solid $border-color-grey;
        border-radius: pxToRem(10px);
        white-space: nowrap;
        font-size: 0;
        // &>div{
        //     display: inline-block;
        // }
    }
    .r-det {
        height: pxToRem(80px);

        &>div {
            display: inline-block;
        }
        &>* {
            vertical-align: middle;
        }
    }
    .avator-cont {
        width: pxToRem(78px);
        height: pxToRem(78px);
        border-radius: pxToRem(78px);
        border: 1px solid $border-color-orange;
        padding: pxToRem(3px);
        margin-right: pxToRem(20px);
        .icon-avator {
            width: 100%;
            height: 100%;
            border-radius: pxToRem(78px);
        }
    }
    .r-txt-cont {
        width: pxToRem(426px);
        white-space: normal;
        &>span {
            width: 100%;
        }
        .r-txt1 {
            color: $color-black;
            font-size: pxToRem($font-size-normal);
            line-height: pxToRem($font-size-normal);
        }
        .r-txt2 {
            color: $color-grey;
            font-size: pxToRem($font-size-small);
            line-height: pxToRem($font-size-small);
            margin-top: pxToRem(10px);
        }
    }
    .r-btn {
        width: pxToRem(120px);
        height: pxToRem(40px);
        line-height: pxToRem(40px);
        text-align: center;
        font-size: pxToRem($font-size-tiny);
        position: relative;
        border-radius: pxToRem(40px);
        padding-left: pxToRem(20px);
        &:before {
            content: '';
            width: pxToRem(10px);
            height: pxToRem(10px);
            border-radius: pxToRem(10px);
            position: absolute;
            left: pxToRem(18px);
            top: 50%;
            transform: translate(0, -50%);
        }
    }
    .r-live {
        .r-btn {
            background-color: $color-green;
            color: $color-white;
            &:before {
                background-color: $color-white;
            }
        }
        .r-img {
            width: 100%;
            height: pxToRem(288px);
            margin-top: pxToRem(24px);
            img {
                width: 100%;
                height: 100%;
            }
        }
    }
    .r-rest {
        background-color: $background-color-grey;
        .r-btn {
            background-color: transparent;
            color: $color-grey;
            border: 1px solid $border-color-grey;
            &:before {
                background-color: $color-grey;
            }
        }
    }
}
